hr { 
    display: block; 
    margin: 1em 0; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}

// Figures and images
// --------------------------------------------------

figure {
  margin: 0;
  &.large {
    @media @large {
      margin-right: -120px;
      margin-left: -50px;
      figcaption { 
        margin-left: 50px; 
      }
    }
  }
  &.half {
    @media @large {
      a {
        width: 280px;
        float: left;
        &:nth-child(odd) {
          margin-right: 10px;
        }
        &:nth-child(even) {
          margin-left: 10px;
        }
      }
      figcaption {
        padding-top: 10px;
        padding-bottom: 10px;
        clear: left;
      }
    }
  }
  &.third {
    @media @large {
      a {
        width: 180px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(3) {
          margin-right: 0;
        }
      }
      figcaption {
        padding-top: 10px;
        padding-bottom: 10px;
        clear: left;
      }
    }
  }
}
// image width overrides for #feature articles
@media @large {
  #feature .half a {
    width: 250px;
  }
  #feature .third a {
    width: 160px;
  }
}
img {
  max-width: 100%;
  height: auto;
  border-width: 0; 
  vertical-align: middle; 
  -ms-interpolation-mode: bicubic; 
}
svg:not(:root) {
  overflow: hidden; 
}
.feature {
  @media @large {
    margin-left: -20px;
    max-width: 980px;
    .clearfix();
  }
}
.recent-grid {
  li {
    float: left;
    padding: 2px;
  }
  img {
    width: 110px;
    height: 110px;
  }
  .clearfix();
}
#feature .recent-grid img {
    @media @large {
    width: 100px;
    height: 100px;
  }
}

// Well
// --------------------------------------------------

.well {
  border: 1px solid @comp-color;
  .rounded(4px);
}