article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
::-moz-selection{background-color:#dadada;color:#343434;text-shadow:none;}
::selection{background-color:#dadada;color:#343434;text-shadow:none;}
.all-caps{text-transform:uppercase;}
.pull-left{float:left;}
.pull-right{float:right;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.unstyled-list{list-style:none;margin-left:0;padding-left:0;}.unstyled-list li{list-style-type:none;}
@font-face{font-family:"Ampersand";src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+270C;}@font-face{font-family:"Ampersand";src:local("Georgia");unicode-range:U+270C;}.ampersand-placeholder{font-family:Verdana,sans-serif;}
.breakword{word-wrap:break-word;}
.normal-wrap{word-wrap:normal;}
.inherit-wrap{word-wrap:auto;}
.drop-cap:first-letter{float:left;margin:inherit;padding:inherit;font-size:4em;font-family:inherit;line-height:1;text-indent:0;background:transparent;color:inherit;}
html{font:normal 112.5%/1.65 serif;}
body{word-wrap:normal;color:#333332;}
.tera{font-size:117px;font-size:6.5rem;margin-bottom:0.25384615384615383rem;}
.giga{font-size:90px;font-size:5rem;margin-bottom:0.33rem;}
.mega{font-size:72px;font-size:4rem;margin-bottom:0.4125rem;}
.alpha{font-size:60px;font-size:3.3333333333333335rem;margin-bottom:0.495rem;}
.beta{font-size:48px;font-size:2.6666666666666665rem;margin-bottom:0.61875rem;}
.gamma{font-size:36px;font-size:2rem;margin-bottom:0.825rem;}
.delta{font-size:24px;font-size:1.3333333333333332rem;margin-bottom:1.2375rem;}
.epsilon{font-size:21px;font-size:1.1666666666666667rem;margin-bottom:1.4142857142857141rem;}
.zeta{font-size:18px;font-size:1rem;margin-bottom:1.65rem;}
h1{font-size:60px;font-size:3.3333333333333335rem;margin-bottom:0.495rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h2{font-size:48px;font-size:2.6666666666666665rem;margin-bottom:0.61875rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h3{font-size:36px;font-size:2rem;margin-bottom:0.825rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h4{font-size:24px;font-size:1.3333333333333332rem;margin-bottom:1.2375rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h5{font-size:21px;font-size:1.1666666666666667rem;margin-bottom:1.4142857142857141rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h6{font-size:18px;font-size:1rem;margin-bottom:1.65rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
p{margin:0 0 1.5em;}p+p{text-indent:1.5em;margin-top:-1.5em;}
abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;-o-hyphens:none;hyphens:none;}
pre code{word-wrap:normal;white-space:-moz-pre-wrap;white-space:pre-wrap;}
pre{white-space:pre;}
code{white-space:pre;font-family:monospace;}
abbr{font-variant:small-caps;font-weight:400;text-transform:lowercase;color:#333332;}abbr:hover{cursor:help;}
h1,h2,h3,h4,h5,h6{color:#333332;}
.lining dt,.lining dd{display:inline;margin:0;}
.lining dt+dt:before,.lining dd+dt:before{content:"\A";white-space:pre;}
.lining dd+dd:before{content:", ";}
.lining dd:before{content:": ";margin-left:-0.2rem;}
.dictionary-style dt{display:inline;counter-reset:definitions;}.dictionary-style dt+dt:before{content:", ";margin-left:-0.2rem;}
.dictionary-style dd{display:block;counter-increment:definitions;}.dictionary-style dd:before{content:counter(definitions, decimal) ". ";}
.stats-tabs{padding:0;}.stats-tabs li{display:inline-block;margin:0 0.625rem 0 0;padding:0 0.625rem 0 0;border-right:0.125rem solid #cccccc;}.stats-tabs li:last-child{margin:0;padding:0;border:none;}
.stats-tabs li a{display:inline-block;font-size:1.5rem;font-weight:bold;}.stats-tabs li a b{display:block;margin:0.125rem 0 0 0;font-size:0.875rem;font-weight:normal;}
.cite{display:block;font-size:0.875em;text-align:right;}
.pull-quote{position:relative;padding:1em;}.pull-quote:before,.pull-quote:after{height:1em;opacity:0.15;position:absolute;font-size:4em;}
.pull-quote:before{content:'“';top:0em;left:0em;}
.pull-quote:after{content:'”';bottom:0em;right:0em;}
h1,h2,h3,h4,h5,h6{font-family:'PT Sans Narrow',sans-serif;font-weight:700;}
h6{font-weight:400;}
a{text-decoration:none;color:#343434;}a:visited{color:#4e4e4e;}
a:hover{color:#1a1a1a;}
a:focus{outline:thin dotted;color:#343434;}
a:hover,a:active{outline:0;}
b,strong{font-weight:700;}
ul li{list-style-type:square;}
ol li{list-style-type:upper-roman;}
p>a,li>a,em>a,a>em,footer a{text-decoration:none;border-bottom:1px dotted #b3b3b1;}
p>a:hover,li>a:hover,em>a:hover,footer a:hover{text-decoration:none;border-bottom:1px solid #b3b3b1;}
figcaption{margin-top:0.75em;line-height:1.25;font-family:'PT Sans Narrow',sans-serif;font-size:18px;font-size:1rem;margin-bottom:1.65rem;}figcaption strong{padding-right:2px;text-transform:uppercase;}figcaption strong:after{content:"\003A";}
@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}[data-icon]:before{font-family:'icomoon';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}
.icon-twitter,.icon-feed,.icon-instagram,.icon-facebook,.icon-google-plus{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}
.icon-twitter:before{content:"\e000";}
.icon-feed:before{content:"\e003";}
.icon-instagram:before{content:"\e004";}
.icon-facebook:before{content:"\e001";}
.icon-google-plus:before{content:"\e002";}
.hidden{display:none;visibility:hidden;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{position:static;clip:auto;height:auto;width:auto;margin:0;overflow:visible;}
.visible-phone{display:none !important;}
.visible-tablet{display:none !important;}
.hidden-desktop{display:none !important;}
@media (max-width:767px){.visible-phone{display:inherit !important;} .hidden-phone{display:none !important;} .hidden-desktop{display:inherit !important;} .visible-desktop{display:none !important;}}@media (min-width:768px) and (max-width:979px){.visible-tablet{display:inherit !important;} .hidden-tablet{display:none !important;} .hidden-desktop{display:inherit !important;} .visible-desktop{display:none !important ;}}hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #ccc;border-bottom:1px solid #fff;}
article img{max-width:100%;height:auto;border-width:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
.btn{display:inline-block;*display:inline;*zoom:1;padding:6px 11px 6px;margin-bottom:0;font-family:'PT Sans Narrow',sans-serif;font-size:12px;font-size:1.2rem;font-weight:700;line-height:1;text-align:center;vertical-align:middle;background-color:#e6e6e6;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));background-image:-webkit-linear-gradient(top, #ffffff, #d9d9d9);background-color:#d9d9d9;background-image:-moz-linear-gradient(top, #ffffff, #d9d9d9);background-image:-ms-linear-gradient(top, #ffffff, #d9d9d9);background-image:-o-linear-gradient(top, #ffffff, #d9d9d9);background-image:linear-gradient(top, #ffffff, #d9d9d9);background-repeat:repeat-x;border:1px solid #ccc;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;*margin-left:.3em;}.btn:visited,.btn:hover{text-decoration:none;}
input[type="submit"].btn:hover{border-color:#b3b3b3;}
.btn:first-child{*margin-left:0;}
#contact-modal{display:none;}#contact-modal h1,#contact-modal h2{color:#ffffff;}
#contact-modal label{margin-right:12px;margin-bottom:9px;display:block;}
#contact-modal .txt{display:inline-block;color:#676767;width:80%;font-family:Arial,Tahoma,sans-serif;margin-bottom:10px;border:2px solid #ccc;padding:5px 9px;font-size:1.2em;line-height:1.4em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#contact-modal .txtarea{display:block;resize:none;color:#676767;font-family:Arial,Tahoma,sans-serif;margin-bottom:10px;width:80%;height:150px;border:2px solid #ccc;padding:5px 9px;font-size:1.2em;line-height:1.4em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#contact-modal .txt:focus,#contact-modal .txtarea:focus{border-style:solid;border-color:#bababa;color:#444;}
#contact-modal input.error,#contact-modal textarea.error{border-color:#973d3d;border-style:solid;background:#f0bebe;color:#a35959;}
#contact-modal input.error:focus,#contact-modal textarea.error:focus{border-color:#973d3d;color:#a35959;}
#contact-modal #send{color:#dee5f0;display:block;cursor:pointer;padding:5px 11px;font-size:1.2em;border:solid 2px #000000;border-radius:5px;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));background-image:-webkit-linear-gradient(top, #000000, #000000);background-color:#000000;background-image:-moz-linear-gradient(top, #000000, #000000);background-image:-ms-linear-gradient(top, #000000, #000000);background-image:-o-linear-gradient(top, #000000, #000000);background-image:linear-gradient(top, #000000, #000000);background-repeat:repeat-x;}#contact-modal #send:hover{border-color:#000000;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));background-image:-webkit-linear-gradient(top, #000000, #000000);background-color:#000000;background-image:-moz-linear-gradient(top, #000000, #000000);background-image:-ms-linear-gradient(top, #000000, #000000);background-image:-o-linear-gradient(top, #000000, #000000);background-image:linear-gradient(top, #000000, #000000);background-repeat:repeat-x;}
#contact-modal #send:active{color:#808080;border-color:#000000;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));background-image:-webkit-linear-gradient(top, #000000, #000000);background-color:#000000;background-image:-moz-linear-gradient(top, #000000, #000000);background-image:-ms-linear-gradient(top, #000000, #000000);background-image:-o-linear-gradient(top, #000000, #000000);background-image:linear-gradient(top, #000000, #000000);background-repeat:repeat-x;}
html{background:#ffffff url(../images/body-background.jpg);font-family:'PT Serif',serif;font-color:#333332;font-size:90%;}
#branding{display:none;}
.image-wrap{overflow:hidden;max-height:500px;}.image-wrap img{width:100%;height:auto;-ms-interpolation-mode:bicubic;}
#main,.footer-wrap{margin:0 auto;width:100%;*zoom:1;margin-top:1em;}#main:before,.footer-wrap:before,#main:after,.footer-wrap:after{display:table;content:"";}
#main:after,.footer-wrap:after{clear:both;}
#main:before,.footer-wrap:before,#main:after,.footer-wrap:after{content:"";display:table;}
#main:after,.footer-wrap:after{clear:both;}
#main article,.related-articles,.footer-wrap footer{display:inline;float:left;width:83.33333333333334%;margin-left:8.333333333333334%;margin-right:8.333333333333334%;}
.headline-wrap h1{font-size:48px;font-size:2.6666666666666665rem;margin-bottom:0.61875rem;}
.headline-wrap h2{font-size:24px;font-size:1.3333333333333332rem;margin-bottom:1.2375rem;text-transform:uppercase;}
.article-wrap h2{font-size:36px;font-size:2rem;margin-bottom:0.825rem;}
.article-wrap h3{font-size:24px;font-size:1.3333333333333332rem;margin-bottom:1.2375rem;}
.footer-wrap{background:#000000 url(../images/twinkle_twinkle.png);}.footer-wrap h4{font-size:18px;font-size:1rem;margin-bottom:1.65rem;text-transform:uppercase;}
.footer-wrap a,.footer-wrap a:active,.footer-wrap a:visited,.footer-wrap p,.footer-wrap h4,.footer-wrap h6{color:#bfbfbf;}
.footer-wrap a{border-bottom:0 solid transparent;}.footer-wrap a:hover{color:#ffffff;border-bottom:0 solid transparent;}
.byline{clear:both;font-size:80%;}
.article-author-top{display:none;}
.article-author-bottom .bio-photo{float:left;margin-right:25px;}
.article-author-top h4,.article-author-bottom h4{margin-bottom:0.5em;}
.article-author-top p,.article-author-bottom p{font-size:80%;font-style:italic;}
.article-author-top a,.article-author-bottom a,.article-author-top a:hover,.article-author-bottom a:hover{border-bottom:0 solid transparent;}
.article-author-top .bio-photo img,.article-author-bottom .bio-photo img{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
.toc{display:none;font-size:95%;}.toc header{background:#1a1a1a;}
.toc h1{margin:0;padding:5px 10px;color:#ffffff;}.toc h1:hover{cursor:pointer;}
.toc ul{margin:2px 0 0;padding:0;background:#4d4d4d;line-height:1;}
.toc li{display:block;margin:0;padding:0;font-family:'PT Sans Narrow',sans-serif;border-bottom:1px solid #808080;}.toc li:last-child{border-bottom:0 solid transparent;}
.toc li a,.toc li a:hover{color:#ffffff;border-bottom:0 solid transparent;}
.toc li a{padding:10px;display:block;}
.toc li ul{margin:0;border-top:1px solid #808080;}
.image-grid{list-style:none;margin:0;padding:0;}.image-grid li{display:inline;float:left;width:50%;}
.holder{clear:both;padding:15px 0;font-family:'PT Sans Narrow',sans-serif;}.holder a{cursor:pointer;margin:0 5px;}
.holder a.jp-previous{margin-left:0;margin-right:15px;display:inline-block;*display:inline;*zoom:1;padding:6px 11px 6px;margin-bottom:0;font-family:'PT Sans Narrow',sans-serif;font-size:12px;font-size:1.2rem;font-weight:700;line-height:1;text-align:center;vertical-align:middle;background-color:#e6e6e6;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));background-image:-webkit-linear-gradient(top, #ffffff, #d9d9d9);background-color:#d9d9d9;background-image:-moz-linear-gradient(top, #ffffff, #d9d9d9);background-image:-ms-linear-gradient(top, #ffffff, #d9d9d9);background-image:-o-linear-gradient(top, #ffffff, #d9d9d9);background-image:linear-gradient(top, #ffffff, #d9d9d9);background-repeat:repeat-x;border:1px solid #ccc;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;*margin-left:.3em;}.holder a.jp-previous:visited,.holder a.jp-previous:hover{text-decoration:none;}
.holder a.jp-next{margin-left:15px;margin-right:0;display:inline-block;*display:inline;*zoom:1;padding:6px 11px 6px;margin-bottom:0;font-family:'PT Sans Narrow',sans-serif;font-size:12px;font-size:1.2rem;font-weight:700;line-height:1;text-align:center;vertical-align:middle;background-color:#e6e6e6;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));background-image:-webkit-linear-gradient(top, #ffffff, #d9d9d9);background-color:#d9d9d9;background-image:-moz-linear-gradient(top, #ffffff, #d9d9d9);background-image:-ms-linear-gradient(top, #ffffff, #d9d9d9);background-image:-o-linear-gradient(top, #ffffff, #d9d9d9);background-image:linear-gradient(top, #ffffff, #d9d9d9);background-repeat:repeat-x;border:1px solid #ccc;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;*margin-left:.3em;}.holder a.jp-next:visited,.holder a.jp-next:hover{text-decoration:none;}
.holder a.jp-current{font-weight:bold;}
.holder a.jp-current,.holder a.jp-current:hover,.holder a.jp-disabled,.holder a.jp-disabled:hover{cursor:default;background:none;}
.holder span{margin:0 5px;}
.sponsors em{display:block;text-indent:-999em;background-position:left top;background-repeat:no-repeat;}
.sponsors a{display:block;opacity:.75;-webkit-transition:opacity 0.2s ease-in-out;-moz-transition:opacity 0.2s ease-in-out;-ms-transition:opacity 0.2s ease-in-out;-o-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out;}.sponsors a.mt em{width:180px;height:15px;background-image:url(../images/mt-logo-wide-white.png);border-bottom:0 solid transparent;}
.sponsors a:hover{border-bottom:0 solid transparent;opacity:1;}
.svg .sponsors a.mt em{background-image:url(../images/mt-logo-wide-white.svg);}
.chrome-frame{background:#000;text-align:center;}.chrome-frame p{margin:0;padding:10px;text-align:center;}
.fancybox-tmp iframe,.fancybox-tmp object{vertical-align:top;padding:0;margin:0;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;padding:0;margin:0;background:#ffffff;color:#343434;text-shadow:none;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);}
.fancybox-outer,.fancybox-inner{padding:0;margin:0;position:relative;outline:none;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{margin:0;padding:10px;}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;border:0;padding:0;margin:0;vertical-align:top;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('../images/fancybox_sprite.png');}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8020;}
#fancybox-loading div{width:44px;height:44px;background:url('../images/fancybox_loading.gif') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;background:transparent url('../images/blank.gif');-webkit-tap-highlight-color:rgba(0, 0, 0, 0);z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:20px;background-position:0 -36px;}
.fancybox-next span{right:20px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;padding:0;overflow:visible;visibility:hidden;}
#fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:#000;}
#fancybox-overlay.overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-title{visibility:hidden;position:relative;font-family:'PT Sans Narrow',sans-serif;font-weight:300;color:#343434;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8030;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#ffffff;font-weight:700;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{margin-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#ffffff;padding:10px;background:#000;background:rgba(0, 0, 0, 0.8);}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;position:static !important;} @page {margin:0.5cm;}h2,h3{orphans:3;widows:3;page-break-after:avoid;} p{orphans:3;widows:3;} pre,blockquote{border:1px solid #333;page-break-inside:avoid;padding:1em;} abbr[title]:after{content:" (" attr(title) ")";} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} img{max-width:100% !important;page-break-inside:avoid;} thead{display:table-header-group;} tr{page-break-inside:avoid;}}@media only screen and (min-width:480px){.image-grid li{width:33.333333%;}}@media only screen and (min-width:600px){html{font-size:95%;} #main article{display:inline;float:left;width:50%;margin-left:0%;margin-right:0%;} .related-articles,.footer-wrap footer{display:inline;float:left;width:50%;margin-left:25%;margin-right:25%;} .article-author-top,.toc{display:block;display:inline;float:left;width:16.666666666666668%;margin-left:4.166666666666667%;margin-right:4.166666666666667%;} .toc{position:fixed;top:25px;right:0;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);box-shadow:0 0 5px rgba(0, 0, 0, 0.5);} .image-grid li{width:25%;}}@media only screen and (min-width:768px){html{font-size:100%;} .image-grid li{width:20%;}}@media only screen and (min-width:992px){html{font-size:112.5%;} .image-grid li{width:16.666666666%;}}@media only screen and (min-width:1382px){.image-wrap div{display:inline;float:left;width:66.66666666666667%;margin-left:16.666666666666668%;margin-right:16.666666666666668%;} #main article{display:inline;float:left;width:37.5%;} .related-articles,.footer-wrap footer{display:inline;float:left;width:37.5%;margin-left:33.333333333333336%;margin-right:29.166666666666668%;} .article-author-top{display:inline;float:left;width:12.5%;margin-left:16.666666666666668%;}}@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){}
