/* ==========================================================================
   Scrim Gradient Mixin

   A simple little SCSS mixin for creating scrim gradients
   Inspired by Andreas Larson - https://github.com/larsenwork
   https://css-tricks.com/easing-linear-gradients/

   example: @include scrimGradient('to top', #000);
   ========================================================================== */

@mixin scrimgradient($direction: "to bottom", $startcolor: "black") {
  $scrimcoordinates: (
    0: 1,
    19: 0.838,
    34: 0.741,
    47: 0.682,
    56.5: 0.578,
    65: 0.494,
    73: 0.326,
    80.2: 0.175,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startcolor);
  $saturation: saturation($startcolor);
  $lightness: lightness($startcolor);
  $stops: ();
  @each $colorstop, $alphavalue in $scrimcoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphavalue)
      percentage($colorstop / 100);
    $stops: append($stops, $stop, comma);
  }
  background: linear-gradient(unquote($direction), $stops);
}
