<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>

<script>
  "use strict";

  // Instanciating InstantSearch.js with Algolia credentials
  var search = instantsearch({
    appId: "{{ site.algolia.application_id }}",
    apiKey: "{{ site.algolia.search_only_api_key }}",
    indexName: "{{ site.algolia.index_name }}",
    searchParameters: {
      restrictSearchableAttributes: ["title", "content"]
    },
    searchFunction: function searchFunction(helper) {
      var searchResults = document.querySelector(".search-hits");
      if (helper.state.query === "") {
        searchResults.style.display = "none";
        return;
      }
      helper.search();
      searchResults.style.display = "block";
    }
  });

  var hitTemplate = function hitTemplate(hit) {
    var url = hit.url;
    var title = hit._highlightResult.title.value;
    var content = hit._highlightResult.html.value;

    return (
      '<article class="entry"><h3 class="entry__title"><a href="{{ site.baseurl }}' +
      url +
      '">' +
      title +
      '</a></h3><div class="entry__excerpt">' +
      content +
      "</div></article>"
    );
  };

  // Adding searchbar and results widgets
  search.addWidget(
    instantsearch.widgets.searchBox({
      container: ".search-searchbar",
      poweredBy: true,
      placeholder: "Search...",
      reset: true
    })
  );
  search.addWidget(
    instantsearch.widgets.hits({
      container: ".search-hits",
      templates: {
        empty: "<p>No results</p>",
        item: hitTemplate
      }
    })
  );

  // Starting the search
  search.start();
</script>
