<div class="container">
  <div class="tiles">
    {% assign tiles = site.categories[page.feature.category] %}
    {% for post in tiles %}
      <article class="tile__item">
        <a href="{{ site.url }}{{ post.url }}">
          <img src="{{ site.url }}/images/{% if post.image.teaser %}{{ post.image.teaser }}{% else %}{{ site.teaser }}{% endif %}" alt="{{ post.title }}">
        </a>
        {% if post.categories contains 'mastering-paper' %}
          <h3 class="tile__title"><a href="{{ site.url }}{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | remove: 'Mastering Paper by FiftyThree: ' | remove: 'Mastering Paper by 53: ' | remove: ' with Paper by 53' }}</a></h3>
        {% else %}
          <h3 class="tile__title"><a href="{{ site.url }}{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></h3>
        {% endif %}
        {% if post.work %}
          <span class="tile__category">{{ post.work }}</span>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
