<article class="item" itemscope itemtype="http://schema.org/CreativeWork">
  <a href="{{ site.url }}{{ post.url }}">
    <div class="item__content">
      {% if post.categories contains 'mastering-paper' %}
        <h3 class="item__title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | remove: 'Mastering Paper by FiftyThree: ' | remove: 'Mastering Paper by 53: ' | remove: ' with Paper by FiftyThree' }}</h3>
        {% else %}
        <h3 class="item__title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
      {% endif %}
      <div class="item__meta">
        <span class="date published" itemprop="datePublished"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
        {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        <span class="archive__item-time"><svg class="icon"><use xlink:href="#icon-stopwatch"></use></svg> {% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read</span>
      </div>
      <div class="item__excerpt" itemprop="text">
        <p>{{ post.excerpt | markdownify | strip_html | strip_newlines | escape_once }}</p>
      </div>
    </div>

    <div class="item__image">
      {% if post.image.teaser %}
        <img src="{{ site.url }}/assets/images/{{ post.image.teaser }}" alt="">
      {% else %}
        <img src="{{ site.url }}/assets/images/{{ site.teaser }}" alt="">
      {% endif %}
    </div>
  </a>
</article>
