{% if page.breadcrumbs %}
  {% assign crumb-old = page.breadcrumbs[0] %}
  <div class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <span class="breadcrumb" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">Home</span></a>
    </span>
    {% for crumb in page.breadcrumbs %}
      <span aria-label="breadcrumb separator">/</span>
      <span class="breadcrumb" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="{{ crumb.url | relative_url }}" itemprop="item"><span itemprop="name">{{ crumb.label }}</span></a>
      </span>
    {% endfor %}
  </div>
{% endif %}
