{% if page.breadcrumbs %}
  <div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <span class="breadcrumb sr-only" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Home</span>
        <meta itemprop="position" content="1" />
      </a>
    </span>
    {% for crumb in page.breadcrumbs %}
      <span class="breadcrumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="{{ crumb.url | relative_url }}" itemprop="item">
          <span itemprop="name">{{ crumb.label }}</span>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </a>
      </span>
    {% endfor %}
  </div>
{% endif %}
