<article id="comment-{{ include.postId }}" class="js-comment comment {% if include.name == site.author.name %}admin{% endif %} {% unless include.replying_to == blank %}child{{ include.depth }}{% endunless %}">
  <div class="comment-avatar">
    {% if include.avatar %}
      <noscript><img src="{{ include.avatar }}" alt=""></noscript>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.avatar }}" alt="" class="lazyload blur-up">
    {% elsif include.email %}
      <noscript><img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" alt=""></noscript>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60 1x, https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=120 2x" alt="" class="lazyload blur-up">
    {% else %}
      <noscript><img src="/assets/images/avatar-60.png" alt=""></noscript>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60 1x, /assets/images/avatar-120.png 2x" alt="" class="lazyload blur-up">
    {% endif %}
  </div>
  <h3 class="comment-author-name">
    {% unless include.url == blank %}
      <a rel="external nofollow" href="{{ include.url }}">{{ include.name }}</a>
    {% else %}
      {{ include.name }}
    {% endunless %}
  </h3>
  <div class="comment-timestamp">
    {% if include.date %}
      {% if include.postId %}<a href="#comment-{{ include.postId }}" title="Permalink to this comment">{% endif %}
      <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%B %d, %Y' }}</time>
      {% if include.postId %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="comment-content">
    {{ include.message | markdownify }}
  </div>
  {% unless include.depth >= (site.comments.max_depth | plus:0) or page.comments_locked == true %}
    <div class="comment-reply">
      <a rel="nofollow" href="#comment-{{ include.postId }}" onclick="return addComment.moveForm('comment-{{ include.postId }}', '{{ include.postId }}', 'respond', '{{ page.slug }}')"><svg class="icon icon--reply" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-reply' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Reply to {{ include.name }}</a>
    </div>
  {% endunless %}
</article>

{% assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to == include.postId' %}
{% for reply in replies %}
  {% assign postId      = reply._id %}
  {% assign depth 	= include.depth | plus: 1 %}
  {% assign replying_to = reply.replying_to %}
  {% assign avatar      = reply.avatar %}
  {% assign email       = reply.email %}
  {% assign name        = reply.name %}
  {% assign url         = reply.url %}
  {% assign date        = reply.date %}
  {% assign message     = reply.message %}
  {% include comment.html replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message postId=postId depth=depth%}
{% endfor %}
