<article id="comment-{{ include.index }}" class="js-comment comment">
  {% if include.avatar %}
    <img class="comment__avatar" src="{{ include.avatar }}" alt="{{ include.name | escape }}" height="50" width="50">
  {% else %}
    <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=50" srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=100 2x" alt="{{ include.name | escape }}" height="50" width="50">
  {% endif %}
  <h3 class="comment__author-name">
    {% unless include.url == blank %}
      <a rel="external nofollow" href="{{ include.url }}">{{ include.name }}</a>
    {% else %}
      {{ include.name }}
    {% endunless %}
  </h3>
  <div class="comment__timestamp">
    {% if include.date %}
      {% if include.index %}<a href="#comment-{{ include.index }}" title="comment permalink">{% endif %}
      <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
      {% if include.index %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="comment__content">
    {{ include.message | markdownify }}
  </div>
</article>
