<article class="component">
  <header class="component__header">
    <h3 id="guide-{{ entry.title | slugify }}">{{ entry.title }}</h3>
      {% if entry.usage %}<p><strong>Usage:</strong> {{ entry.usage }}</p>{% endif %}
      {% if entry.module %}<p><strong>Include partial:</strong> <a href="https://github.com{{ site.repository | prepend: '/' | append: '/blob/master/' }}{{ entry.module }}">{{ entry.module }}</a></p>{% endif %}
      {% if entry.scss %}<p class="entry--last"><strong>SCSS partial:</strong> <a href="https://github.com{{ site.repository | prepend: '/' | append: '/blob/master/' }}{{ entry.scss }}">{{ entry.scss }}</a></p>{% endif %}
  </header>

  <div class="component__content">
    <div class="component__rendered">
      {{ entry.content }}
    </div>
    <div class="component__code">

{% highlight html %}
{{ entry.content }}
{% endhighlight %}

    </div>
  </div>
</article>
