<ul class="contact-list">
  {% if site.github.username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <svg class="icon icon--github" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-github' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
        <span class="label">GitHub</span>
      </a>
    </li>
  {% endif %}

  {% if site.twitter.username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <svg class="icon icon--twitter" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-twitter' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
        <span class="label">Twitter</span>
      </a>
    </li>
  {% endif %}

  {% if site.instagram.username %}
    <li>
      <a href="https://instagram.com/{{ site.instagram_username }}">
        <svg class="icon icon--instagram" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-instagram' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
        <span class="label">Instagram</span>
      </a>
    </li>
  {% endif %}

  {% if site.feed.path %}
    <li>
      <a href="{{ site.feed.path }}" title="Atom Feed">
        <svg class="icon icon--rss" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-rss' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
        <span class="label">Subscribe</span>
      </a>
    </li>
  {% endif %}
</ul>
