{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">
      <a href="{{ post.url | relative_url }}" rel="bookmark">{{ title | widont }}</a>
    </h3>
    {% assign feature_image = post.image.feature %}
    {% if feature_image %}
      <a href="{{ post.url | relative_url }}">
        {% assign f = feature_image | split: '.' %}
        <noscript><img src="{{ f[0] | relative_url }}-320.{{ f[1] }}" class="entry-image"></noscript>
        <img data-sizes="auto"
             src="{{ f[0] | relative_url }}-lq.{{ f[1] }}"
             data-srcset="{{ f[0] | relative_url }}-lq.{{ f[1] }} 20w,
                          {{ f[0] | relative_url }}-320.{{ f[1] }} 320w,
                          {{ f[0] | relative_url }}-768.{{ f[1] }} 768w,
                          {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w"
             alt="{{ post.title | strip_html }}"
             class="lazyload entry-image fade-in">
      </a>
    {% endif %}
  </header>
  <footer class="entry-meta">
    <ul>
      {% if post.work %}
        <li><svg class="icon icon--folder" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-folder' | prepend: 'assets/icons/' | relative_url }}"></use></svg>{{ post.work | markdownify | remove: '<p>' | remove: '</p>' }}</li>
      {% endif %}
      {% if post.date %}
        <li><svg class="icon icon--calendar" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-calendar' | prepend: 'assets/icons/' | relative_url }}"></use></svg><time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></li>
      {% endif %}
      {% if post.read_time %}
        <li><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-stopwatch' | prepend: 'assets/icons/' | relative_url }}"></use></svg>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</li>
      {% endif %}
      {% if site.data.comments[post.slug].size > 0 and post.comments %}
        <li><a href="{{ post.url | relative_url }}#comments"><svg class="icon icon--comments" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments' | prepend: 'assets/icons/' | relative_url }}"></use></svg>{{ site.data.comments[post.slug] | size }} Comment{% if site.data.comments[post.slug].size > 1 %}s{% endif %}</a></li>
      {% endif %}
    </ul>
  </footer>
  <div class="entry-excerpt">
    {% if post.excerpt %}
      {{ post.excerpt | markdownify }}
      <p><a href="{{ post.url | relative_url }}" class="more-link">Read more&hellip;</a></p>
    {% endif %}
  </div>
</article>
