{% assign favicon_version = site.favicon_version | default: '9BPnoQEY43' | prepend: '?v=' %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | prepend: '/assets/images/' | relative_url | append: favicon_version }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | prepend: '/assets/images/' | relative_url | append: favicon_version }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | prepend: '/assets/images/' | relative_url | append: favicon_version }}">
<link rel="manifest" href="{{ 'site.webmanifest' | relative_url | append: favicon_version }}">
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | prepend: '/assets/images/' | relative_url | append: favicon_version }}" color="#000000">
<link rel="shortcut icon" href="{{ 'favicon.ico' | prepend: '/assets/images/' | relative_url | append: favicon_version }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-config" content="{{ 'browserconfig.xml' | relative_url | append: favicon_version }}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">
