<footer id="footer" class="site__footer">
  <ul class="menu">
    <li><a href="/support/">Support me</a></li>
    <li><a href="/faqs/">FAQs</a></li>
    <li><a href="/terms/">Terms &amp; policies</a></li>
    <li><a href="/sitemap/">Sitemap</a></li>
  </ul>
  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <p>
        {% if site.author.twitter %}
          <a href="{{ site.author.twitter }}" rel="me">
            <svg class="icon" width="16px" height="16px">
              <use xlink:href="{{ 'icons.svg#icon-twitter' | prepend: 'assets/icons/' | relative_url }}"></use>
            </svg>
            Twitter
          </a>
        {% endif %}
        {% if site.author.github %}
          <a href="{{ site.author.github }}" rel="me">
            <svg class="icon" width="16px" height="16px">
              <use xlink:href="{{ 'icons.svg#icon-github' | prepend: 'assets/icons/' | relative_url }}"></use>
            </svg>
            GitHub
          </a>
        {% endif %}
        {% if site.author.instagram %}
          <a href="{{ site.author.instagram }}" rel="me">
            <svg class="icon" width="16px" height="16px">
              <use xlink:href="{{ 'icons.svg#icon-instagram' | prepend: 'assets/icons/' | relative_url }}"></use>
            </svg>
            Instagram
          </a>
        {% endif %}
        {% if site.feed.path %}
          <a href="{{ site.feed.path }}" title="Atom Feed">
            <svg class="icon" width="16px" height="16px">
              <use xlink:href="{{ 'icons.svg#icon-rss' | prepend: 'assets/icons/' | relative_url }}"></use>
            </svg>
            Subscribe
          </a>
        {% endif %}
      </p>
      <p>&copy; 2004&ndash;{{ site.time | date: '%Y' }} Michael Rose.</p>
    {% endif %}
  </div>
</footer>
