{% assign gallery = post.gallery | default: page.gallery %}
{% if gallery %}
  <div class="gallery-3-col">
    {% for img in gallery %}
      {% if img.url contains '://' %}
        {% assign url = img.url %}
      {% else %}
        {% assign url = img.url | relative_url %}
      {% endif %}
      {% assign image_lq_path = img.image_lq_path | default: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %}

      {% if img.url %}
        <a {% if img.class %}class="{{ img.class }}"{% endif %} href="{{ url }}" {% if img.title %}title="{{ img.title }}"{% endif %}>
          {% lazyload data-src="{{ img.image_path }}" src="{{ image_lq_path }}" alt="{{ img.alt }}" %}
        </a>
      {% else %}
        {% lazyload data-src="{{ img.image_path }}" src="{{ image_lq_path }}" alt="{{ img.alt }}" %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
