{% assign gallery = post.gallery | default: page.gallery %}
{% if gallery %}
  <div class="gallery-vertical">
    {% for img in gallery %}
      {% if img.url contains '://' %}
        {% assign url = img.url %}
      {% else %}
        {% assign url = img.url | relative_url %}
      {% endif %}

      {% if img.url %}
        <a class="gallery-img" href="{{ url }}" {% if img.title %}title="{{ img.title }}"{% endif %}>
          {% lazyload data-src="{{ img.image_path }}" src="{{ img.image_lq_path }}" alt="{{ img.alt }}" %}
        </a>
      {% else %}
        {% lazyload data-src="{{ img.image_path }}" src="{{ img.image_lq_path }}" alt="{{ img.alt }}" %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
