<!-- Cookie consent -->
<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" as="script">
<link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" as="style">
<!--<link rel="preload" href="/assets/javascripts/plugins/cookieNotice.js" as="script">-->

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css">

<!-- Geo IP -->
<link rel="preconnect" href="//freegeoip.net">

<!-- Amazon affiliate links -->
<!-- /assets/javascripts/plugins/amazonAjaxLinkLocaliser.js -->

<!-- Theme -->
<link rel="preload" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i|Roboto:400,400i,700" as="style">
<link rel="preload" href="/assets/icons/icons.svg" as="image">

<!-- Google analytics -->
<link rel="preload" href="https://www.google-analytics.com/analytics.js" as="script">
