{% unless page.layout == "glitch" %}
<header class="masthead">
  <div class="container">
    <a class="masthead__title" href="{{ site.url }}/">{{ site.title }}</a>
    <nav id="nav-primary" class="masthead__menu-wrapper">
      <ul class="masthead__menu">
        {% if page.breadcrumbs %}
          {% assign crumb = page.breadcrumbs[0] %}
          <li><a href="{{ site.url }}{{ crumb.url }}" class="masthead__menu-item">← {{ crumb.label }}</a></li>
        {% else %}
          <li><a href="{{ site.url }}/" class="masthead__menu-item">← Home</a></li>
        {% endif %}
        {% assign counter = 0 %}
        {% for link in site.data.navigation.masthead %}
          {% unless page.url contains link.url %}
            {% assign counter = counter | plus:1 %}
            <li><a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item {% if counter > 1 %}is--hidden{% endif %}">{{ link.title }}</a></li>
            {% endunless %}
        {% endfor %}
        <li><a href="#0" class="overlay__menu-trigger masthead__menu-item" aria-label="Navigation Menu" title="Navigation Menu">•&nbsp;•&nbsp;•</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endunless %}

<nav class="overlay__menu">
  <div class="overlay__menu-wrapper container">
    <ul class="overlay__menu-col-1">
      <li class="overlay__menu-label">Of Interest</li>
      {% for link in site.data.navigation.primary %}
        <li class="overlay__menu-item">
          <a href="{{ site.url }}{{ link.url }}">
            <div class="menu-thumb">{% if link.img %}<img src="{{ site.url }}/assets/images/{{ link.img }}" alt="">{% endif %}</div>
            <div class="menu-text">
              <div class="menu-title">{{ link.title }}</div>
              {% if link.excerpt %}<div class="menu-excerpt">{{ link.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</div>{% endif %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="overlay__menu-col-2">
      <li class="overlay__menu-label">Everything Else</li>
      {% for link in site.data.navigation.secondary %}
        <li class="overlay__menu-item--secondary"><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <button class="overlay__menu-close btn">[ESC] Close Menu</button>
</nav>

<div id="screen"></div>
