<nav class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <li class="menu-item">
      <a href="{{ '/articles/' | relative_url }}" itemprop="url">
        <span itemprop="name">Articles</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/notes/' | relative_url }}" itemprop="url">
        <span itemprop="name">Notes</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/mastering-paper/' | relative_url }}" itemprop="url">
        <span itemprop="name">Mastering Paper</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/work/' | relative_url }}" itemprop="url">
        <span itemprop="name">Works</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/support/' | relative_url }}" itemprop="url">
        <span itemprop="name">Support me</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/about/' | relative_url }}" itemprop="url">
        <span itemprop="name">About</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/contact/' | relative_url }}" itemprop="url">
        <span itemprop="name">Contact</span>
      </a>
    </li>
  </ul>
</nav>
