<nav id="nav-primary" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <li class="menu-item">
      <a href="{{ '/projects/' | relative_url }}" itemprop="url">
        <span itemprop="name">Projects</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/reviews/' | relative_url }}" itemprop="url">
        <span itemprop="name">Reviews</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/misc/' | relative_url }}" itemprop="url">
        <span itemprop="name">Odds & ends</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/about/' | relative_url }}" itemprop="url">
        <span itemprop="name">About</span>
      </a>
    </li>
  </ul>
</nav>
