{% if page.image.feature %}
  {% assign f = page.image.feature | split: '.' %}
  <div class="page__cover">
    <div class="page__cover-bg" style="background-image: url({{ site.url }}{{ f[0] }}-lq.{{ f[1] }});"></div>
  </div>
  <div class="{{ include.type | default: 'page' }}__hero">
    <noscript>
      <img src="{{ site.url }}{{ f[0] }}-220.{{ f[1] }}">
    </noscript>
    <img src="{{ site.url }}{{ f[0] }}-220.{{ f[1] }}"
         srcset="{{ site.url }}{{ f[0] }}-lq.{{ f[1] }}"
         data-srcset="{{ site.url }}{{ f[0] }}-220.{{ f[1] }} 220w,
                      {{ site.url }}{{ f[0] }}.{{ f[1] }} 1920w"
         data-sizes="auto"
         alt="{{ page.title }}"
         class="lazyload image blur-up">
    {% if page.image.credit %}{% include page__hero-credit.html %}{% endif %}
  </div>
{% else %}
  <div class="page__cover">
    {% if page.image.cover %}
      <div class="page__cover-bg" style="background-image: url({{ site.url }}{{ page.image.cover }});"></div>
    {% endif %}
  </div>
{% endif %}
