<header class="page__header">
  <h1 class="page__title">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  {% if page.breadcrumbs %}
    {% assign crumb = page.breadcrumbs[0] %}
    <div class="page__meta">
      <span class="taxonomy"><a href="{{ site.url }}{{ crumb.url }}"><strong>{{ crumb.label }}</strong></a></span>
      {% if page.read_time %}
        {% assign readtime = page.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        <span class="read-time"><svg class="icon"><use xlink:href="#icon-stopwatch"></use></svg> {% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read</span>
      {% endif %}
      {% if page.work %}
        <span class="work__type"><svg class="icon"><use xlink:href="#icon-folder"></use></svg> {{ page.work | markdownify | remove: '<p>' | remove: '</p>' }}</span>
      {% endif %}
      {% if site.data.comments[page.slug].size > 0 %}
        <span class="comment__count"><a href="#comments"><svg class="icon"><use xlink:href="#icon-comments"></use></svg> {{ site.data.comments[page.slug] | size }} Comment{% if site.data.comments[page.slug].size > 1 %}s{% endif %}</a></span>
      {% endif %}
    </div>
  {% endif %}

  {% if page.layout == 'archive' %}
    {% if page.excerpt %}
      <p class="page__excerpt">{{ page.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
  {% elsif page.layout == 'tag_index' %}
    <p class="page__excerpt">
      {% if tag.description %}
        {{ tag.description | markdownify | remove: '<p>' | remove: '</p>' }}
      {% else %}
        An archive of posts tagged <em>{{ page.title }}</em>.
      {% endif %}
    </p>
  {% elsif page.layout == 'splash' %}
    {{ content }}
  {% endif %}
</header>
