<header class="page__header">
  <h1 class="page__title">
    {% if page.alt_title %}
      {{ page.alt_title | markdownify | remove: '<p>' | remove: '</p>' }}
    {% elsif page.autopages %}
      {{ page.autopages.display_name }}
    {% else %}
      {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
    {% endif %}
  </h1>
  {% if page.breadcrumbs %}
    {% assign crumb = page.breadcrumbs[0] %}
    <div class="page__meta">
      <span class="taxonomy"><a href="{{ site.url }}{{ crumb.url }}"><strong>{{ crumb.label }}</strong></a></span>
      {% if page.read_time %}
        {% assign readtime = page.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        <span class="read-time"><svg class="icon" width="20px" height="20px"><use xlink:href="#icon-stopwatch"></use></svg>&nbsp;{% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read</span>
      {% endif %}
      {% if page.work %}
        <span class="work__type"><svg class="icon" width="20px" height="20px"><use xlink:href="#icon-folder"></use></svg>&nbsp;{{ page.work | markdownify | remove: '<p>' | remove: '</p>' }}</span>
      {% endif %}
      {% if page.comments == true and site.data.comments[page.slug].size > 0 %}
        <span class="comment__count"><a href="#comments"><svg class="icon" width="20px" height="20px"><use xlink:href="#icon-comments"></use></svg>&nbsp;{{ site.data.comments[page.slug] | size }} Comment{% if site.data.comments[page.slug].size > 1 %}s{% endif %}</a></span>
      {% endif %}
    </div>
  {% endif %}

  {% if page.layout == 'archive' %}
    {% if page.excerpt %}
      <p class="page__excerpt">{{ page.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
  {% elsif page.layout == 'autopage_tags' %}
    <p class="page__excerpt">
      {% if tag.description %}
        {{ tag.description | markdownify | remove: '<p>' | remove: '</p>' }}
      {% else %}
        An archive of posts tagged <em>{{ page.autopages.display_name }}</em>.
      {% endif %}
    </p>
  {% elsif page.layout == 'splash' %}
    {{ content }}
  {% endif %}
</header>
