{% if page.layout == 'autopage_tags' %}
  {% assign taxonomy = page.autopages.display_name | downcase | slugify %}
  {% assign tag = site.data.taxonomy[taxonomy] %}
{% endif %}

<div class="page__title">
  <h1 class="heading"><span>{{ page.alt_title | default: page.autopage.display_name | default: page.title | default: site.title | markdownify | strip_html | widont }}</span></h1>
</div>

<div class="page__meta">
  {% if page.layout == 'post' %}
    {% unless page.work %}
      <span class="page__date">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string: 'ordinal', 'US' }}</time>
      </span>
    {% endunless %}
    {% if page.read_time %}
      <span class="page__read-time">{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</span>
    {% endif %}
    {% if page.byline %}
      {% include author.liquid %}
      <span class="page__author">
        <span class="name">{{ author.name }}</span>
      </span>
    {% endif %}
  {% endif %}
  {% include breadcrumbs.html %}
</div>

{% include page__cover.html %}
