{% comment %}Build a tag index filtered by current category{% endcomment %}
{% assign filterCategory = page.pagination.category | default: page.category %}
{% assign sortedTags = site.tags | sort_natural %}

<div class="popular entries__columns">
  <h4 class="title">Browse by topic</h4>
  <nav>
    <ul>
      {% assign tagLimiter = 0 %}
      {% for tag in sortedTags %}
        {% comment %}create an empty array{% endcomment %}
        {% assign postsInCategory = "" | split: "/" %}
        {% comment %}loop over site.tags{% endcomment %}
        {% for post in tag[1] %}
          {% if post.categories contains filterCategory %}
            {% comment %}if a post is in the filter category add it to postsInCategory array{% endcomment %}
            {% assign postsInCategory = postsInCategory | push: post %}
          {% endif %}
        {% endfor %}

        {% comment %}poor man's tag limit on those that are frequently used{% endcomment %}
        {% if postsInCategory.size >= 5 and tagLimiter < 9 %}
          {% assign tagLimiter = tagLimiter | plus: 1 %}
          <li><a href="/tag/{{ tag[0] | replace:' ','-' | downcase }}/"><strong>{{ tag[0] | replace:' ','&nbsp;' }}</strong> <span class="count">{{ tag[1] | size }}</span></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
