{% for post in paginator.posts %}
  {% include entry.html %}
{% endfor %}

<!-- Pagination links -->
<nav class="pager">
  <ul>
    <!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">
          <span class="pager-label">
            <svg class="icon icon--arrow-left" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-arrow-right' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Previous Page
          </span>
        </a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">
          <span class="pager-label">
            Next Page <svg class="icon icon--arrow-right" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-arrow-right' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
          </span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
