<div class="post__social">
  {% if page.comments == true %}
    {% if site.data.comments[page.slug].size == 1 %}
      <a class="btn" href="#comments"><svg class="icon"><use xlink:href="#icon-comments"></use></svg> {{ site.data.comments[page.slug] | size }} Comment</a>
    {% elsif site.data.comments[page.slug].size > 1 %}
      <a class="btn" href="#comments"><svg class="icon"><use xlink:href="#icon-comments"></use></svg> {{ site.data.comments[page.slug] | size }} Comments</a>
    {% else %}
      <a class="btn" href="#comment-form"><svg class="icon"><use xlink:href="#icon-comments"></use></svg> Leave a Comment</a>
    {% endif %}
  {% endif %}

  {% if page.share != empty and page.share != false %}
    <a class="btn btn--twitter" href="https://twitter.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url | uri_escape }}&via={{ site.owner.twitter }}&text={{ page.title | markdownify | remove: '<p>' | remove: '</p>' | cgi_escape }}" target="_blank" title="Share on Twitter"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg> Tweet</a>
    <a class="btn btn--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url | uri_escape }}" target="_blank" title="Share on Facebook"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg> Share</a>
  {% endif %}
</div>
