<div class="page__related">
  <div class="teasers">
    {% if page.previous %}
      {% assign f_previous = page.previous.image.feature | prepend: '/assets/images/' | split: '.' %}
      <article class="teaser" style="background-image: url({{ site.url }}{{ f_previous[0] }}-20.{{ f[1] }});">
        <a href="{{ page.previous.url }}">
          <h2 class="page__section-label">Previously</h2>
          <h3 class="teaser__title">{{ page.previous.title | markdownify | strip_html }}</h3>
        </a>
      </article>
    {% endif %}

    {% if page.next %}
      {% assign f_next = page.next.image.feature | prepend: '/assets/images/' | split: '.' %}
      <article class="teaser" style="background-image: url({{ site.url }}{{ f_next[0] }}-20.{{ f[1] }});">
        <a href="{{ page.next.url }}">
          <h2 class="page__section-label">Up Next</h2>
          <h3 class="teaser__title">{{ page.next.title | markdownify | strip_html }}</h3>
        </a>
      </article>
    {% endif %}
  </div>
</div>
