<div class="page__related">
  <h2 class="page__section-label">You May Also Enjoy&hellip;</h2>
  <ul>
    {% unless page.category == null %}
      {% capture pageCategory %}{{ page.category }}{% endcapture %}
      {% unless site.categories[pageCategory].size == 1 %}
        {% for post in site.categories[pageCategory] limit:4 %}
          {% unless post.title == page.title %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify | strip_html | rstrip }}</a>
            </li>
          {% endunless %}
        {% endfor %}
      {% endunless %}
    {% endunless %}
  </ul>
</div>
