<div class="container related">
  <h3 class="tile__header">You May Also Enjoy</h3>
  <div class="tiles">
    {% for post in site.related_posts limit:3 %}
      <article class="tile__item" itemscope itemtype="http://schema.org/CreativeWork">
        <meta itemprop="text" content="{{ post.excerpt | strip_html }}">
        <a href="{{ site.url }}{{ post.url }}">
          <img src="{{ site.url }}/images/{% if post.image.teaser %}{{ post.image.teaser }}{% else %}{{ site.teaser }}{% endif %}" itemprop="image" alt="{{ post.title }}">
          {% if post.categories contains 'mastering-paper' %}
          <h3 class="tile__title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | remove: 'Mastering Paper by FiftyThree: ' | remove: 'Mastering Paper by 53: ' | remove: ' with Paper by 53' }}</h3>
          {% else %}
            <h3 class="tile__title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
          {% endif %}
        </a>
        {% if post.categories %}
          {% assign category_slug = post.categories | first %}
          {% assign category = site.data.slugs[category_slug] %}
          <a href="{{ site.url }}/{{ post.categories | first }}/" class="tile__category">{{ category.name }}</a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
