<!-- Sharing Meta -->
{% if page.title %}
  <meta name="twitter:title" property="og:title" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
<meta name="twitter:url" property="og:url" content="{{ canonical_url }}">
{% if page.excerpt %}
  <meta name="twitter:description" property="og:description" content="{{ seo_description }}">
{% endif %}
{% if site.owner.twitter %}
  <meta name="twitter:site" content="@{{ site.owner.twitter | replace:"@","" }}">
  <meta name="twitter:creator" content="@{{ site.owner.twitter | replace:"@","" }}">
{% endif %}
{% if page.image.feature %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" property="og:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
{% endif %}
<meta property="og:locale" content="{{ site.locale }}">
{% if page.date %}
  <meta property="og:type" content="article">
{% endif %}
<meta property="og:site_name" content="{{ site.title }}">
{% if page.image.teaser %}
  <meta property="og:image" content="{{ site.url }}/images/{{ page.image.teaser }}">
{% endif %}
