<footer id="footer" class="site__footer">
  <ul class="nav-list">
    <li><a href="{{ site.url }}">Home</a></li>
    <li><a href="{{ site.url }}/about/">About</a></li>
    <li><a href="{{ site.url }}/faqs/">FAQs</a></li>
    <li><a href="{{ site.url }}/contact/">Contact</a></li>
    <li><a href="{{ site.url }}/support/">Support Me</a></li>
    <li><a href="{{ site.url }}/terms/">Terms &amp; Policies</a></li>
    <li><a href="{{ site.url }}/sitemap/">Sitemap</a></li>
  </ul>
  <p class="copyright">&#169; 2004&ndash;{{ site.time | date: '%Y' }} {{ site.author.name }}. <a href="https://twitter.com/{{ site.author.twitter }}" rel="me"><svg class="icon" width="15px" height="15px"><use xlink:href="#icon-twitter"></use></svg>&nbsp;Twitter</a> / <a href="https://www.instagram.com/{{ site.author.instagram }}/" rel="me"><svg class="icon" width="15px" height="15px"><use xlink:href="#icon-instagram"></use></svg>&nbsp;Instagram</a> / <a href="https://github.com/{{ site.author.github }}" rel="me"><svg class="icon" width="15px" height="15px"><use xlink:href="#icon-github"></use></svg>&nbsp;GitHub</a></p>
</footer>
