<div class="notice">
  <h4>Enjoyed this content?</h4>
  <p>Help keep it free by <a href="/support/#send-a-donation" onclick="ga('send', 'event', 'link', 'click', 'Send Donation');">sending a donation</a> or purchasing something from <a href="http://a.co/19EcT9c" onclick="ga('send', 'event', 'link', 'click', 'Amazon Wish List');">my Amazon Wish List</a>. You can also <a href="/support/#subscribe-to-the-feeds">subscribe to various site feeds</a> to get notified of new posts or <a href="/support/#follow-me-on-social-media">follow me on social media</a>.</p>
</div>
