<div class="notice">
  <h3>Like This?</h3>
  <p>Please consider purchasing something from my <a href="http://amzn.com/w/1K58RT2NS0SDP" onclick="ga('send', 'event', 'link', 'click', 'Amazon Wish List');">Amazon Wish List</a> or <a href="https://www.paypal.me/mmistakes" onclick="ga('send', 'event', 'link', 'click', 'Send PayPal');">donating via PayPal</a> to show your support. You can also <a href="{{ site.url }}/support/#subscribe-to-the-feeds">subscribe to various site feeds</a> to get notified of new posts, <a href="{{ site.url }}/support/#follow-me-on-social-media">follow me on social media</a>, and more.</p>
</div>
