{% assign gallery = post.gallery | default: page.gallery %}
{% if gallery %}
  <div class="work__gallery">
    {% for img in gallery %}
      {% if img.url contains '://' %}
        {% assign url = img.url %}
      {% else %}
        {% assign url = img.url | prepend: site.url %}
      {% endif %}

      {% if img.url %}
        <a class="work__gallery-img" href="{{ url }}" {% if img.title %}title="{{ img.title }}"{% endif %}>
          {% include lazyload src=img.image_path lq=img.image_lq_path alt=img.alt %}
        </a>
      {% else %}
        {% include lazyload src=img.image_path lq=img.image_lq_path alt=img.alt %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
