// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */
// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
//   DOT LEADERS            ==============================
ul.leaders {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	list-style: none;
}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: @bodycolor;
    display: inline-block;
}
ul.leaders span + span {
    display: block;
    float: right;
    padding-left: 0.33em;
    background: @bodycolor;
    position: relative;
    z-index: 1;
}
ul.leaders li a {
	padding: 0;
	display: inline-block;
	border: 0 solid transparent;
	&a:hover {
		text-decoration: none;
	}
}
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
//   NAVIGATION             ==============================
[role="navigation"] {
	position: fixed;
}
//   BANNER 				==============================
[role="banner"] {
	hgroup {
		/* height: 200px; */
	}
}
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================