// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */
// 1. ROOT 					==============================
body {
display : table; 
border-collapse : collapse; }
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
figure {
	figcaption {
		padding: inherit;
	}
}
.image-grid {
	.row(6);
	li {
		.column(1,6);
		width: 16%;
		margin: 0 .666666666666664% .666666666666664% 0;
		&:nth-child(6) {
			margin-right: 0;
		}
   }
}
// 6. LAYOUT 				==============================
// NAVIGATION
[role="navigation"] {
	.transition(.4s linear);
	ul {
		padding: 0 (@basewidth * 3.25);
	}
}
.feature [role="navigation"] {
	ul {
		padding: 0 (@basewidth / 2);
	}
}
.toc-wrapper {
	padding: 100px (@basewidth * 3.25) 0;
}
.cover-wrapper {
	hgroup {
		position: absolute;
		bottom: 10%;
		left: 10%;
		right: 10%;
		width: 80%;
		padding: 0;
		z-index: 1;
		text-align: center;
		h1 {
			color: @white;
			.text-shadow();
			.font-size(80);
			.lineheight(80);
			// border-top: 4px double @white;
		}
		h2 {
			.font-size(30);
			.lineheight(30);
			color: @white;
			.text-shadow();
			margin-bottom: (@basewidth * 1.25);
		}
	}
}
.content-wrapper,
.photo-wrapper {
	padding: inherit (@basewidth * 1.25) 0 (@basewidth / 2);
}
.quote-wrapper {
	blockquote {
		top: 30%;
		.font-size(44);
		small {
			.font-size(22);
		}
	}
}
.footer-wrapper {
	padding: 0 0 (@basewidth * 3) 0;
	text-align: center;
	ul.related-articles { 
		.clearfix;
		margin: 0 auto;
		width: 600px;
		li {
			display: inline;
			float: left;
			width: 102px;
			margin: 0 (@basewidth / 2);
			text-align: left;
		}
	}
}
//  7. VENDOR-SPECIFIC 		==============================
//  8. MODERNIZR 			==============================
//  9. TEMPLATE SPECIFICS 	==============================