---
layout: page
headline: Featured Posts
description: "Made Mistakes is the personal website of Buffalo NY designer &amp; illustrator Michael Rose."
tags: [Michael Rose, portfolio, blog, graphic design, web design]
---

{% for post in site.posts %}
<ul class="post-list">
  {% if post.feature %}<li><article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost"><a href="{{ site.url }}{{ post.url }}" itemprop="headline">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>{% endif %}
</ul>
{% endfor %}