<div class="footer-wrapper">
  <footer role="contentinfo">
    <p class="disclaimer">&#169; 2004&#8211;{{ site.time | date: '%Y' }} <a href="{{ site.url }}/about/">{{ site.owner.name }}</a>, a <a href="{{ site.url }}/humans.txt">real human being</a>.<br />
		<a href="#site-nav">Menu</a> &#8901;  <a href="{{ site.url }}/terms/">Privacy and Disclosure Policies</a></p>
		<div class="social-icons">
			{% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.google_plus %}<a href="{{ site.owner.google_plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>{% endif %}
			{% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="fa fa-tumblr fa-fw fa-2x"></i></a>{% endif %}
			<a href="{{ site.feed }}" title="Atom/RSS feed"><i class="fa fa-rss fa-fw fa-2x"></i></a>
		</div><!-- /.social-icons -->
  </footer>
</div><!-- /.footer-wrapper -->