<style>
.r-ads-comments { width: 300px; height: 250px; }
@media(min-width: 520px) { .r-ads-comments { width: 468px; height: 60px; } }
@media(min-width: 768px) { .r-ads-comments { width: 200px; height: 200px; } }
@media(min-width: 1110px) { .r-ads-comments { width: 300px; height: 225px; } }
@media(min-width: 1220px) { .r-ads-comments { width: 336px; height: 280px; } }
</style>

<ins class="adsbygoogle r-ads-comments"
	style="display:inline-block"
	data-ad-client="{{ site.owner.google.ad-client }}"
	data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>