<style>
.r-ads { width: 300px; height: 250px; }
@media(min-width: 520px) { .r-ads { width: 468px; height: 60px; } }
@media(min-width: 768px) { .r-ads { width: 160px; height: 600px; } }
@media(min-width: 1110px) { .r-ads { width: 300px; height: 600px; } }
</style>

<ins class="adsbygoogle r-ads"
	style="display:inline-block"
	data-ad-client="{{ site.owner.google.ad-client }}"
	data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>