<article>
  <a class="archive__item" href="{{ site.url }}{{ post.url }}">

    <div class="archive__item-body">
      <div class="archive__item-meta">
        <span class="date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
        {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        <span class="archive__item-time">{% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read</span>
      </div>
      {% if post.categories contains 'mastering-paper' %}
        <h1 class="archive__item-title">{{ post.title | remove: 'Mastering Paper by FiftyThree: ' | remove: 'Mastering Paper by 53: ' | remove: ' with Paper by 53' }}</h1>
        {% else %}
        <h1 class="archive__item-title">{{ post.title }}</h1>
      {% endif %}
      <p class="archive__item-excerpt">{{ post.excerpt }}</p>
    </div>

    <div class="archive__item-thumb" {% if post.image.teaser %}style="background-image: url('{{ site.url }}/images/{{ post.image.teaser }}');"{% endif %}></div>

  </a>
</article>
