<a href="{{ site.url }}/about.html"><img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>
<div class="bio-content">
	<h4><a href="{{ site.url }}/about.html">{{ site.owner.name }}</a></h4>
	<p>{{ site.owner.bio }}</p>
	<p class="social"><a href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="icon-twitter"></i> Follow @{{ site.owner.twitter }}</a></p>
	<p class="social"><a href="http://instagram.com/{{ site.owner.instagram }}" target="_blank"><i class="icon-instagram"></i> View on Instagram</a></p>
	<p class="social"><a href="http://github.com/{{ site.owner.github }}" target="_blank"><i class="icon-github"></i> Github</a></p>
</div><!-- /.bio-content -->