{% if page.categories and page.categories != empty %}
{% assign category_slug = page.categories | first %}
{% assign category = site.data.categories[category_slug] %}
<nav class="breadcrumbs">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}" class="breadcrumb__item" itemprop="url">
      <span itemprop="title">Home</span>
    </a> <span class="breadcrumb__sep">›</span>
  </span>
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}/{{ page.categories | first }}/" class="breadcrumb__item" itemprop="url">
      <span itemprop="title">{{ category.name }}</span>
    </a>
  </span>
</nav><!-- /.breadcrumbs -->
{% endif %}

{% if page.url contains page.collection %}
<nav class="breadcrumbs">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}" class="breadcrumb__item" itemprop="url"><span itemprop="title">Home</span></a> <span class="breadcrumb__sep">›</span>
  </span>
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}/{{ page.collection }}/" class="breadcrumb__item" itemprop="url"><span itemprop="title">{{ site.collections[page.collection].title }}</span></a>
  </span>
</nav><!-- /.breadcrumbs -->
{% endif %}
