<article class="component">
  <header class="component-header">
    <h3 id="guide-{{ entry.title | slugify }}">{{ entry.title }}</h3>
      {% if entry.usage %}<p><strong>Usage:</strong> {{ entry.usage }}</p>{% endif %}
      {% if entry.module %}<p><strong><i class="fa fa-file-code-o"></i> &nbsp; Include file:</strong> <a href="{{ site.owner.github-repo }}{{ entry.module }}">{{ entry.module }}</a></p>{% endif %}
      {% if entry.scss %}<p class="header-entry-last"><i class="fa fa-file-code-o"></i> &nbsp; <strong>SCSS file:</strong> <a href="{{ site.owner.github-repo }}{{ entry.scss }}">{{ entry.scss }}</a></p>{% endif %}
  </header><!-- /.component-header -->
  <div class="component-content">
    <div class="component-rendered">
      {{ entry.content }}
    </div><!-- /.component-rendered -->
    <div class="component-code">

      {% highlight html %}
        {{ entry.content }}
      {% endhighlight %}

    </div><!-- /.component-code -->
  </div><!-- /.component-content -->
</article><!-- /.component -->
