<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Made Mistakes</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@mmistakes">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &ndash; {% endif %}Made Mistakes">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ site.base_url }}{{ page.url }}">
<meta property="og:site_name" content="Made Mistakes">
<meta property="og:type" content="article">
<meta property="og:image" content="{% if page.thumb %}{{ site.base_url }}/images/{{ page.thumb }}{% else %}{{ site.base_url }}/images/no-thumb.png{% endif %}">
<meta name="google-site-verification" content="geapSKtvpBNDSfXVmF09E9CnaHGglbO61r4XgLZtEmo">
<meta name="msvalidate.01" content="D81F4C18A6CB3018F64D7C827D953DFD">
<meta name="alexaVerifyID" content="Y5DYjZ4VWlrQzBP5kcQJeOKLNas">
{% capture canonical %}{{ site.base_url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.base_url }}/atom.xml" type="application/atom+xml" rel="alternate" title="Made Mistakes ATOM Feed">
<link rel="author" href="{{ site.base_url }}/humans.txt">
<link rel="author" href="https://plus.google.com/118238196859537351707">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Webfonts -->
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300" rel="stylesheet" type="text/css">
<!-- For all browsers -->
<link href="{{ site.base_url }}/css/320andup.css" rel="stylesheet">
<link href="{{ site.base_url }}/css/animate.css" rel="stylesheet">

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="{{ site.base_url }}/js/selectivizr.min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script src="{{ site.base_url }}/js/head.min.js"></script>
<script>
// execute function after all scripts have been loaded
head.js("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js", "{{ site.base_url }}/js/jquery.jpages.min.js", "{{ site.base_url }}/js/jquery.fancybox.min.js", "{{ site.base_url }}/js/jquery.fitvids.min.js", "{{ site.base_url }}/js/jquery.lazyload.min.js", function() {
	// Avoid `console` errors in browsers that lack a console.
	(function() {
		var method;
		var noop = function () {};
		var methods = [
			'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
			'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
			'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
			'timeStamp', 'trace', 'warn'
		];
		var length = methods.length;
		var console = (window.console = window.console || {});
	
		while (length--) {
			method = methods[length];
	
			// Only stub undefined methods.
			if (!console[method]) {
				console[method] = noop;
			}
		}
	}());
	
	// Asynchronous Google Analytics snippet
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ site.ga_account }}']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	// Load Tweet Button Script & Associate Google Analytics Tracking
	var e = document.createElement('script');
	e.type="text/javascript"; e.async = true;
	e.src = 'http://platform.twitter.com/widgets.js';
	document.getElementsByTagName('head')[0].appendChild(e);
	$(e).load(function() {
	  function tweetIntentToAnalytics(intent_event) {
	    if (intent_event) {
	      var label = intent_event.data.tweet_id;
	      _gaq.push(['_trackEvent', 'twitter_web_intents',
		    intent_event.type, label]);
	      clicky.log(document.location.href,'Twitter '+label);
	    }
	  }
	  function followIntentToAnalytics(intent_event) {
	    if (intent_event) {
	      var label = intent_event.data.user_id + " (" +
		   intent_event.data.screen_name + ")";
	      _gaq.push(['_trackEvent', 'twitter_web_intents',
		   intent_event.type, label]);
	      clicky.log(document.location.href,'Twitter '+label);
	    }
	  }
	  twttr.events.bind('tweet',    tweetIntentToAnalytics);
	  twttr.events.bind('follow',   followIntentToAnalytics);
	});

	// Place any jQuery/helper plugins in here
	
	// FitVids options
	$(".content-wrapper").fitVids();
	
	// FancyBox options
	$(document).ready(function() {
	  $("a[href$='.jpg'],a[href$='.png'],a[href$='.gif']").attr('rel', 'gallery').fancybox({
		beforeShow: function () {
		if (this.title) {
		// Add tweet button
		this.title += '<br /><a href="https://twitter.com/share" class="twitter-share-button" data-url="' + this.href + '" data-text="' + this.title + '" data-via="mmistakes" data-lang="en">Tweet</a>';
		// Add Pinterest button
		this.title += '<a class="pin-it-button" href="http://pinterest.com/pin/create/button/?url='+
	  encodeURIComponent(document.location.href)+
	  '&media='+
	  encodeURIComponent(''+this.href)+
	  '&description=Pin from Made Mistakes">'+
	  '<img title="Pin It" src="http://assets.pinterest.com/images/PinExt.png" alt="" border="0" /></a>';
		}
	  },
	  afterShow: function() {
		// Render tweet button
		twttr.widgets.load();
		},
	  padding: 0,
	  openEffect: 'elastic',
		closeEffect: 'elastic',
		helpers: {
				title: {
			type: 'outside'
				}
		}
	  });
	});
	
	// lazyload
	$(function() {
	
	  /* initiate lazyload defining a custom event to trigger image loading  */
	  $("img.lazy").show().lazyload({
		event: "turnPage",
		effect: "fadeIn"
	  });
	
	  /* initiate plugin */
	  $("div.holder").jPages({
			containerID: "itemContainer",
		previous: "←",
		next: "→",
		perPage: 30,
		midRange: 3,
		direction: "random",
		animation: "flipInY",
		minHeight: false,
		callback: function( pages, items ){
		/* lazy load current images */
		items.showing.find("img").trigger("turnPage");
		/* lazy load next page images */
		items.oncoming.find("img").trigger("turnPage");
	  }
	  });
	
	});
});
</script>

<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.base_url }}/images/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.base_url }}/images/m/apple-touch-icon.png">
<!-- For the new iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.base_url }}/images/h/apple-touch-icon-144x144-precomposed.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="{{ site.base_url }}/images/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="{{ site.base_url }}/images/l/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="{{ site.base_url }}/favicon.ico">

<!--iOS -->
<meta name="apple-mobile-web-app-title" content="MM">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{{ site.base_url }}/images/splash.png">
<script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"{{ site.base_url }}/images/startup/startup-tablet-portrait-retina.png":"{{ site.base_url }}/images/startup/startup-tablet-portrait.png";l=r===2?"{{ site.base_url }}/images/startup/startup-tablet-landscape-retina.png":"{{ site.base_url }}/images/startup/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"{{ site.base_url }}/images/startup/startup-retina.png":"{{ site.base_url }}/images/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>

<!-- Prevents links from opening in mobile Safari -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

<!-- Microsoft -->
<meta http-equiv="cleartype" content="on">