<header id="masthead">
  <a href="{{ site.url }}/" class="site-logo">
    <img src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} logo">
    <span class="site-title">{{ site.title }}</span>
  </a>
  <button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x" role="button" aria-label="Toggle Navigation" onclick="ga('send', 'event', 'sliding menu', 'click', 'button');">
    <span class="lines"></span>
    <span class="label">Menu</span>
  </button>
</header><!-- /.masthead -->
