<header class="masthead" role="banner">
  <div class="container">
    <a class="masthead__title" href="{{ site.url }}/">{{ site.title }}</a>
    <nav class="masthead__menu-wrapper" role="navigation">
      <ul class="masthead__menu">
        {% assign counter = 0 %}
        {% for link in site.data.navigation.masthead %}
          {% assign counter = counter | plus:1 %}
          {% assign class = nil %}
          {% if page.url contains link.url %}
            {% assign class = 'is--active' %}
          {% endif %}
          <li><a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item {% if counter > 3 %}is--hidden{% endif %} {{ class }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a href="#0" class="overlay__menu-trigger masthead__menu-item" aria-label="Navigation Menu" title="Navigation Menu">•&nbsp;•&nbsp;•</a></li>
      </ul>
    </nav>
  </div>
</header>

<nav class="overlay__menu">
  <div class="overlay__menu-wrapper container">
    <ul class="overlay__menu-col-1">
      <li class="overlay__menu-label">Of Interest</li>
      {% for link in site.data.navigation.primary %}
        <li class="overlay__menu-item"><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="overlay__menu-col-2">
      <li class="overlay__menu-label">Everything Else</li>
      {% for link in site.data.navigation.secondary %}
        <li class="overlay__menu-item--secondary"><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <button class="overlay__menu-close btn">Close Menu</button>
</nav>
