<nav role="navigation">
    <ul>
        <li><a href="{{ site.base_url }}" title="Return Home">Made Mistakes</a></li>
        <li><a href="{{ site.base_url }}/about.html" title="About Made Mistakes &amp; Michael Rose">About</a></li>
        <li><a href="{{ site.base_url }}/articles.html" title="Posts &amp; Diatribes">Articles</a></li>
        <li><a href="{{ site.base_url }}/articles/paperfaces-ipad-portrait-project.html" title="PaperFaces iPad Portrait Project">PaperFaces Project</a></li>
    </ul>
</nav>