<ul>
	<li><strong>Styli:</strong> <a href="http://www.amazon.com/gp/product/B009K448L4/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009K448L4&linkCode=as2&tag=mademist-20" onClick="_gaq.push(['_trackEvent', 'Link', 'Amazon']);" target="_blank">Pogo Connect Bluetooth 4.0 Smart Pen</a> and <a href="http://fiftythree.com/pencil" target="_blank">Pencil</a></li>
	<li><strong>App:</strong> <a href="http://www.fiftythree.com/paper" target="_blank">Paper by FiftyThree for iOS</a></li>
</ul>