<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" data-cfasync="false"></script>
<script data-cfasync="false">window.jQuery || document.write('<script src="{{ site.url }}/{% ministamp _assets/js/vendor/jquery-1.9.1.min.js js/vendor/jquery.js %}"><\/script>')</script>
<script src="{{ site.url }}/{% ministamp _assets/js/main.min.js js/main.min.js %}"></script>
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% if page.comments %}{% include disqus_comments.html %}{% endif %}