<div class="notice dark">
	<h2>Found This Useful or Enjoyable?</h2>
	<p>Feel free to show your gratitude by following me on Twitter or by sending a few bucks via PayPal&#8230; if you're feeling generous.</p>
	<div markdown="0">
		<a href="http://twitter.com/mmistakes" onClick="ga('send', 'event', 'link', 'click', 'Twitter follow']);" class="btn btn-inverse" target="_blank"><i class="fa fa-twitter"></i> Follow Me</a>
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=M6U4FS8Y794X4" onClick="ga('send', 'event', 'link', 'click', 'Send Cash']);" class="btn btn-inverse" target="_blank"><i class="fa fa-dollar"></i> Support Me</a>
	</div>
</div><!-- /.notice -->
