<h2>Found Any of This Useful?</h2>
<p>Feel free to show your gratitude by following me on Twitter or by sending a few bucks via PayPal if you're feeling generous.</p>

<div markdown="0">
	<a href="http://twitter.com/mmistakes" onClick="_gaq.push(['_trackEvent', 'Link', 'Twitter']);" class="btn" target="_blank"><i class="fa fa-twitter"></i> Follow Me</a>
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=M6U4FS8Y794X4" onClick="_gaq.push(['_trackEvent', 'Link', 'Send Cash']);" class="btn" target="_blank"><i class="fa fa-dollar"></i> Support Me</a>
</div>