// NOTICES
// --------------------------------------------------

@mixin notice($notice-color) {
  position: relative;
  padding: ($gutter / 2) ($gutter / 2) ($gutter / 2) $gutter;
  font-family: $alt-font;
  background-color: tint($notice-color,95%);
  border-left: 5px solid $notice-color;
}
.notice {
  @include notice($primary-color);
}
.notice-inverse {
  @include notice($white);
  color: $text-color;
  a {
    color: $text-color;
  }
}
.notice-info {
  @include notice($info-color);
}
.notice-warning {
  @include notice($warning-color);
}
.notice-success {
  @include notice($success-color);
}
.notice-danger {
  @include notice($danger-color);
}