---
layout: default
---

{% include browser-upgrade.html %}

<div class="index">
  <div class="site__logo"><a href="{{ site.url }}">{{ site.title }}</a></div>
  <div id="main" role="main">
    <div class="page__wrap" itemscope itemtype="http://schema.org/CreativeWork">
      <meta itemprop="description" content="{{ page.excerpt | strip_html }}">
      {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
      {% endif %}
      {% if page.modified %}
        <meta itemprop="dateModified" content="{{ page.modified | date_to_xmlschema }}">
      {% endif %}

      <header class="page__header">
        <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
        {% if page.excerpt %}
          <p class="page__excerpt">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
      </header>

      {% include page__hero.html %}

      <div class="list">
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% include ad.html %}
