---
layout: default
---

{% assign sorted_entries = site.work | sort: 'order' %}
{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    {% if page.autogen %}
      <header class="section-title">
        <h2>Page {{ page.pagination_info.curr_page }} of {{ page.pagination_info.total_pages }}</h2>
      </header>
    {% endif %}
    <div class="entries">
      {% for post in sorted_entries %}
        {% include entry.html %}
      {% endfor %}
    </div>

    {% include footer.html %}
  </div>
  {% include popular-tags.html %}
</main>
