<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  {% include head.html %}

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {{ page.title | slugify }}">

    {% include skip-links.html %}

    <div class="sidebar-toggle-wrapper">
      <button class="toggle navicon-button larr" type="button">
        <span class="toggle-inner">
          <span class="sidebar-toggle-label">menu</span>
          <span class="navicon"></span>
        </span>
      </button>
    </div>

    <div id="sidebar" class="sidebar">
      <div class="inner">
        {% include navigation.html %}
        {% include contact-list.html %}
      </div>
    </div>

    <div class="canvas">
      <div class="wrapper">
        {% include masthead.html %}
        {{ content }}
      </div>
    </div>

    {% include scripts.html %}

  </body>

</html>
