---
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% seo %}

    <link rel="pingback" href="https://webmention.io/mademistakes.com/xmlrpc">
    <link rel="webmention" href="https://webmention.io/mademistakes.com/webmention">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">

    <link href="http://feeds.feedburner.com/MadeMistakes" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Everything">
    <link href="http://feeds.feedburner.com/MadeMistakesArticles" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Articles">
    <link href="http://feeds.feedburner.com/MadeMistakesMasteringPaper" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Mastering Paper">
    <link href="http://feeds.feedburner.com/MadeMistakesPaperFaces" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; PaperFaces Portraits">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="fullcss" content="<!-- inject:css --><!-- endinject -->">

    <!-- site verifications -->
    {% if site.bing_site_verification %}
      <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
    {% endif %}
    {% if site.alexa_site_verification %}
      <meta name="alexaVerifyID" content="{{ site.alexa_site_verification }}">
    {% endif %}
    {% if site.yandex_site_verification %}
      <meta name="yandex-verification" content="{{ site.yandex_site_verification }}">
    {% endif %}
    <!-- / site verifications -->

    {% if site.author.google_plus %}
      <link rel="author" href="{{ site.author.google_plus }}?rel=author">
    {% endif %}

    {% if site.author.name %}
      <meta name="author" content="{{ site.author.name }}">
    {% endif %}

  <!-- htmlmin:ignore -->
  <!--#if expr="$HTTP_COOKIE=/fullcss\=true/" -->
    <link rel="stylesheet" href="<!-- inject:css --><!-- endinject -->">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans+Narrow:400,700">
  <!--#else-->
    {% if page.layout == "archive" %}
      <style>{% include critical-archive.css %}</style>
    {% elsif page.layout == "tag_index" %}
      <style>{% include critical-archive.css %}</style>
    {% elsif page.layout == "splash" %}
      <style>{% include critical-splash.css %}</style>
    {% elsif page.layout == "work" %}
      <style>{% include critical-work.css %}</style>
    {% else %}
      <style>{% include critical-page.css %}</style>
    {% endif %}
  <!--#endif-->
  <!-- htmlmin:ignore -->

    <script>
      /*! EnhanceJS: a progressive enhancement boilerplate. Copyright 2014 @scottjehl, Filament Group, Inc. Licensed MIT */
      (function( window, undefined ) {

        // Enable JS strict mode
        "use strict";

        var setTimeout = window.setTimeout;

        var enhance = {};

        // Define some variables to be used throughout this file
        var doc = window.document,
          docElem = doc.documentElement,
          head = doc.head || doc.getElementsByTagName( "head" )[ 0 ],
          // this references a meta tag's name whose content attribute should define the path to the full CSS file for the site
          fullCSSKey = "fullcss",
          htmlClasses = [ "enhanced" ];

        /* Some commonly used functions - delete anything you don't need! */

        // loadCSS: load a CSS file asynchronously. Included from https://github.com/filamentgroup/loadCSS/
        function loadCSS( href, before, media ){
          // Arguments explained:
          // `href` is the URL for your CSS file.
          // `before` optionally defines the element we'll use as a reference for injecting our <link>
          // By default, `before` uses the first <script> element in the page.
          // However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
          // If so, pass a different reference element to the `before` argument and it'll insert before that instead
          // note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
          var ss = window.document.createElement( "link" );
          var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
          var sheets = window.document.styleSheets;
          ss.rel = "stylesheet";
          ss.href = href;
          // temporarily, set media to something non-matching to ensure it'll fetch without blocking render
          ss.media = "only x";
          // inject link
          ref.parentNode.insertBefore( ss, ref );
          // This function sets the link's media back to `all` so that the stylesheet applies once it loads
          // It is designed to poll until document.styleSheets includes the new sheet.
          function toggleMedia(){
            var defined;
            for( var i = 0; i < sheets.length; i++ ){
              if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                defined = true;
              }
            }
            if( defined ){
              ss.media = media || "all";
            }
            else {
              setTimeout( toggleMedia );
            }
          }

          toggleMedia();
          return ss;
        }

        // expose it
        enhance.loadCSS = loadCSS;

        // getMeta function: get a meta tag by name
        // NOTE: meta tag must be in the HTML source before this script is included in order to guarantee it'll be found
        function getMeta( metaname ){
          var metas = window.document.getElementsByTagName( "meta" );
          var meta;
          for( var i = 0; i < metas.length; i ++ ){
            if( metas[ i ].name && metas[ i ].name === metaname ){
              meta = metas[ i ];
              break;
            }
          }
          return meta;
        }

        // expose it
        enhance.getMeta = getMeta;

        // cookie function from https://github.com/filamentgroup/cookie/
        function cookie( name, value, days ){
          var expires;
          // if value is undefined, get the cookie value
          if( value === undefined ){
            var cookiestring = "; " + window.document.cookie;
            var cookies = cookiestring.split( "; " + name + "=" );
            if ( cookies.length == 2 ){
              return cookies.pop().split( ";" ).shift();
            }
            return null;
          }
          else {
            // if value is a false boolean, we'll treat that as a delete
            if( value === false ){
              days = -1;
            }
            if ( days ) {
              var date = new Date();
              date.setTime( date.getTime() + ( days * 24 * 60 * 60 * 1000 ) );
              expires = "; expires="+date.toGMTString();
            }
            else {
              expires = "";
            }
            window.document.cookie = name + "=" + value + expires + "; path=/";
          }
        }

        // expose it
        enhance.cookie = cookie;

        /* Enhancements for all browsers - qualified or not */

        /* Load non-critical CSS async on first visit:
          On first visit to the site, the critical CSS for each template should be inlined in the head, while the full CSS for the site should be requested async and cached for later use.
          A meta tag with a name matching the fullCSSKey should have a content attribute referencing the path to the full CSS file for the site.
          If no cookie is set to specify that the full CSS has already been fetched, load it asynchronously and set the cookie.
          Once the cookie is set, the full CSS is assumed to be in cache, and the server-side templates should reference the full CSS directly from the head of the page with a link element, in place of inline critical styles.
          */
        var fullCSS = getMeta( fullCSSKey );
        if( fullCSS && !cookie( fullCSSKey ) ){
          loadCSS( fullCSS.content );
          // set cookie to mark this file fetched
          cookie( fullCSSKey, "true", 7 );
          // asynchronously load fonts
          (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            s.parentNode.insertBefore(wf, s);
          })(document);
        }

        /* Enhancements for qualified browsers - "Cutting the Mustard"
          Add your qualifications for major browser experience divisions here.
          For example, you might choose to only enhance browsers that support document.querySelector (IE8+, etc).
          Use case will vary.
          */
        if( !( "querySelector" in doc ) ){
          // basic browsers: last stop here!
          return;
        }

        // From here on we're dealing with qualified browsers.

        // Add scoping classes to HTML element: useful for upgrading the presentation of elements that will be enhanced with JS behavior
        docElem.className += " " + htmlClasses.join(" ");

        // expose the 'enhance' object globally. Use it to expose anything in here that's useful to other parts of your application.
        window.enhance = enhance;

      }( this ));
    </script>
    <noscript><link rel="stylesheet" href="<!-- inject:css --><!-- endinject -->"></noscript>

    <!-- site icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/apple-touch-icon.png?v=RyowzAOe9M">
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon-32x32.png?v=RyowzAOe9M" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon-16x16.png?v=RyowzAOe9M" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/assets/images/manifest.json?v=RyowzAOe9M">
    <link rel="mask-icon" href="{{ site.url }}/assets/images/safari-pinned-tab.svg?v=RyowzAOe9M" color="#000000">
    <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico?v=RyowzAOe9M">
    <meta name="apple-mobile-web-app-title" content="Made Mistakes">
    <meta name="application-name" content="Made Mistakes">
    <meta name="msapplication-config" content="{{ site.url }}/assets/images/browserconfig.xml?v=RyowzAOe9M">
    <meta name="theme-color" content="#ffffff">
    <!-- / site icons -->
  </head>

  <body id="0" class="wrap {% if page.classes %}{{ page.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    <section>
      <h2 class="screen-reader-text">Skip links</h2>
      <ul class="skip-link">
        <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
        <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
      </ul>
    </section>

    {% include browser-upgrade.html %}

    {{ content }}

    <div style="height: 0; width: 0; position: absolute; visibility: hidden;">
      {% include icons.svg %}
    </div>

    {% include site__footer.html %}
    {% include scripts.html %}

    <!-- QR code -->
    <div id="qr" class="hidden">
      <img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl={{ canonical_url }}&choe=UTF-8" alt="Scan QR code with a smartphone">
      <p><small>{{ canonical_url }}</small></p>
    </div>
    <!-- / QR code -->

  </body>

</html>
