---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <!-- latest posts -->
      <header class="section-title">
        <h2>Recently Published</h2>
      </header>
      <div class="entries">
        {% for post in site.posts limit:5 %}
          {% include entry.html %}
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </div>
</main>
