---
layout: default
---

{% assign taxonomy = page.title | downcase | slugify %}
{% assign tag = site.data.taxonomy[taxonomy] %}

{% include browser-upgrade.html %}

<div class="index">
  <div class="site__logo"><a href="{{ site.url }}">{{ site.title }}</a></div>
  <div id="main" role="main">
    <div class="page__wrap">
      {% include page__header.html %}
      <div class="page__cover"></div>
      <div class="list">
        {% for post in page.posts %}
          {% include archive__item.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include ad.html %}
