---
layout: default
---

<div class="work">
  {% include site__logo.html %}
  <article class="page__wrap">
    {% include page__header.html %}
    {% include page__hero.html type="work" %}
    {% include work__gallery.html %}

    <section class="page__content">
      {{ content }}
    </section>

    {% if page.path contains '_posts' %}
      {% include page__pagination.html %}
    {% endif %}

    {% if page.comments == true %}
      {% include page__comments.html %}
    {% endif %}
  </article>
</div>

{% include ad.html %}
