/*!
 *  _  ________ ____   _  ______________  _________ 
 *  |\/||__||  \|___   |\/||[__  | |__||_/ |___[__  
 *  |  ||  ||__/|___   |  ||___] | |  || \_|______] 
 *                                                 
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

/* CSS RESET
 * -------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  margin: 0;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* VARIABLES
 * -------------------------- */

body {
  margin-top: 26px;
  font-size: 16px;
}

/* SITE WIDE STYLES
 * -------------------------- */

::-moz-selection {
  color: #343434;
  text-shadow: none;
  background-color: #dadada;
}

::selection {
  color: #343434;
  text-shadow: none;
  background-color: #dadada;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrap {
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .center-block {
    text-align: left;
  }
}

.all-caps {
  text-transform: uppercase;
}

.image-rounded {
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
          border-radius: 200px;
}

.unstyled-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.unstyled-list li {
  margin-top: 26px;
  list-style-type: none;
  *zoom: 1;
}

.unstyled-list li:before,
.unstyled-list li:after {
  display: table;
  line-height: 0;
  content: "";
}

.unstyled-list li:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .unstyled-list li {
    margin-top: 0;
  }
}

.unstyled-list h1,
.unstyled-list h4,
.unstyled-list p {
  margin: 0;
}

.unstyled-list h1 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3684;
}

.unstyled-list h4 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3684;
}

.unstyled-list .entry-meta {
  clear: none;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8571;
}

.unstyled-list .preview {
  float: right;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border: 4px solid #ccc;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}

@media only screen and (min-width: 48em) {
  .unstyled-list .preview {
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    -webkit-border-radius: 75px;
       -moz-border-radius: 75px;
            border-radius: 75px;
  }
}

.inline-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.inline-list li {
  display: inline;
  list-style-type: none;
}

.load {
  display: none;
}

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

/* TYPOGRAPHY
 * -------------------------- */

body {
  font-family: lato, Calibri, Arial, sans-serif;
  color: #222222;
}

a {
  color: #222222;
  text-decoration: none;
}

a:visited {
  color: #555555;
}

a:hover {
  color: #000000;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

figcaption {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  clear: both;
  font-family: Georgia, serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.8571;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  figcaption {
    padding-right: 0;
    padding-left: 0;
  }
}

.notice {
  position: relative;
  padding: 20px 40px;
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -40px;
  font-size: 16px;
  font-size: 1rem;
  text-indent: 0;
  background-color: #d0d5d5;
}

.notice:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-color: transparent #7f8c8d #7f8c8d transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
}

.notice h4 {
  text-align: center;
}

.dark {
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}

.info {
  background-color: #b6daf2;
}

.warning {
  background-color: #f9e8a0;
}

blockquote {
  padding-left: 20px;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.4444;
  border-left: 8px solid #808080;
}

@media only screen and (min-width: 48em) {
  #markdown-toc li {
    font-size: 16px;
    font-size: 1rem;
  }
}

tt,
code,
kbd,
samp,
pre {
  font-family: monospace;
}

p code,
li code {
  padding: 0 5px;
  margin: 0 2px;
  font-size: 16px;
  font-size: 1rem;
  white-space: nowrap;
  background-color: #f2f2f2;
  border: 1px solid #c2c9c9;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* PYGMENTS SYNTAX HIGHLIGHTING
 * -------------------------- */

.highlight {
  overflow-x: auto;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #dedede;
}

.highlight pre {
  position: relative;
  padding: 1em;
  margin: 0;
}

.hll {
  background-color: #ffffcc;
}

.c {
  font-style: italic;
  color: #999988;
}

/* Comment */

.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */

.k {
  font-weight: bold;
  color: #000000;
}

/* Keyword */

.o {
  font-weight: bold;
  color: #000000;
}

/* Operator */

.cm {
  font-style: italic;
  color: #999988;
}

/* Comment.Multiline */

.cp {
  font-style: italic;
  font-weight: bold;
  color: #999999;
}

/* Comment.Preproc */

.c1 {
  font-style: italic;
  color: #999988;
}

/* Comment.Single */

.cs {
  font-style: italic;
  font-weight: bold;
  color: #999999;
}

/* Comment.Special */

.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */

.ge {
  font-style: italic;
  color: #000000;
}

/* Generic.Emph */

.gr {
  color: #aa0000;
}

/* Generic.Error */

.gh {
  color: #999999;
}

/* Generic.Heading */

.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */

.go {
  color: #888888;
}

/* Generic.Output */

.gp {
  color: #555555;
}

/* Generic.Prompt */

.gs {
  font-weight: bold;
}

/* Generic.Strong */

.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */

.gt {
  color: #aa0000;
}

/* Generic.Traceback */

.kc {
  font-weight: bold;
  color: #000000;
}

/* Keyword.Constant */

.kd {
  font-weight: bold;
  color: #000000;
}

/* Keyword.Declaration */

.kn {
  font-weight: bold;
  color: #000000;
}

/* Keyword.Namespace */

.kp {
  font-weight: bold;
  color: #000000;
}

/* Keyword.Pseudo */

.kr {
  font-weight: bold;
  color: #000000;
}

/* Keyword.Reserved */

.kt {
  font-weight: bold;
  color: #445588;
}

/* Keyword.Type */

.m {
  color: #009999;
}

/* Literal.Number */

.s {
  color: #d01040;
}

/* Literal.String */

.na {
  color: #008080;
}

/* Name.Attribute */

.nb {
  color: #0086b3;
}

/* Name.Builtin */

.nc {
  font-weight: bold;
  color: #445588;
}

/* Name.Class */

.no {
  color: #008080;
}

/* Name.Constant */

.nd {
  font-weight: bold;
  color: #3c5d5d;
}

/* Name.Decorator */

.ni {
  color: #800080;
}

/* Name.Entity */

.ne {
  font-weight: bold;
  color: #990000;
}

/* Name.Exception */

.nf {
  font-weight: bold;
  color: #990000;
}

/* Name.Function */

.nl {
  font-weight: bold;
  color: #990000;
}

/* Name.Label */

.nn {
  color: #555555;
}

/* Name.Namespace */

.nt {
  color: #000080;
}

/* Name.Tag */

.nv {
  color: #008080;
}

/* Name.Variable */

.ow {
  font-weight: bold;
  color: #000000;
}

/* Operator.Word */

.w {
  color: #bbbbbb;
}

/* Text.Whitespace */

.mf {
  color: #009999;
}

/* Literal.Number.Float */

.mh {
  color: #009999;
}

/* Literal.Number.Hex */

.mi {
  color: #009999;
}

/* Literal.Number.Integer */

.mo {
  color: #009999;
}

/* Literal.Number.Oct */

.sb {
  color: #d01040;
}

/* Literal.String.Backtick */

.sc {
  color: #d01040;
}

/* Literal.String.Char */

.sd {
  color: #d01040;
}

/* Literal.String.Doc */

.s2 {
  color: #d01040;
}

/* Literal.String.Double */

.se {
  color: #d01040;
}

/* Literal.String.Escape */

.sh {
  color: #d01040;
}

/* Literal.String.Heredoc */

.si {
  color: #d01040;
}

/* Literal.String.Interpol */

.sx {
  color: #d01040;
}

/* Literal.String.Other */

.sr {
  color: #009926;
}

/* Literal.String.Regex */

.s1 {
  color: #d01040;
}

/* Literal.String.Single */

.ss {
  color: #990073;
}

/* Literal.String.Symbol */

.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */

.vc {
  color: #008080;
}

/* Name.Variable.Class */

.vg {
  color: #008080;
}

/* Name.Variable.Global */

.vi {
  color: #008080;
}

/* Name.Variable.Instance */

.il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* MIXINS
 * -------------------------- */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* ELEMENTS AND ADDONS
 * -------------------------- */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  clear: both;
  border: 0;
  border-top: 1px solid #cccccc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #fff;
}

figure {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  *zoom: 1;
}

figure:before,
figure:after {
  display: table;
  line-height: 0;
  content: "";
}

figure:after {
  clear: both;
}

figure img {
  margin-bottom: 10px;
}

figure a img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

@media only screen and (min-width: 62.5em) {
  figure.half img {
    float: left;
    width: 290px;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}

@media only screen and (min-width: 62.5em) {
  figure.third img {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}

svg:not(:root) {
  overflow: hidden;
}

.recent-grid {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}

.recent-grid li {
  display: block;
  float: left;
  width: 25%;
  height: 25%;
  list-style-type: none;
}

@media only screen and (min-width: 62.5em) {
  .recent-grid li {
    width: 20%;
    height: 20%;
  }
}

.recent-grid a {
  display: block;
  border-bottom: 0 solid !important;
}

.recent-grid a img {
  border: 2px solid #fff;
}

.recent-grid a img:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

.recent-grid a:hover {
  border-bottom: 0 solid !important;
}

.recent-grid:before,
.recent-grid:after {
  display: table;
  line-height: 0;
  content: "";
}

.recent-grid:after {
  clear: both;
}

.oversized-recent-grid {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}

@media only screen and (min-width: 62.5em) {
  .oversized-recent-grid {
    margin-right: -240px;
  }
}

.oversized-recent-grid li {
  display: block;
  float: left;
  width: 25%;
  height: 25%;
  list-style-type: none;
}

@media only screen and (min-width: 62.5em) {
  .oversized-recent-grid li {
    width: 12.5%;
    height: 12.5%;
  }
}

.oversized-recent-grid a {
  display: block;
  border-bottom: 0 solid !important;
}

.oversized-recent-grid a img {
  border: 2px solid #fff;
}

.oversized-recent-grid a img:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

.oversized-recent-grid a:hover {
  border-bottom: 0 solid !important;
}

.oversized-recent-grid:before,
.oversized-recent-grid:after {
  display: table;
  line-height: 0;
  content: "";
}

.oversized-recent-grid:after {
  clear: both;
}

.gallery-button {
  position: absolute;
  height: 75px;
  padding: 10px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 48em) {
  .gallery-button {
    height: 106px;
    margin-left: 15px;
    line-height: 106px !important;
  }
}

.gallery-button a {
  color: #c2c9c9;
}

.gallery-button a:hover {
  color: #7f8c8d;
}

.project-wrap {
  position: relative;
  float: left;
  width: 40%;
  margin: 10px 5%;
}

.project-wrap:hover {
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

.project-wrap:nth-child(odd) {
  clear: both;
}

.project-wrap img {
  margin: 0;
}

@media only screen and (min-width: 48em) {
  .project-wrap {
    width: 215px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .project-wrap:nth-child(odd) {
    clear: none;
  }
  .project-wrap:nth-child(3n +4) {
    clear: both;
  }
}

@media only screen and (min-width: 62.5em) {
  .project-wrap {
    width: 120px;
  }
  .project-wrap:nth-child(3n + 4) {
    clear: none;
  }
  .project-wrap:nth-child(7n + 7) {
    clear: both;
  }
}

.figcaption-wrap {
  padding: 0 10px;
}

.figcaption-wrap h3 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 1em;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  border-style: solid !important;
  border-width: 2px !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn:visited {
  color: #ffffff;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.btn-inverse {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-inverse:visited {
  color: #000000;
}

.btn-inverse:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-success:visited {
  color: #ffffff;
}

.btn-success:hover {
  color: #2ecc71;
  background-color: #ffffff;
  border-color: #2ecc71;
}

.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}

.btn-warning:visited {
  color: #ffffff;
}

.btn-warning:hover {
  color: #f1c40f;
  background-color: #ffffff;
  border-color: #f1c40f;
}

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:visited {
  color: #ffffff;
}

.btn-danger:hover {
  color: #e74c3c;
  background-color: #ffffff;
  border-color: #e74c3c;
}

.btn-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.btn-info:visited {
  color: #ffffff;
}

.btn-info:hover {
  color: #3498db;
  background-color: #ffffff;
  border-color: #3498db;
}

.well {
  padding: 20px;
  border: 1px solid #343434;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.badge {
  display: inline-block;
  padding: 2px 6px;
  font-size: 10px;
  font-size: 0.625rem;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #a7b0b1;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.badge a {
  color: #ffffff;
}

@-webkit-keyframes wiggle {
  25%,
  50%,
  75%,
  100% {
    -webkit-transform-origin: top center;
  }
  25% {
    -webkit-transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  25%,
  50%,
  75%,
  100% {
    transform-origin: top center;
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Magnific Popup */

.mfp-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 502;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 503;
  width: 100%;
  height: 100%;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  z-index: 505;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-inline-holder .mfp-content:after,
.mfp-ajax-holder .mfp-content:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: auto;
  height: auto;
  content: '';
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom,
.image-popup {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  z-index: 504;
  width: auto;
  margin-top: -0.8em;
  color: #cccccc;
  text-align: center;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  z-index: 506;
  display: block;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
}

button.mfp-close {
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0 0 18px 10px;
  font-family: Arial, Baskerville, monospace;
  font-size: 28px;
  font-style: normal;
  line-height: 44px;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.65;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  right: -6px;
  width: 100%;
  padding-right: 6px;
  color: white;
  text-align: right;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.mfp-arrow {
  position: absolute;
  top: 0;
  top: 50%;
  width: 90px;
  height: 110px;
  padding: 0;
  margin: 0;
  margin-top: -55px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: #000000;
  opacity: 0.65;
  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent;
  content: '';
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  top: 8px;
  border-top-width: 12px;
  border-bottom-width: 12px;
  opacity: 0.8;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px;
}

.mfp-arrow-left {
  left: 0;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  left: 5px;
  border-right: 12px solid #fff;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 20px solid #fff;
}

.mfp-arrow-right {
  right: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  left: 3px;
  border-left: 12px solid #fff;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 20px solid #fff;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  width: 100%;
  max-width: 900px;
  line-height: 0;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* Main image in popup */

img.mfp-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 40px 0 40px;
  margin: 0 auto;
  line-height: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* The shadow behind the image */

.mfp-figure:after {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: -1;
  display: block;
  width: auto;
  height: auto;
  content: '';
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-figure {
  line-height: 0;
}

.mfp-bottom-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -36px;
  cursor: auto;
}

.mfp-title {
  line-height: 18px;
  color: #f3f3f3;
  text-align: left;
}

.mfp-figure small {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
            transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
  .mfp-container {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  left: 50%;
  width: 600px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: -300px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */

.mfp-fade .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

/* animate in */

.mfp-fade.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

/* animate out */

.mfp-fade.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}

/* Dark overlay, start state */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
      -ms-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

/* animate in */

.mfp-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */

.mfp-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

form {
  margin: 0 0 5px 0;
}

form fieldset {
  padding: 0;
  margin-bottom: 5px;
  border-width: 0;
}

form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  *margin-left: -7px;
  color: #222222;
  white-space: normal;
  border: 0;
  border-bottom: 1px solid #cccccc;
}

form p {
  margin-bottom: 2.5px;
}

form ul {
  padding: 0;
  margin: 0 0 5px 0;
  list-style-type: none;
}

form br {
  display: none;
}

label,
input,
button,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: lato, Calibri, Arial, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 1.25px;
  font-weight: bold;
  color: #222222;
  cursor: pointer;
}

label input,
label textarea,
label select {
  display: block;
}

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 1.25px;
  color: #222222;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

input:hover,
textarea:hover,
select:hover {
  border-color: #808080;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
  *width: 13px;
  *height: 13px;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  background-color: transparent;
  background-color: initial;
  border: initial;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  *overflow: visible;
  cursor: pointer;
}

select,
input[type="file"] {
  *margin-top: 4px;
}

select {
  width: auto;
  background-color: #ffffff;
}

select[multiple],
select[size] {
  height: auto;
}

textarea {
  height: auto;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input[type="hidden"] {
  display: none;
}

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  -webkit-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
}

input:focus,
textarea:focus {
  border-color: #000000;
  outline: 0;
  outline: thin dotted \9;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.help-block,
.help-inline {
  color: #808080;
}

.help-block {
  display: block;
  margin-bottom: 1em;
  line-height: 1em;
}

.help-inline {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}

.form-inline label {
  display: inline-block;
}

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

/* LAYOUT
 * -------------------------- */

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

@media only screen and (min-width: 48em) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.masthead-wrapper {
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  text-align: center;
  border-top: 5px solid #000000;
  *zoom: 1;
}

.masthead-wrapper:before,
.masthead-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.masthead-wrapper:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .masthead-wrapper {
    max-width: 760px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: left;
  }
}

@media only screen and (min-width: 62.5em) {
  .masthead-wrapper {
    max-width: 960px;
  }
}

#masthead {
  padding-top: 20px;
  line-height: 50px;
}

@media only screen and (min-width: 48em) {
  #masthead {
    display: inline-block;
    float: left;
  }
}

#masthead .site-title {
  display: block;
  font-family: lato, Calibri, Arial, sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  text-transform: uppercase;
}

#masthead .site-title a {
  color: #000000;
}

@media only screen and (min-width: 48em) {
  #masthead .site-title {
    display: inline;
    padding-bottom: 0;
    margin-left: 10px;
  }
}

#masthead .site-logo img {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 48em) {
  #masthead .site-logo img {
    display: inline;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
  }
  #masthead .site-logo img:hover {
    -webkit-animation: wiggle 0.3s ease-out;
       -moz-animation: wiggle 0.3s ease-out;
            animation: wiggle 0.3s ease-out;
  }
}

#site-nav {
  font-family: lato, Calibri, Arial, sans-serif;
}

@media only screen and (min-width: 48em) {
  #site-nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
    clear: none;
    line-height: 50px;
  }
}

#site-nav ul {
  padding: 20px 0 0;
  margin: 0;
  clear: both;
}

@media only screen and (min-width: 48em) {
  #site-nav ul {
    padding-top: 0;
    clear: none;
  }
}

#site-nav li {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

@media only screen and (min-width: 48em) {
  #site-nav li {
    float: left;
  }
}

#site-nav a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
       -o-transition: color 0.2s ease;
          transition: color 0.2s ease;
}

#site-nav a:hover {
  background-image: url(../../images/strike_bg.png);
  background-position: left center;
  background-repeat: repeat-x;
}

@media only screen and (min-width: 48em) {
  #site-nav a {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 20px;
    border-bottom: 0;
  }
}

.lines-button {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: 0.21428571428571427rem;
  transition: .3s;
  user-select: none;
}

.lines-button:hover {
  opacity: 1;
}

.lines-button:active {
  transition: 0;
}

.lines {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 0.21428571428571427rem;
  margin-right: 10px;
  margin-bottom: 0.3rem;
  background: #ffffff;
  border-radius: 0.10714285714285714rem;
  transition: .3s;
}

.lines:before,
.lines:after {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1.5rem;
  height: 0.21428571428571427rem;
  background: #ffffff;
  border-radius: 0.10714285714285714rem;
  content: '';
  transition: .3s;
  -webkit-transform-origin: 0.10714285714285714rem center;
          transform-origin: 0.10714285714285714rem center;
}

.lines:before {
  top: 0.375rem;
}

.lines:after {
  top: -0.375rem;
}

.lines-button:hover {
  opacity: 1;
}

.lines-button:hover .lines:before {
  top: 0.42857142857142855rem;
}

.lines-button:hover .lines:after {
  top: -0.42857142857142855rem;
}

.lines-button.x.active .lines {
  background: transparent;
}

.lines-button.x.active .lines:before,
.lines-button.x.active .lines:after {
  top: 0;
  width: 1.5rem;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.lines-button.x.active .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x.active .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

.nav .navtoogle {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: #000000;
  border: none;
}

@media only screen and (min-width: 48em) {
  .nav .navtoogle {
    display: none;
  }
}

.nav button {
  background: none;
  border: none;
}

.navtoogle i {
  z-index: -1;
}

.icon-menu {
  position: relative;
  top: 3px;
  line-height: 0;
}

.no-js .nav .navtoggle {
  display: none;
}

.no-js .nav ul {
  max-height: 30em;
  overflow: hidden;
}

.js .nav ul {
  max-height: 0;
  overflow: hidden;
}

@media only screen and (min-width: 48em) {
  .js .nav ul {
    max-height: 30em;
  }
}

.js .nav .active + ul {
  max-height: 30em;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
     -moz-transition: max-height 0.4s;
      -ms-transition: max-height 0.4s;
       -o-transition: max-height 0.4s;
          transition: max-height 0.4s;
}

#main {
  *zoom: 1;
}

#main:before,
#main:after {
  display: table;
  line-height: 0;
  content: "";
}

#main:after {
  clear: both;
}

.entry,
.hentry {
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  *zoom: 1;
}

.entry:before,
.hentry:before,
.entry:after,
.hentry:after {
  display: table;
  line-height: 0;
  content: "";
}

.entry:after,
.hentry:after {
  clear: both;
}

.entry-header {
  width: 100%;
}

.entry-header h1,
.entry-header h6 {
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.entry-header h1:before,
.entry-header h6:before,
.entry-header h1:after,
.entry-header h6:after {
  display: table;
  line-height: 0;
  content: "";
}

.entry-header h1:after,
.entry-header h6:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .entry-header h1,
  .entry-header h6 {
    max-width: 720px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-header h1,
  .entry-header h6 {
    max-width: 960px;
    padding-right: 140px;
  }
}

.entry-header h6 + h1 {
  margin-top: 0;
}

.entry-header h6 {
  margin-bottom: 1em;
}

.entry-image {
  position: relative;
}

.entry-feature-image {
  width: 100%;
  margin: 20px 0 0;
}

.image-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  max-width: 440px;
  padding: 10px 15px;
  margin: 0 auto;
  font-size: 12px;
  font-size: 0.75rem;
  color: #ffffff;
  text-align: right;
  background-color: rgba(52, 52, 52, 0.5);
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

@media only screen and (min-width: 48em) {
  .image-credit {
    max-width: 760px;
  }
}

@media only screen and (min-width: 62.5em) {
  .image-credit {
    max-width: 960px;
  }
}

.image-credit a {
  color: #ffffff;
  text-decoration: none;
}

span + .entry-title {
  margin-top: 0;
}

.entry-title {
  font-family: lato, Calibri, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.entry-title a {
  color: #000000;
}

@media only screen and (min-width: 48em) {
  .entry-title {
    max-width: 600px;
    font-size: 36px;
    font-size: 2.25rem;
    text-align: left;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-title {
    max-width: 800px;
    font-size: 42px;
    font-size: 2.625rem;
  }
}

.entry-wrapper {
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  *zoom: 1;
}

.entry-wrapper:before,
.entry-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.entry-wrapper:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .entry-wrapper {
    max-width: 760px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-wrapper {
    max-width: 960px;
  }
}

#home .entry-wrapper {
  margin-bottom: 0;
}

@media only screen and (min-width: 48em) {
  #home section.entry:last-child .entry-wrapper {
    margin-bottom: 3em;
  }
}

.entry-meta {
  padding-bottom: 20px;
  clear: both;
  font-size: 14px;
  font-size: 0.875rem;
  color: #343434;
}

.entry-meta a {
  color: #343434;
}

.entry-tags {
  text-transform: uppercase;
  visibility: hidden;
}

.entry-tags a {
  color: #000000;
  white-space: nowrap;
}

@media only screen and (min-width: 48em) {
  .entry-tags {
    max-width: 600px;
    visibility: visible;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-tags {
    max-width: 800px;
  }
}

.entry-tags .sep {
  padding: 0 5px;
}

.author-photo {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 150px;
     -moz-border-radius: 150px;
          border-radius: 150px;
}

@media only screen and (min-width: 62.5em) {
  .author-photo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.entry-content {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.entry-content p {
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
}

.entry-content li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
}

@media only screen and (min-width: 48em) {
  .entry-content p {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .entry-content p:first-child {
    margin-top: 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .entry-content li {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-content {
    float: left;
  }
}

.entry-content p > a,
.entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}

.entry-content p > a:hover,
.entry-content li > a:hover {
  border-bottom-style: solid;
}

.entry-content p > a.reversefootnote {
  border-bottom-width: 0;
}

.entry-content figure {
  margin-right: -20px;
  margin-left: -20px;
}

@media only screen and (min-width: 48em) {
  .entry-content figure {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-content figure {
    position: relative;
  }
}

@media only screen and (min-width: 62.5em) {
  .entry-content figure figcaption {
    position: absolute;
    top: 10px;
    right: -170px;
    width: 150px;
    text-align: left;
  }
  .entry-content figure figcaption:before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 1px;
    background: #b3b3b3;
    content: '';
  }
}

.entry-content .image-right {
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .entry-content .image-right {
    float: right;
    margin-left: 2em;
  }
  .entry-content .image-right img {
    float: left;
    padding-right: .5em;
  }
}

.entry-content .footnotes {
  margin: 3em 0;
  font-family: lato, Calibri, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.entry-content .footnotes:before {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  content: 'Footnotes:';
}

.entry-content .footnotes p,
.entry-content .footnotes li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

ul#markdown-toc {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

ul#markdown-toc:before {
  display: block;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 5px solid #cdcdcd;
  content: "Table of Contents";
}

ul#markdown-toc ul {
  padding-left: 1em;
  margin-left: 0;
  list-style: none;
  border-top: 1px solid #b3b3b3;
}

ul#markdown-toc li {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  border-bottom: 1px solid #b3b3b3;
}

@media only screen and (min-width: 48em) {
  ul#markdown-toc li {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

ul#markdown-toc li a {
  display: block;
  padding: 0.5em 1em;
  border: none;
}

ul#markdown-toc li a:hover {
  background-color: #f3f3f3;
}

ul#markdown-toc li:first-child {
  padding-top: 0;
}

ul#markdown-toc li:last-child {
  border: none;
}

.work-content {
  max-width: 600px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.work-content:before,
.work-content:after {
  display: table;
  line-height: 0;
  content: "";
}

.work-content:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .work-content {
    max-width: 765px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (min-width: 62.5em) {
  .work-content {
    max-width: 960px;
  }
}

.post-index {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.post-index .list-image {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 48em) {
  .post-index .list-image {
    width: 75px;
    height: 75px;
  }
}

.post-index .list-content {
  min-height: 55px;
  padding-left: 75px;
  word-wrap: break-word;
}

@media only screen and (min-width: 48em) {
  .post-index .list-content {
    min-height: 80px;
    padding-left: 100px;
  }
}

.post-index li {
  position: relative;
  margin-top: 26px;
  margin-bottom: 26px;
  list-style-type: none;
  *zoom: 1;
}

.post-index li:before,
.post-index li:after {
  display: table;
  line-height: 0;
  content: "";
}

.post-index li:after {
  clear: both;
}

.post-index h1,
.post-index h4,
.post-index p {
  margin: 0;
}

.post-index h1 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3684;
}

.post-index h4 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3684;
}

.post-index .entry-meta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8571;
}

.post-index .preview {
  width: 50px;
  height: 50px;
  border: 4px solid #ccc;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}

@media only screen and (min-width: 48em) {
  .post-index .preview {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 75px;
       -moz-border-radius: 75px;
            border-radius: 75px;
  }
}

.ads {
  display: block;
  margin-right: -10px;
  margin-left: -10px;
}

@media only screen and (min-width: 48em) {
  .ads {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 62.5em) {
  .ads {
    float: right;
    width: 160px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-left: 80px;
  }
}

.responsive-ads {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 62.5em) {
  .responsive-ads {
    margin-top: 40px;
  }
}

#disqus_thread {
  margin-top: 2em;
  *zoom: 1;
}

#disqus_thread:before,
#disqus_thread:after {
  display: table;
  line-height: 0;
  content: "";
}

#disqus_thread:after {
  clear: both;
}

.pagination {
  padding: 2em 0;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  *zoom: 1;
}

.pagination:before,
.pagination:after {
  display: table;
  line-height: 0;
  content: "";
}

.pagination:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .pagination {
    padding: 0;
    border-top: 0 solid;
  }
}

@media only screen and (min-width: 48em) {
  .previous-link,
  .next-link {
    position: fixed;
    top: 50%;
    padding: .25em;
    font-size: 1.5em;
    color: #000000;
    background-color: #ffffff;
  }
  .previous-link:hover,
  .next-link:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .previous-link:active,
  .next-link:active,
  .previous-link:visited,
  .next-link:visited {
    color: #000000;
  }
  .previous-link span,
  .next-link span {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  .previous-link {
    left: 0;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
  }
}

@media only screen and (min-width: 48em) {
  .next-link {
    right: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
  }
}

.archive-link {
  margin-right: 1em;
  margin-left: 1em;
}

@media only screen and (min-width: 48em) {
  .archive-link {
    display: none;
  }
}

#home .intro .entry-wrapper {
  margin-bottom: 2em;
}

#home .intro p {
  font-size: 22px;
  font-size: 1.375rem;
}

@media only screen and (min-width: 48em) {
  #home .intro p {
    margin-bottom: 0;
    font-size: 32px;
    font-size: 2rem;
  }
}

#home .intro p > a {
  border-bottom: 1px dotted #a2a2a2;
}

#home .intro p > a:hover {
  border-bottom-style: solid;
}

#home .entry-content {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.tag-box {
  padding: 4px 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  *zoom: 1;
}

.tag-box:before,
.tag-box:after {
  display: table;
  line-height: 0;
  content: "";
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-bottom: 0 solid transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tag-box a span {
  font-size: 10px;
  font-size: 0.625rem;
  vertical-align: super;
}

.footer-wrapper {
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 3em;
  font-size: 14px;
  font-size: 0.875rem;
  color: #b3b3b3;
  *zoom: 1;
}

.footer-wrapper:before,
.footer-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.footer-wrapper:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .footer-wrapper {
    max-width: 760px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 62.5em) {
  .footer-wrapper {
    max-width: 960px;
  }
}

@media only screen and (min-width: 48em) {
  .footer-wrapper p {
    display: inline-block;
    float: left;
  }
}

.footer-wrapper a {
  color: #b3b3b3;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.footer-wrapper a:hover {
  color: #222222;
}

.social-icons {
  margin: 2em 0;
}

@media only screen and (min-width: 48em) {
  .social-icons {
    display: inline-block;
    float: right;
    margin: 0;
    text-align: right;
  }
}

.social-icons a {
  display: inline-block;
  padding: 4px 8px;
  color: #c2c9c9;
}

.social-icons a:hover {
  color: #7f8c8d;
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

.social-icons a[href^="http://twitter.com"]:hover {
  color: #00acee;
}

.social-icons a[href^="http://instagram.com"]:hover {
  color: #a97c58;
}

.social-icons a[href^="http://github.com"]:hover {
  color: #000000;
}

.social-icons a[href^="http://facebook.com"]:hover {
  color: #4862a3;
}

.social-icons a[href^="http://plus"]:hover {
  color: #dc4836;
}

.social-icons a[href^="http://feeds"]:hover {
  color: #f1c40f;
}

.upgrade {
  padding: 10px;
  text-align: center;
}

#goog-fixurl ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

#goog-fixurl ul li {
  list-style-type: none;
}

#goog-wm-qt {
  width: auto;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  border-color: #b3b3b3;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#goog-wm-qt:hover {
  border-color: #000000;
}

#goog-wm-sb {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 1em;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  border-style: solid !important;
  border-width: 2px !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#goog-wm-sb:visited {
  color: #ffffff;
}

#goog-wm-sb:hover {
  color: #000000;
  background-color: #ffffff;
}

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .entry-wrapper,
  .entry-content,
  .entry-header h1 {
    width: 100%;
    max-width: 100%;
  }
  .masthead-wrapper,
  .ads,
  .social-icons {
    display: none;
  }
  .entry-feature-image {
    marign-top: 0;
  }
}

.palette {
  width: 100%;
  background: #171716 url("../images/paper-53-palette-bk.png");
  border-radius: 10px;
}

.palette .row {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  *zoom: 1;
}

.palette .row:before,
.palette .row:after {
  display: table;
  line-height: 0;
  content: "";
}

.palette .row:after {
  clear: both;
}

.palette .row a {
  margin: 5px;
}

.palette div:first-child {
  padding-top: 10px;
}

.palette div:last-child {
  padding-bottom: 10px;
}

.palette .swatch {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: 3px solid #000000;
  border-radius: 70px;
}

.palette .swatch:hover {
  border: 3px solid #ffffff;
}

@media only screen and (min-width: 48em) {
  .palette .swatch {
    width: 110px;
    height: 110px;
    border-radius: 110px;
  }
}