/* ==========================================================================
   PAPER BY FIFTYTHREE  COLOR PALETTE SWATCHES
   ========================================================================== */

.palette {
  width: 100%;
  margin-bottom: 1em;
  background: #171716 url("../images/paper-53-palette-bk.png");
  border-radius: 10px;

  &__row { // .palette__row
    padding: 0.25em 0;
    width: 100%;
    text-align: center;

    a {
      margin: 0.25em;
    }
  }

  /* spacing above and below rows */
  div:first-child {
    padding-top: 1em;
  }

  div:last-child {
    padding-bottom: 1em;
  }

  &__swatch { // .palette__swatch
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #000;

    &:hover {
      border: 3px solid #fff;
    }

    @include breakpoint($medium) {
      width: 110px;
      height: 110px;
    }
  }
}
