/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/*
   Fade-in
   ========================================================================== */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*
   Magnific-Popup zoom-in
   ========================================================================== */

.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}


/*
   Glitcher
   ========================================================================== */

@keyframes glitch-start {
  0% { background-image: url('../images/black-glitched-1.png'); }
  100% { background-image: url('../images/black-glitched-2.png'); }
}

@keyframes glitch {
  0% { background-image: url('../images/black-glitched-3.png'); }
  50% { background-image: url('../images/black-glitched-4.png'); }
  100% { background-image: url('../images/black-glitched-2.png'); }
}

@keyframes glitch-end {
  50% { background-image: url('../images/black-glitched-1.png'); }
  70% { background-image: url('../images/black-glitched-4.png'); }
}

@keyframes blur {
  0% { filter: blur(1px); opacity: 1;}
  50% { filter: blur(1px); opacity: 0.9; }
  100% { filter: blur(1px); opacity: 1; }
}

@keyframes shift {
  50% { transform: translateX(1px); }
  51% { transform: translateX(-2px); }
  52% { transform: translateX(0); }
  65% { transform: translateY(2px); }
  67% { transform: translateY(0); }
  90% { transform: translateX(-1px); }
}


/*
   Typed.js
   ========================================================================== */

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes ready {
  to {
    visibility: hidden;
  }
}
