/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

/*
   Fade in up animation
   ========================================================================== */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/*
   Fade in left animation
   ========================================================================== */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

/*
   Drop animation
   ========================================================================== */

@keyframes drop {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}

.drop {
  animation-name: drop;
}

/*
   Magnific-Popup zoom-in
   ========================================================================== */

.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}
