/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive__item {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5em;
  /* hover state */
  &:hover {
    .archive__item-title,
    .archive__item-excerpt {
      color: #000;
    }
    .archive__item-title {
      text-decoration: underline;
    }
    .archive__item-thumb {
      box-shadow: 0 0 10px rgba(#000, 0.5);
    }
  }
}

.archive__item-body {
  flex: 3;
  order: 1;
  padding: 1em 0 1em 1em;
}

.archive__item-title {
  margin: 0 !important; // override
  padding: 0;
  font-family: $sans-serif-narrow;
  font-size: 1.25rem;
}

.archive__item-meta {
  margin-top: 0.5em;
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $text-color;
}

.archive__item-time {
  &:before {
    content: "";
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.archive__item-excerpt {
  margin: 0.5em 0 0;
  padding: 0;
  font-size: 0.8rem;
}

.archive__item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: $border-radius;
}
