/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive__item {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $light-gray;
  /* hover state */
  &:hover {
    .archive__item-title,
    .archive__item-excerpt {
      color: #000;
    }
    .archive__item-thumb img {
      border-color: #000;
    }
  }
}

.archive__item-body {
  flex: 3;
  padding-right: 1em;
}

h1.archive__item-title {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.archive__item-meta {
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $text-color;
}

.archive__item-excerpt {
  margin: 0.5em 0 0;
  padding: 0;
  color: $text-color;
}

.archive__item-thumb {
  display: none;
  @include breakpoint($small) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 125px;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 125px;
    padding: 2px;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
  }
}
