/* ==========================================================================
   BACK TO TOP
   ========================================================================== */

.mm-top {
  display: inline-block;
  width: $button-size * 1.5;
  height: $button-size;
  border-radius: $border-radius;

  position: fixed;
  bottom: 10px;
  // center the button
  left: 50%; // fallback
  left: calc(50% - #{$button-size * 0.75});

  box-shadow: 0 0 10px rgba($black, 0.05);

  // image replacement properties
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  // fix scroll jank
  transform: translateZ(0);
  backface-visibility: hidden;

  background: rgba($danger-color, 0.8) url(../images/mm-top-arrow.svg) no-repeat center 50%;

  visibility: hidden;
  opacity: 0;
  z-index: 10;

  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  &.mm-is-visible, &.mm-fade-out, .no-touch &:hover {
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  &.mm-is-visible { // the button becomes visible
    visibility: visible;
    opacity: 1;
  }

  &.mm-fade-out { // if the user keeps scrolling down, the button is out of focus and becomes less visible
    opacity: 0.8;
  }

  &:hover,
  .no-touch &:hover {
    background-color: rgba($danger-color, 1);
    opacity: 1;
  }
}
