/* ==========================================================================
   BANNERS
   ========================================================================== */

.ad__caption {
  display: block;
  font-style: italic;
}

/*
   Google Adsense
   ========================================================================== */

/* sidebar ad */

.adsense--sidebar {
  width: 320px;
  height: 100px;
  @media (min-width: $small) {
    width: 120px;
    height: 600px;
  }
  @media (min-width: $medium) {
    width: 300px;
    height: 250px;
  }
}
