/* ==========================================================================
   BANNERS
   ========================================================================== */

/*
   Content banners
   ========================================================================== */

.ads {
  position: relative;
  text-align: center;
  @include breakpoint($small) {
    text-align: left;
  }
  > ins {
    // position: relative;
    border-width: 0;
    // &:after {
    //   content: "Advertisement";
    //   position: absolute;
    //   width: 100%;
    //   text-align: center;
    //   display: block;
    //   @include font-size(12, no);
    //   font-family: $alt-font;
    // }
  }
}

/*
   Google Adsense banners
   ========================================================================== */

/* skyscraper entry-content sidebar */

.r-ads-skyscraper { width: 250px; height: 250px; }
@media(min-width: 468px) { .r-ads-skyscraper { width: 468px; height: 60px; } }
@media(min-width: 768px) { .r-ads-skyscraper { width: 160px; height: 600px; } }
@media(min-width: 860px) { .r-ads-skyscraper { width: 125px; height: 125px; } }
@media(min-width: 1040px) { .r-ads-skyscraper { width: 200px; height: 200px; } }