/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

/*
   Typography
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $serif;
  font-size: 16px;
}

ul, ol {
  padding-left: gutter();
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  color: $headline-color;
  font-family: $sans-serif;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
}

/* Links */

a {
  &:focus {
    @extend %tab-focus;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $code-font;
}
pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}
p code,
li code {
  white-space: nowrap;
}

/* Horizontal rule */

hr {
  display: block;
  margin: (0px + ($doc-line-height * 2)) 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  position: relative;
  @include clearfix;
  margin-left: 0;
  margin-right: 0;
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }
  img {
    width: 100%;
    transition: box-shadow 0.3s;
  }
  > a {
    display: block;
    // image hover animation
    &:hover {
      img {
        box-shadow: 0 0 10px rgba($black, .20);
      }
    }
  }
  &.half {
    > a,
    > img {
      @include breakpoint($small) {
      }
    }
    figcaption {
      float: left;
      @include clearfix;
    }
  }
  &.third {
    > a,
    > img {
      @include breakpoint($small) {
      }
    }
    figcaption {
      float: left;
      @include clearfix;
    }
  }
}

/* Figure captions */

figcaption {
  color: $caption-color;
  clear: both;
  a {
    color: $caption-color;
    text-decoration: none;
    border-bottom: 1px dotted $caption-color;
    &:hover {
      border-bottom-style: solid;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, .highlight {
  transition: color 0.2s ease-out, opacity 0.2s ease-out, background 0.2s ease-out, border-color 0.2s ease-out, border-width 0.2s ease-out;
}
