/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

/*
   Typography
   ========================================================================== */

/* Modular scale
 *  one    - 2.441
 *  two    - 1.953
 *  three  - 1.563
 *  four   - 1.25
 *  five   - 1
 *  six    - 0.8
 *  seven  - 0.64
 *  eight  - 0.512
 */

body {
  margin: 0;
  padding: 5em 0 0;
  color: $text-color;
  font-family: $serif;
  line-height: 1.45;
}

small {
  font-size: 0.8rem;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
}

/* Links */

a {
  text-decoration: none;
  &:focus {
    @extend %tab-focus;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
}
pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}
p code,
li code {
  white-space: nowrap;
}

/* Horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }
  img {
    width: 100%;
    transition: box-shadow 0.3s;
  }
  > a {
    display: block;
    // image hover animation
    &:hover {
      img {
        box-shadow: 0 0 10px rgba($black, .20);
      }
    }
  }
  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: 50%;
      }
    }
    figcaption {
    }
  }
  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: 33.3333%;
      }
    }
    figcaption {
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.65rem;
  color: $caption-color;
  font-family: $sans-serif;
  font-size: 0.8rem;
  a {
    color: $caption-color;
    text-decoration: none;
    border-bottom: 1px dotted $caption-color;
    &:hover {
      border-bottom-style: solid;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, .highlight {
  transition: color 0.2s ease-out, opacity 0.2s ease-out, background 0.2s ease-out, border-color 0.2s ease-out, border-width 0.2s ease-out;
}
