/* ==========================================================================
   PAGE META INFORMATION and BREADCRUMBS
   ========================================================================== */

.page-meta,
.breadcrumbs {
  @include clearfix;
  font-family: $alt-font;
  @include font-size(12,no,21);
  text-align: left;
  text-transform: uppercase;
  a {
    display: inline-block;
    color: $text-color;
    text-decoration: none;
  }
}

.page-meta {
  margin-top: $gutter;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
  span {
    display: block;
  }
}

/*
   Breadcrumbs + Feature image
   ========================================================================== */

.page-feature-header {
  .breadcrumbs {
    margin-top: $gutter;
  }
}

/*
   Breacrumbs + Feature image with Overlay (light on dark)
   ========================================================================== */

.overlay .page-meta,
.overlay .breadcrumbs { /* Overlay meta description and tags */
  @include media($small) {
    span {
      color: $white;
      text-shadow: 1px 1px 0 $black;
      a {
        color: $white;
      }
    }
  }
}
