/* ==========================================================================
   PAGE META INFORMATION and BREADCRUMBS
   ========================================================================== */

.page-meta,
.breadcrumbs {
  @include clearfix;
  margin-top: gutter();
  font-family: $alt-font;
  @include font-size(14, no, 21);
  font-weight: 400;
  text-align: left;
  a {
    display: inline-block;
    color: $text-color;
    text-decoration: none;
  }
}

.page-meta {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
  span {
    display: block;
  }
}

.breadcrumbs {
  @include layout($article);
  @include span(14);
  @include pre(1);
  @include break;
  @include breakpoint($small) {
    @include span(10);
    @include pre(5);
    @include post(1);
    @include nobreak;
  }
  @include breakpoint($medium) {
    @include pre(4);
    @include post(1);
  }
  .sep {
    padding-left: 3px;
    padding-right: 3px;
  }
}
