/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  padding: 10px 20px;
  color: #fff !important; // override
  font-family: $sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #000;
  border: 0 !important;
  border-radius: $border-radius;
  text-transform: uppercase;
  &:active {
    // move button slightly on click
    transform: translateY(1px);
  }
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    fill: currentColor;
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* for dark backgrounds */

  &--inverse {
    color: #000 !important; // override
    background-color: #fff;
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; // override
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: $info-color;
  }

  /* warning */

  &--warning {
    background-color: $warning-color;
  }

  /* success */

  &--success {
    background-color: $success-color;
  }

  /* danger */

  &--danger {
    background-color: $danger-color;
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (google-plus, $google-plus-color),
  (instagram, $instagram-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (twitter, $twitter-color),
  (github, $github-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;
    }
  }
}
