/* ==========================================================================
   BUTTONS
   ========================================================================== */

/* 
   Default button
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 8px 20px;
  @include font-size(14);
  font-family: $alt-font;
  font-weight: 700;
  background-color: $primary-color;
  color: $white;
  text-decoration: none;
  border: 0 !important;
  border-radius: $border-radius;
  @include transition(background 0.2s, border 0.2s);
  &:hover {
    color: $white !important;
    background-color: lighten($primary-color, 20);
  }
  &:active {
    // move button slightly on click
    @include transform(translateY(1px));
  }
}

/* 
   Inverse button (for use on dark backgrounds)
   ========================================================================== */

.btn-inverse {
  @extend .btn;
  background-color: $white;
  color: $text-color !important;
  &:hover {
    color: $white !important;
    background-color: $text-color;
  }
}

/* 
   Info button
   ========================================================================== */

.btn-info {
  @extend .btn;
  background-color: $info-color;
  color: $white !important;
  &:hover {
    background-color: lighten($info-color, 20);
  }
}

/* 
   Warning button
   ========================================================================== */

.btn-warning {
  @extend .btn;
  background-color: $warning-color;
  color: $white !important;
  &:hover {
    background-color: lighten($warning-color ,20);
  }
}

/* 
   Success button
   ========================================================================== */

.btn-success {
  @extend .btn;
  background-color: $success-color;
  color: $white !important;
  &:hover {
    background-color:lighten($success-color, 20);
  }
}

/* 
   Danger button
   ========================================================================== */

.btn-danger {
  @extend .btn;
  background-color: $danger-color;
  color: $white !important;
  &:hover {
    background-color: lighten($danger-color, 20);
  }
}

/* 
   Disabled button
   ========================================================================== */

.btn-disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

/* 
   Social networking buttons
   ========================================================================== */

/* Social network brand colors defined in _variables.scss */

/**
 * Social button markup example
 * Add social network class to anchor or button element along with .btn-social
 * .facebook
 * .flickr
 * .foursquare
 * .google-plus
 * .instagram
 * .linkedin
 * .pinterest
 * .rss
 * .tumblr
 * .twitter
 * .vimeo
 * .youtube
 *
 *  <a class="btn-social twitter" href="#">
 *    <i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter
 *  </a>
 */

.btn-social {
  $social: 
    (facebook, $facebook-color),
    (flickr, $flickr-color),
    (foursquare, $foursquare-color),
    (google-plus, $google-plus-color),
    (instagram, $instagram-color),
    (linkedin, $linkedin-color),
    (pinterest, $pinterest-color),
    (rss, $rss-color),
    (tumblr, $tumblr-color),
    (twitter, $twitter-color),
    (vimeo, $vimeo-color),
    (youtube, $youtube-color);
  @extend .btn-inverse;
  color: $text-color !important;
  border: 1px solid $border-color !important;
  @each $socialnetwork, $color in $social {
    i.fa-#{$socialnetwork} {
      color: $color;
    }    
  }
  &:hover {
    color: $white !important;
  }
  @each $socialnetwork, $color in $social {
    &.#{$socialnetwork}:hover {
      background: $color;
      border-color: $color;
      @each $socialnetwork, $color in $social {
          i.fa-#{$socialnetwork} {
          color: $white;
        }    
      }
    }    
  }
}