/* ==========================================================================
   COLOPHON
   ========================================================================== */

.colophon {
  margin-top: 4em;
  padding: 20px 0;
  color: #999;
  font-size: 0.8rem;
}

.colophon__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.colophon__menu-item,
.colophon__menu-item--social,
.colophon__menu-label,
.colophon__menu-sep {
  width: 50%;
  font-family: $sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  @include breakpoint($small) {
    width: initial;
  }
  a {
    display: block;
    margin-right: 20px;
    padding: 10px 0;
    color: #999;
    &:hover {
      color: #000;
    }
  }
}

.colophon__menu-item--social {
  text-transform: none;
}

.colophon__menu-sep {
  padding: 10px 20px 10px 0;
}

.colophon__copyright {
  a {
    color: #999;
    border-bottom: 1px solid $light-gray;
    &:hover {
      border-bottom-style: solid;
    }
  }
}
