/* ==========================================================================
   FOOTER
   ========================================================================== */

#site-footer {
  @include fill-parent;
  margin-top: (2 * (0px + $doc-line-height));
  margin-top: (2 * (0rem + ($doc-line-height / $doc-font-size)));
  padding: $gutter;
  text-align: center;
  background: $background-color;
  @include media($medium) {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
  }
  @include media($large) {
    text-align: left;
  }
  font-family: $alt-font;

  .copyright {
    clear: both;
    @include font-size(12);
    color: $caption-color;
    a {
      color: $caption-color;
      text-decoration: none;
    }
  }
  .to-top {
    clear: both;
    @include font-size(14, no);
    color: $caption-color;
    a {
      color: $caption-color;
      text-decoration: none;
    }
  }
}

/* Footer menu links */

.footer-links {
  @include media($large) {
    float: left;
  }
  li {
    a {
      margin-left: ($gutter / 2);
      margin-right: ($gutter / 2);
      @include media($large) {
        margin-left: 0;
        margin-right: $gutter;
      }
      padding: (.25 * $masthead-height) 0 (.25 * $masthead-height);
      color: $caption-color;
    }
  }
}
