/* ==========================================================================
   GLITCH PAGE
   ========================================================================== */

// compensate for missing masthead

body {
  padding-top: 0 !important;
}
.overlay__menu {
  padding-top: 0;
}


.glitch__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  background-image: url('../images/black-glitched-2.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: glitch-start, glitch, glitch-start, glitch-start, glitch-end;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-delay: 0s, 5s, 20s, 25s, 35s;
  z-index: 1;
}

.glitch__content {
  padding: 2em;
  color: #fff;
  font-family: $monospace;
  transition: opacity 0.3s ease-out;
  animation: blur 0.2s infinite, shift 20s steps(60) infinite;
  @include breakpoint($small) {
    width: 30em;
  }
  &:hover {
    animation-play-state: paused;
  }
}

.glitch__title {
  font-size: 1.953rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  @include breakpoint($small) {
    font-size: 2.441rem;
  }
}

.glitch__excerpt {
  margin-bottom: 2em;
  font-size: 1rem;
  font-weight: normal;
  a {
    color: #fff;
    border-bottom: 1px solid $light-gray;
    &:hover {
      color: #000;
      background: #fff;
    }
  }
  // fake paragraph breaks
  .br {
    display: block;
    margin-bottom: 1em;
  }
}

// menu links

.glitch__menu {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    display: block;
  }
  a {
    color: #fff;
    margin-right: 10px;
    border-bottom: 0;
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
    &:hover {
      color: #000;
      background: #fff;
    }
  }
}

// typed.js

.typed-cursor {
  display: none;
}

.js {
  .typed__source {
    display: none;
    visibility: hidden;
  }
  .typed__secondary {
    opacity: 0;
  }
}

// typed text destination container

.typed__dest {
  display: block;
  &:after {
    visibility: visible;
    content: "";
    background-color: #fff;
    display: inline-block;
    position: relative;
    width: 0.5em;
    height: 1em;
    top: 5px;
    margin-left: 0;
    animation: ready 1s steps(2, start) infinite;
  }
}
