/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */

/* 
   Wrappers
   ========================================================================== */

/* Content wrapper */

.wrap {
  @include outer-container;
  padding: (0.5 * $gutter) $gutter;
  box-shadow: 0 0 5px darken($background-color, 20);
  @include media($medium) {
    padding: $gutter (2 * $gutter);
  }
  @include media($large) {
    padding: (1.25 * $gutter) (2.5 * $gutter);
  }
  background-color: $body-color;
  + .wrap {
    margin-top: $gutter;
  }
}

/* Inner wrap (to be used with ads to the right) */

.inner-wrap {
  @include media($medium) {
    @include span-columns(8);
  }
}

/* 
   Visibility
   ========================================================================== */

/* Hide element */

.hidden,
.load {
  display: none;
}

/* 
   Scroll related
   ========================================================================== */

/* Remove scrollbars */

.no-scroll {
  overflow: hidden;
}

/* Stick to top */

.affix {
  position: fixed;
  top: 20px;
}

/* 
   Lists
   ========================================================================== */

/* Inline menu navigation links */

.menu {
  li {
    display: inline-block;
    &:last-child a {
      @include media($large) {
        margin-right: 0; /* remove spacing from last menu link */
      }
    }
    a:hover {
      color: $primary-color;
    }
  }
}

/* 
   Buttons
   ========================================================================== */

/* Inline buttons (side by side) */

/**
 * Example usage:
 *  <div class="inline-btn">
 *    <a class="btn" href="#">Button 1</a>
 *    <a class="btn" href="#">Button 2</a>
 *  </div>
 */

.inline-btn {
  @include clearfix;
  a, .btn {
    display: inline-block;
    margin-right: $gutter / 2;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* 
   Type
   ========================================================================== */

/* Shorten measure of text for full width layouts */

.shorten {
  margin-top: 0;
  @include media($large) {
    @include row;
    @include span-columns(9);
  }
}

/* Center align */

.center {
  text-align: center;
}

/* 
   Images
   ========================================================================== */

/* Image align right */

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include media($medium) {
    float: right;
    margin-left: $gutter;
  }
}

/* 
   Animation related
   ========================================================================== */

.come-in {
  @include transform(translateY(20px));
  @include animation(pop 0.5s ease forwards);
}

/* Reset already visible elements */

.already-visible {
  @include transform(translateY(0));
  @include animation(none);
}