/* ==========================================================================
   HOME PAGE
   ========================================================================== */

.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  .hidden {
    display: none !important;
  }
}

.home__content {
  padding: 2em;
  color: #fff;
  animation: fade-in 2s;
}

.home__title {
  margin-top: 0;
  font-family: $sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4px;
  span {
    display: block;
    font-size: 4.882rem;
    font-weight: bold;
    letter-spacing: 2px;
    @media (max-width: $small) {
      font-size: 3.6615rem;
    }
  }
}

.home__excerpt {
  margin-bottom: 2em;
  max-width: 20em;
  font-size: 1.25rem;
  font-weight: normal;
  span {
    display: inline-block;
  }
  a {
    color: #fff;
    border-bottom: 1px solid $gray;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}

.home__words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    opacity: 0;
    top: 0.2em;
    &.is--visible {
      position: relative;
      top: 0;
      opacity: 1;
      animation: slide-in 0.6s;
    }
    &.is--hidden {
      animation: slide-out 0.6s;
    }
  }
}

.home__primary {
  @media (max-width: $small) {
    display: flex;
    flex-direction: column;
    .btn {
      margin-bottom: 0.25em;
      justify-content: flex-start;
    }
  }
}

.home__secondary {
  margin-top: 3em;
  font-size: 0.9rem;
  color: $lighter-gray;
  a {
    color: $lighter-gray;
    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
  .sep {
    margin: 0 0.5em;
  }
}
