// MASTHEAD
// --------------------------------------------------

#masthead {
  padding: $gutter;
  @include media($medium) {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
  }
  z-index: 5;
  // @include transform(translate(0,0));
  @include transition(500ms cubic-bezier(.645,.045,.355,1.000));
  &.slide {
    @include transform(translate(-1600px,0));
  }
  .inner-wrap {
    @include outer-container;
  }
}
.logo-wrap {
  @include row;
  @include media($large) {
    @include span-columns(3.5);
  }
}
.site-logo {
  display: none;
  &:hover {
    @include animation(wiggle .3s 0 linear);
  }
  @include media($medium) {
    display: block;
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}
.site-title {
  float: left;
  padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
  height: $masthead-height;
  text-decoration: none;
  color: $primary-color;
  font-family: $alt-font;
  font-weight: 700;
  @include font-size(20,no);
  line-height: .5 * $masthead-height; // half the height to center vertically
  text-transform: uppercase;
}


// NAVIGATIONS
// --------------------------------------------------

.menu {
  li {
    display: inline-block;
    &:last-child a {
      @include media($large) {
        margin-right: 0; // remove spacing from last menu link
      }
    }
    a:hover {
      color: $primary-color;
    }
  }
}

.top-menu {
  display: none;
  position: relative;
  @include media($large) {
    @include span-columns(7.5);
    ul {
      position: absolute;
      right: 0;
    }
  }
  .home,
  .sub-menu-item {
    display: none;
  }
  li {
    a {
      height: $masthead-height;
      margin-right: $gutter;
      padding: (.25 * $masthead-height) 0 (.25 * $masthead-height);
      font-family: $alt-font;
      font-weight: 700;
      @include font-size(16,no);
      line-height: .5 * $masthead-height; // half the height to center vertically
      color: $primary-color;
      text-transform: uppercase;
      // line hover effect
      position: relative;
      display: block;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        @include transition(width 0.3s);
      }
      &:before {
        width: 100%;
        background: transparent;
      }
      &:after {
        width: 0;
        background: $primary-color;
      }
      &:active:after,
      &:hover:after {
        width: 100%;
      }
    }
  }
}
.footer-links {
  @include media($large) {
    float: left;
  }
  li {
    a {
      margin-left: ($gutter / 2);
      margin-right: ($gutter / 2);
      @include media($large) {
        margin-left: 0;
        margin-right: $gutter;
      }
      padding: (.25 * $masthead-height) 0 (.25 * $masthead-height);
      color: $caption-color;
    }
  }
}
.social-links {
  clear: left;
  @include media($large) {
    float: right;
    clear: none;
  }
  li {
    a {

    }
  }
}


// PAGE WRAPPER
// --------------------------------------------------

#page-wrapper {
  @include size(100% 100%);
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  // @include transform(translate(0,0));
  @include transition(500ms cubic-bezier(.645,.045,.355,1.000));
  &.slide {
    @include transform(translate(-60rem,0));
  }
}


// BROWSER UPGRADE
// --------------------------------------------------

.upgrade {
  text-align: center;
  a {
    color: $danger-color;
    text-decoration: none;
    border-bottom: 1px dotted lighten($danger-color, 20);
    &:hover {
      border-bottom-style: solid;
    }
  }
}


// MAIN
// --------------------------------------------------

#main {
  .inner-wrap {
    @include media($medium) {
      @include span-columns(8);
    }
  }
  @at-root {
    .page-content {
      h2 {
        @include font-size(28,yes,32);
      }
      h3 {
        @include font-size(24,yes,26);
      }
      h4 {
        @include font-size(22);
      }
      // larger font for intro paragraph
      > p {
        &:first-child {
          @include media($medium) {
            @include font-size(20,yes,30);
          }
        }
      }
      // cleaner underlines for links
      a { text-decoration: none; }
      p > a,
      li > a,
      td > a {
        border-bottom: 1px dotted lighten($link-color, 50);
        &:hover {
          border-bottom-style: solid;
        }
      }
      .toc li > a {
        border-bottom: 0 solid transparent;
      }
      .th-grid a,
      .th-grid-full a,
      p > .reversefootnote {
        border-bottom-width: 0;
      }
      // Captions
      @at-root { 
        figcaption {
          padding-left: $gutter;
          padding-right: $gutter;
          @include media($medium) {
            padding-left: 0;
            padding-right: 0;
          }
          font-family: $alt-font;
          @include font-size(14,yes);
          color: $caption-color;
          clear: both;
          a {
            color: $caption-color;
            text-decoration: none;
            border-bottom: 1px dotted $caption-color;
            &:hover {
              border-bottom-style: solid;
            }
          }
        }
      }
      .half,
      .third {
        & figcaption {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .page-footer,
      .pagination {
        @include fill-parent;
      }
    }
  }
  @at-root {
    .archive-wrap {
      @include fill-parent;
      margin-top: $gutter;
      h3 {
        @include font-size(16);
        text-transform: uppercase;
      }
      .page-content {
        @include fill-parent;
      }
    }
  }
  aside {
    @include media($medium) {
      @include span-columns(8);
    }
  }
}
// Google banner ads
.ads {
  position: relative;
  text-align: center;
  margin-top: $gutter;
  margin-left: -$gutter;
  margin-right: -$gutter;
  @include media($medium) {
    margin-left: 0;
    margin-right: 0;
  }
  padding: 10px 0 20px;
  background: lighten($border-color,5);
  &:after {
    content: 'Advertisement';
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    @include font-size(9,no);
    font-family: $alt-font;
  }
  ins {
    border-width: 0;
  }
}
// sidebar
.sidebar {
  @include media($medium) {
    @include span-columns(4);
  }
  @include transition(500ms cubic-bezier(.645,.045,.355,1.000));
  figcaption {
    margin-bottom: 0;
  }
  h3 {
    @include font-size(22,no);
    margin-top: $gutter;
    padding-bottom: $gutter / 4;
    border-bottom: 1px solid $border-color;
  }
  ul {
    list-style: none;
    margin-top: $gutter / 2;
    padding: 0;
  }
  li {
    list-style: none;
    @include font-size(14,14,1);
    font-family: $heading-font;
    span {
      font-family: $base-font;
      @include font-size(12,no,14);
      font-style: italic;
    }
  }
  a {
    text-decoration: none;
  }
}
// standard page header
.page-header {
  overflow: auto; // fix collapsing margin
  .page-title {
    @include fill-parent;
    h1 {
      margin-top: $gutter;
      margin-bottom: 0;
    }
    h2 {
      font-weight: 400;
      margin-top: 0;
      @include media($micro-only) { @include font-size(22,yes,1.25); }
      @include font-size(28,yes,1.25);
    }
  }
}
// feature image page header
.page-feature-header {
  @include fill-parent;
  position: relative;
  margin-bottom: $gutter;
  // expand image to cover full width of header
  img {
    width: 100%;
  }
  &.overlay .page-title {
    @include media($medium) {
      position: absolute;
      bottom: 5%;
      z-index: 1;
      @include span-columns(10);
    }
  }
  h1 {
    margin-bottom: 0;
    @include media($medium) {
      @include font-size(42,yes,42);
    }
    @include media($large) {
      @include font-size(58,yes,58);
    }
  }
  &.overlay h1 {
    @include media($medium) {
      position: relative;
      color: $white;
      text-shadow: 1px 1px 0 $black;
      &:before {
        position: absolute;
        content: '';
        width: 100px;
        height: 2px;
        background: $white;
        top: -0.5em;
      }
    }
  }
  h2 {
    margin-top: 0;
    font-weight: 400;
    @include media($micro-only) { @include font-size(22,yes,1.25); }
    @include font-size(28,yes,1.25);
  }
  &.overlay h2 {
    @include media($medium) {
      color: $white;
      text-shadow: 1px 1px 0 $black;
    }
  }
  &.overlay .page-meta {
    @include media($medium) {
      span {
        color: $white;
        text-shadow: 1px 1px 0 $black;
        a {
          color: $white;
        }
      }
    }
  }
}
// make image flush with edges on small screens
.page-image {   
  position: relative;
  margin-left: -1 * $gutter;
  margin-right: -1 * $gutter;
  @include media($medium) {
    margin-left: -2 * $gutter;
    margin-right: -2 * $gutter;
  }
  @include media($large) {
    margin-left: -2.5 * $gutter;
    margin-right: -2.5 * $gutter;
  }
  // Feature Image Caption
  .image-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: rgba($black,.5);
    color: $white;
    font-family: $alt-font;
    @include font-size(12,no);
    text-align: right;
    z-index: 10;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
.overlay .page-image {
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // add gradient overlay on >= medium screens
    @include media($medium) {
      @include background-image(linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 75%,rgba(0,0,0,0.9) 100%));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
      @include transition(opacity 1s ease-in-out 0.2s);
    }
  }
}
// page meta and breadcrumbs
.page-meta,
.breadcrumbs { 
  @include clearfix;
  margin-top: $gutter;
  font-family: $alt-font;
  @include font-size(12,yes,21);
  text-align: left;
  text-transform: uppercase;
  a {
    display: inline-block;
    text-decoration: none;
  }
}
.breadcrumbs {
  @extend .hidden;
}
.page-meta {
  span {
    display: block;
  }
}
// table of contents
.toc {
  margin-left: -1 * $gutter;
  margin-right: -1 * $gutter;
  @include media($medium) {
    margin-left: 0;
    margin-right: 0;
  }
  font-family: $alt-font;
  ul {
    margin-top: $gutter;
    margin-bottom: $gutter;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
  li {
    @include font-size(16,no,18);
    border-bottom: 1px solid $border-color;
  }
  h6 {
    margin: 0;
    padding: (.25 * $gutter) $gutter;
    background: $table-stripe-color;
  }
  a {
    display: block;
    padding: (.25 * $gutter) $gutter;
    border-left: 2px solid transparent;
    &:hover,
    &:focus {
      background: lighten($border-color,5);
    }
  }
}
// table of contents 1/4 width
.toc-left {
  @include span-columns(12);
  @include media($large) {
    @include span-columns(4);
  }
  margin-left: 0;
  ul {
    margin-top: 0;
  }
}
// headline anchor links
.header-link { 
  position: relative; 
  left: 0.5em; 
  opacity: 0; 
  font-size: 0.8em; 
  @include transition(opacity 0.2s ease-in-out 0.1s);
  display: none;
  @include media($large) {
    display: inline;
  }
}
h2:hover .header-link, 
h3:hover .header-link, 
h4:hover .header-link, 
h5:hover .header-link, 
h6:hover .header-link { 
  opacity: 1; 
}

// tag links
.tag-box {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  li {
    display: inline-block;
    @include font-size(14,7);
  }
  a { 
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten($primary-color,80);
    border-radius: $border-radius;
    text-decoration: none;
    border-bottom: 0 solid transparent;
    span { 
      vertical-align: super;
      @include font-size(10);
    }
  }
}
// footnotes
.footnotes {
  position: relative;
  padding-top: 1em;
  font-family: $alt-font;
  p, li {
    @include font-size(14,no);
  }
  &:before {
    content: 'Footnotes:';
    font-weight: 700;
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: $column;
    height: 2px;
    background: $border-color;
  }
}
// page footer
.page-footer {
  position: relative;
}
.author-image {
  position: absolute;
  left: 0;
  img {
    width: 80px;
    height: 80px;
    border-radius: $border-radius;
  }
}
.author-content {
  word-wrap: break-word;
  padding-left: 100px; //avatar width + 20px padding
  min-height: 80px; //mirrors avatar height
}
h3.author-name {
  @include font-size(20,no);
}
.author-bio {
  margin-top: 0;
  @include font-size(16,12);
}
.author-follow {
  margin-top: 0;
  @include font-size(16);
}


// SCROLL ARROW CUE
// --------------------------------------------------

#scroll-cue {
  position: fixed;
  bottom: 100px;
  @include media(new-breakpoint(max-height em(700) 12)) {
    bottom: 0;
  }
  left: 50%;
  width: 2 * $button-size;
  height: 2 * $button-size;
  text-align: center;
  cursor: pointer;
  color: $white;
  @include font-size(12);
  font-family: $alt-font;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}


// COLOR SWATCHES
// --------------------------------------------------

.palette {
  width: 100%;
  background: #171716 url("../images/paper-53-palette-bk.png");
  border-radius: 10px;
  .row {
    @include clearfix;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    a {
      margin: 5px;
    }
  }
  // spacing above and below rows
  div:first-child {
    padding-top: 10px;
  }
  div:last-child {
    padding-bottom: 10px;
  }
  .swatch {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    border: 3px solid $black;
    &:hover {
      border: 3px solid $white;
    }
    @include media($medium) {
      width: 110px;
      height: 110px;
      border-radius: 110px;
    }
  }
}


// FOOTER
// --------------------------------------------------

#site-footer {
  @include outer-container;
  margin-top: (2 * (0px + $doc-line-height));
  margin-top: (2 * (0rem + ($doc-line-height / $doc-font-size)));
  padding: $gutter;
  text-align: center;
  @include media($medium) {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
  }
  @include media($large) {
    text-align: left;
  }
  font-family: $alt-font;
  .copyright {
    clear: both;
    @include font-size(12);
    color: lighten($caption-color, 10);
    a {
      color: lighten($caption-color, 10);
      text-decoration: none;
    }
  }
  $social: 
  (facebook, $facebook-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (google-plus, $google-plus-color),
  (instagram, $instagram-color),
  (linkedin, $linkedin-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (twitter, $twitter-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      color: $color;
      &:hover {
        color: darken($color, 20);
      }
    }    
  }
}


// GOOGLE SEARCH
// --------------------------------------------------

.search-goog {
  form {
    margin-top: 12px;
    margin-top: 0.75rem;
  }
}
#goog-fixurl {
  ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
  }
}
#goog-wm-qt {
  @include media($medium) {
  display: inline-block;
  width: 70%;
  }
}
#goog-wm-sb {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  @include media($medium) {
  margin-left: 10px;
  }
}
