/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid $light-gray;
  @media (min-width: $small) {
    display: flex;
    justify-content: space-between;
  }
}

.masthead__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  @media (min-width: $small) {
    flex-direction: row;
  }
}

.masthead__title,
.masthead__menu-item {
  display: block;
  padding: 10px;
}
