/* ==========================================================================
   MASTHEAD
   ========================================================================== */

#masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $black;
  @include breakpoint($small) {
    background-color: transparent;
  }
  transition-duration: .5s;
  transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
  transition-property: transform;
  z-index: 25;

  &.is-hidden {
    // opacity: 0;
    transform: translateY(-100%);
  }

  &.is-visible {
    // opacity: 1;
    transform: translate(0, ($button-size * 1.5 + 20px));
  }
}

/*
   Site logo in masthead
   ========================================================================== */

.site-logo {
  display: block;
  float: left;
  height: $button-size * 1.5;
  line-height: $button-size * 1.5;
  margin-top: 0;
  margin-left: $button-size/2;
  @include breakpoint($small) {
    margin-top: 20px;
    margin-left: 20px;
  }
  color: $white;
  text-decoration: none;
  background-color: $black;
  &:hover {
    color: $white;
  }
  img {
    float: left;
    width: $button-size * 1.5;
    height: $button-size * 1.5;
    background-color: $white
  }
  .site-title {
    display: none;
    @include breakpoint($small) {
      display: block;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-family: $heading-font;
      @include font-size(24, no);
      line-height: $button-size * 1.5;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
