/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  height: $masthead-height;
  font-family: $sans-serif;
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  z-index: 11;
  animation: fade-in 3s;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.125);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  a {
    color: $gray;
    &:hover {
      color: #000;
    }
  }
  .overlay__menu-trigger {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: $border-radius;
    &:before {
      display: none;
    }
    &:hover {
      background-color: $light-gray;
    }
  }
}

.masthead__menu-wrapper {
  @media (max-width: $small) {
    width: 100%;
  }
}

.masthead__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  .is--hidden {
    @media (max-width: $medium-wide) {
      display: none;
    }
  }
}

.masthead__title {
  display: none;
  @include breakpoint($small) {
    display: block;
    margin: 10px 0;
    padding: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 0.8rem;
    text-transform: uppercase;
  }
}
.masthead__menu-item {
  position: relative;
  display: block;
  margin: 10px 0 0;
  padding: 10px 0 20px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0.8rem;
  // underline effect
  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 100%;
    background-color: $gray;
    transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
    transform: scaleX(0); // hide
  }
  &:hover:before {
    transform: scaleX(1); // reveal
  }
  // active state
  &.is--active {
    color: #000;
    cursor: default;
    &:before {
      transform: scaleX(1);
      background-color: #000;
    }
  }
  @include breakpoint($small) {
    margin-left: 30px;
    margin-right: 0;
  }
}

/*
   Overlay menu
   ========================================================================== */

.overlay__menu {
  /* by default it's hidden - on top of the viewport */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 50px 0 0;
  background-color: $background-color;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(.86,.01,.77,.78);
  box-shadow: 0 0 10px rgba(#000, 0.5);

  ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  a {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 5px 5px 0;
    color: #000;
    border-radius: 0.25em;
    &:hover {
      padding-left: 10px;
      padding-right: 10px;
      background-color: $light-gray;
    }
  }

  &.is--visible {
    transform: translateY(0);
  }

}

.overlay__menu-col-1 {
  @include breakpoint($small) {
    flex: 3;
    margin-right: 3em;
  }
}

.overlay__menu-col-2 {
  @include breakpoint($small) {
    flex: 2;
  }
}

.overlay__menu-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @include breakpoint($small) {
    flex-direction: row;
  }
}

.overlay__menu-item {
  display: block;
  width: 100%;
  font-size: 1.563rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint($large) {
    font-size: 1.953rem;
    line-height: 1.953rem;
  }
}

.overlay__menu-item--secondary {
  display: block;
  width: 100%;
  font-size: 1.563rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint($large) {
    line-height: 1.953rem;
  }
}

.overlay__menu-label {
  margin: 30px 0 15px;
  width: 100%;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.25;
  text-transform: uppercase;
  /* lines in headline */
  display: flex;
  flex-direction: row;
  &:after {
    content: '\a0';
    position: relative;
    top: 0.4rem;
    height: 4px;
    background: $light-gray;
    flex-grow: 1;
  }
  &:before {
    margin-right: 10px;
  }
  &:after {
    margin-left: 10px;
  }
}

.overlay__menu-close {
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
  font-family: $monospace;
  text-transform: uppercase;
  border-radius: 0;
  &:active {
    transform: translateY(0); // override from default btn class
  }
}

/*
   Screen
   ========================================================================== */

#screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: opacity 0.5s, visibility 0s 0.5s;
  &.is--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
    cursor: pointer;
  }
}
