/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

/*
   Hero
   ========================================================================== */

.page__hero {
  width: 100%;
  margin-bottom: 2em;
}

/*
   Content
   ========================================================================== */

.post__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @media (min-width: $small) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}

.post__inner-wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: $small) {
    width: calc(100% - 140px);
  }
  @media (min-width: $medium) {
    width: calc(100% - 340px);
  }
  @media (min-width: $large) {
    width: calc(100% - 380px);
  }
}

.post__body {
  p {
    margin-bottom: 1.3rem;
  }

  /* introductory paragraph */
  > p:first-child {
    font-size: 1.25em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1.414rem 0 0.5rem;
    color: $headline-color;
    font-family: $serif;
    font-weight: normal;
    line-height: 2.441rem;
  }

  h2 {
    font-size: 1.953rem;
  }

  h3 {
    font-size: 1.563rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }
}

.post__comments,
.post__footer,
.post__social,
.post__taxonomy {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $light-gray;
}

.post__title {
  font-family: $serif;
  font-size: 2.441rem;
  font-weight: normal;
}

/* footer */

.post__footer {
  @media (min-width: $large) {
    display: flex;
    justify-content: space-between;
  }
}

/* author info */

.author__wrapper {
  @media (min-width: $large) {
    display: flex;
    flex: 3;
    align-items: flex-start;
  }
}

.author__name {
  margin: 0;
  font-family: $serif;
  font-style: italic;
  font-weight: normal;
  &--bold {
    display: block;
    font-size: 150%;
    font-family: $sans-serif;
    font-weight: bold;
    font-style: normal;
  }
}

.author__bio {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  font-size: 0.8rem;
}

.author__avatar {
  display: none;
  @media (min-width: $large) {
    display: block;
    order: -1;
    margin-right: 1em;
  }
}

/* comments */

.post__comments {
  order: 1;
}

/* meta info */

.post__single-meta {
  @media (min-width: $large) {
    flex: 1;
    text-align: right;
  }
}

.post__category {
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 5px;
  color: #fff;
  font-family: $sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.post__published {
  display: block;
  font-family: $sans-serif;
  font-size: 0.64rem;
  font-weight: bold;
}

/* social */

.post__social {
  display: flex;
  justify-content: space-between;
  a {
    width: 50%;
    &:first-child {
      margin-right: 0.5em;
    }
    &:last-child {
      margin-left: 0.5em;
    }
  }
}

/* taxonomy */

.post__taxonomy-wrapper {
  display: block;
}

.post__taxonomy-item {
  font-family: $sans-serif;
  font-weight: bold;
}


/*
   Sidebar
   ========================================================================== */

.post__sidebar {
  order: -1;
  @media (min-width: $small) {
    order: 0;
    margin-left: 20px;
    width: 120px;
  }
  @media (min-width: $medium) {
    margin-left: 40px;
    width: 300px;
  }
  @media (min-width: $large) {
    margin-left: 80px;
  }
}

/* table of contents */

.toc {
  margin-top: 2em;
  margin-bottom: 2em;
}

.toc__menu {
  padding-left: 20px;
}

/* ads */

.ad--sidebar {
  margin: 0 auto 2em;
  text-align: center;
}
