/* ==========================================================================
   PAPER 53 COLOR PALETTE SWATCHES
   ========================================================================== */

.palette {
  width: 100%;
  background: #171716 url("../images/paper-53-palette-bk.png");
  border-radius: 10px;
  .row {
    @include clearfix;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    a {
      margin: 5px;
    }
  }
  // spacing above and below rows
  div:first-child {
    padding-top: 10px;
  }
  div:last-child {
    padding-bottom: 10px;
  }
  .swatch {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    border: 3px solid $black;
    &:hover {
      border: 3px solid $white;
    }
    @include media($medium) {
      width: 110px;
      height: 110px;
      border-radius: 110px;
    }
  }
}