/* ==========================================================================
   SIDEBARS
   ========================================================================== */

.sidebar {
  clear: both;
  @include media($medium) {
    @include span-columns(4);
    @include omega;
    clear: none;
  }
  transition: 500ms cubic-bezier(.645,.045,.355,1.000);
  figcaption {
    margin-bottom: 0;
  }
  h3 {
    @include font-size(22,no);
    margin-top: $gutter;
    padding-bottom: $gutter / 4;
    border-bottom: 1px solid $border-color;
  }
  ul {
    list-style: none;
    margin-top: $gutter / 2;
    padding: 0;
  }
  li {
    list-style: none;
    @include font-size(14,14,1);
    font-family: $heading-font;
    span {
      font-family: $base-font;
      @include font-size(12,no,14);
      font-style: italic;
    }
  }
  a {
    text-decoration: none;
  }
}