/* ==========================================================================
   SlickMap CSS
   modified from: https://www.astuteo.com/slickmap/
   ========================================================================== */

/* ------------------------------------------------------------
    NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
    of columns required in your site map. The default is
    4 columns (25%). 5 columns would be 20%, 6 columns would
    be 16.6%, etc.
------------------------------------------------------------ */

#primaryNav li {
    width: 25%;
}

#primaryNav li ul li {
    width: 100% !important;
}

// #primaryNav.col1 li { width: 99.9%; }
// #primaryNav.col2 li { width: 50.0%; }
// #primaryNav.col3 li { width: 33.3%; }
// #primaryNav.col4 li { width: 25.0%; }
#primaryNav.col5 li {
  width: 100%;
  @include breakpoint($medium) {
    width: 20%;
  }
}
// #primaryNav.col6 li { width: 16.6%; }
// #primaryNav.col7 li { width: 14.2%; }
// #primaryNav.col8 li { width: 12.5%; }
// #primaryNav.col9 li { width: 11.1%; }
// #primaryNav.col10 li { width: 10.0%; }


/*
   General styles
   ========================================================================== */

.sitemap {
    width: 100%;
  a {
      text-decoration: none;
  }
  ol, ul {
      list-style: none;
      padding-top: 0;
  }
  li {
    margin-bottom: 0;
  }
}


/*
   Site Map Styles
   ========================================================================== */

/* -------- Top Level --------- */

#primaryNav {
  margin: 0;
  padding: 0;
  @include breakpoint($medium) {
    float: left;
  }
  width: 100%;
}
#primaryNav #home {
  display: block;
  float: none;
  position: relative;
  z-index: 2;
  margin-top: 0;
  padding-bottom: 30px;
  @include breakpoint($medium) {
    background: $background-color url('../images/L1-left.png') center bottom no-repeat; /* bg on >= medium screens */
  }
}
#primaryNav li {
  list-style-type: none;
  @include breakpoint($medium) {
    float: left;
    background: url('../images/L1-center.png') center top no-repeat;
  }
  padding: 30px 0;
  margin-top: -30px;
}
#primaryNav li a {
  margin: 0 20px 0 0;
  padding: 10px;
  display: block;
  font-size: 14px;
  font-family: $sans-serif;
  text-align: center;
  color: $black;
  background: $sitemap-primary-color;
  border: 2px solid mix($black, $sitemap-primary-color, 30%);
  border-radius: 5px;
  box-shadow: none;
}
#primaryNav li a:hover {
  background-color: mix($white, $sitemap-primary-color, 10%);
  border-color: $sitemap-primary-color;
}
#primaryNav li:last-child {
  @include breakpoint($medium) {
    background: url('../images/L1-right.png') center top no-repeat; /* bg on >= medium screens */
  }
}
#primaryNav > li:last-child {
  @include breakpoint($medium) {
    a {
      margin-right: 0; /* remove right margin on last list element */
    }
  }
}

/* -------- Second Level --------- */

#primaryNav li li {
  width: 100%;
  clear: left;
  margin-top: 0;
  padding: 10px 0 0 0;
  @include breakpoint($medium) {
    background: url('../images/vertical-line.png') center bottom repeat-y; /* bg on >= medium screens */
  }
}
#primaryNav li li a {
    background-color: $sitemap-sub-color;
    border-color: mix($black, $sitemap-sub-color, 20%);
}
#primaryNav li li a:hover {
    background-color: mix($white, $sitemap-sub-color, 10%);
    border-color: $sitemap-sub-color;
}
#primaryNav li li:first-child {
    padding-top: 30px;
}
#primaryNav li li:last-child {
  @include breakpoint($medium) {
    background: url('../images/vertical-line.png') center bottom repeat-y; /* bg on >= medium screens */
  }
}

/* -------- Third Level --------- */

#primaryNav li li ul {
  margin: 10px 0 0 0;
  padding-bottom: 0;
  width: 100%;
  @include breakpoint($medium) {
    float: right;
  }
  padding: 9px 0 10px 0;
  @include breakpoint($medium) {
    background: $background-color url('../images/L3-ul-top.png') center top no-repeat; /* bg on >= medium screens */
  }
}
#primaryNav li li li {
  @include breakpoint($medium) {
    background: url('../images/L3-center.png') left center no-repeat; /* bg on >= medium screens */
  }
  padding: 5px 0;
}
#primaryNav li li li a {
  background-color: $sitemap-sub-sub-color;
  border-color: mix($black, $sitemap-sub-sub-color, 20%);
  font-size: 12px;
  padding: 5px;
  width: 80%;
  @include breakpoint($medium) {
    float: right;
  }
}
#primaryNav li li li a:hover {
  background-color: mix($white, $sitemap-sub-sub-color, 10%);
  border-color: $sitemap-sub-sub-color;
}
#primaryNav li li li:first-child {
  padding: 15px 0 5px 0;
  @include breakpoint($medium) {
    background: url('../images/L3-li-top.png') left center no-repeat; /* bg on >= medium screens */
  }
}
#primaryNav li li li:last-child {
  @include breakpoint($medium) {
    padding-botom: 0;
    background: url('../images/L3-bottom.png') left center no-repeat; /* bg on >= medium screens */
  }
}


/*
   Utility Navigation
   ========================================================================== */

#utilityNav {
  @include breakpoint($medium) {
    float: right;
  }
  max-width: 50%;
  margin-right: 10px;
}
#utilityNav li {
  @include breakpoint($medium) {
    float: left;
  }
  margin-bottom: 10px;
}
#utilityNav li a {
  margin: 0 10px 0 0;
  padding: 5px 10px;
  display: block;
  border: 2px solid mix($black, $sitemap-sub-sub-color, 20%);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px mix($black, $background-color, 30%);
  @include breakpoint($medium) {
    background: $sitemap-sub-sub-color url('../images/white-highlight.png') top left repeat-x; /* bg on >= medium screens */
  }
}
#utilityNav li a:hover {
  background-color: mix($white, $sitemap-sub-sub-color, 30%);
  border-color: $sitemap-sub-sub-color;
}
