/* ==========================================================================
   OFF CANVAS SLIDING MENU
   Based on code by Diego Eis
   http://tableless.com.br/fazendo-um-slide-menu-mobile-sem-plugin/
   ========================================================================== */

/* Slider */

.slide {
    transform: translateX(-100%);
    @include breakpoint($medium) {
      transform: translateX(em(-600));
    }
    @include breakpoint($large) {
      transform: translateX(em(-900));
    }
  }


/*
   Sliding content
   ========================================================================== */

.sliding-menu-content {
  position: fixed;
  top: 0;
  right: 0;

  backface-visibility: hidden;
  height: 100%;
  transform: translateX(100%);
  transition: $sliding-menu-animation;
  background: $sliding-menu-background;
  opacity: 0; // hide menu on load
  z-index: 50;
  -webkit-overflow-scrolling: touch;
  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
  ul,
  li {
    list-style: none;
  }
  li {
    padding-bottom: 10px;
    padding-left: 60px;
  }
  .menu-item {
    margin-bottom: 20px;
    @include breakpoint($medium) {
      margin-bottom: 40px;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      text-align: right;
      font-family: $heading-font-title;
      @include font-size(48, no, 48);
      font-weight: 700;
      @include breakpoint($small) {
        @include font-size(60, no, 60);
      }
      @include breakpoint($medium) {
        @include font-size(80, no, 80);
      }
      &:hover {
        color: $highlighter-color;
      }
    }
  }
  .menu-item-footer {
    li {
      padding-bottom: 5px;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      text-align: right;
      font-family: $heading-font-title;
      @include font-size(20, no, 20);
      font-weight: 800;
      @include breakpoint($small) {
        @include font-size(32, no, 32);
      }
      @include breakpoint($medium) {
        @include font-size(38, no, 38);
      }
      &:hover {
        color: $highlighter-color;
      }
    }
  }
  .menu-item-social {
    text-align: right;
    a {
      display: inline-block;
      margin-right: 10px;
      color: $white;
      text-decoration: none;
      text-align: right;
      font-family: $heading-font-title;
      @include font-size(20, no, 20);
      font-weight: 800;
      @include breakpoint($small) {
        @include font-size(32, no, 32);
      }
      @include breakpoint($medium) {
        @include font-size(38, no, 38);
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $highlighter-color;
      }
    }
  }
}

// turn on scrollbars if content is too tall to fit on screen
.inner-menu-wrap {
  padding: 20px;
  @include breakpoint($small) {
    padding: 30px 50px 0;
  }
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*
   Sliding menu button
   ========================================================================== */

.sliding-menu-button {
  display: block;
  // backface-visibility: hidden; /* fix scroll jank */
  float: right;
  margin-top: 0;
  margin-right: 0;
  @include breakpoint($small) {
    margin-top: 20px;
    margin-right: 20px;
  }
  height: $button-size * 1.5;
  line-height: $button-size * 1.5;
  background: $sliding-menu-background;
  outline: 0;
  border: 0 solid transparent;
  cursor: pointer;
  z-index: 20;
  box-sizing: border-box;
  &:hover {
    background: $black;
  }
  transition: 0.5s;
  &.slide {
    transform: translateX(70px); // slide to the left
    @include breakpoint($small) {
      transform: translateX(0); // reset position
    }
  }
  // &.close {
  //   opacity: 0;
  //   visibility: hidden;
  // }
  .label {
    display: inline-block;
    padding-left: $button-size/4;
    color: $white;
    font-family: $heading-font;
    @include font-size(16, no);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.sliding-menu-button-close {
  position: absolute;
  width: $button-size * 1.5;
  height: $button-size * 1.5;
  // increase button size
  @include breakpoint($small) {
    width: $button-size * 2;
    height: $button-size * 2;
  }
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.menu-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($sliding-menu-background, 0);
  visibility: hidden;
  transition: $sliding-menu-animation;
  z-index: 4;
  &.is-visible {
    background: rgba($sliding-menu-background,0.5);
    visibility: visible;
    &:hover {
      cursor: pointer;
    }
  }
}
