/* ==========================================================================
   WEBSITE STYLE GUIDE
   ========================================================================== */

.component {
  margin-bottom: gutter();
  background-color: $white;
  @include breakpoint($small) {
    padding: gutter();
    border-radius: $border-radius;
    border: 1px solid $border-color;
  }
}

.component-header {
  h3 {
    margin-top: 0 !important;
  }
  p {
    font-family: $alt-font;
    margin-top: 0;
    @include font-size(14, no);
    a {
      text-decoration: none;
    }
    &.header-entry-last {
      margin-bottom: gutter();
    }
  }
}

.component-content {
  @include container;
}

.component-rendered { }

.component-code {
  clear: both;
  position: relative;
  margin-top: gutter();
  padding-top: 30px;
  &:before {
    content: "HTML";
    position: absolute;
    top: 0;
    padding: 0 1em;
    background: $border-color;
    font-family: $alt-font;
    @include font-size(12, no, 20);
    font-weight: 600;
    text-transform: uppercase;
    border-top-right-radius: 2 * $border-radius;
    border-bottom-right-radius: 2 * $border-radius;
  }
}

/*
   Color swatches
   ========================================================================== */

.color-tile {
  @include gallery (3.5 of 14);
  margin-bottom: gutter();
  padding: gutter() 0;
  text-align: center;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  code {
    @include font-size(14,no);
    color: $text-color;
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid $code-border-color;
    background-color: $inline-code-background;
    border-radius: $code-border-radius;
    white-space: normal;
  }
}

/*
   Background colors
   ========================================================================== */

$color:
(white-color, $white),
(black-color, $black),
(gray-color, $gray),
(background-color, $background-color),
(body-color, $body-color),
(text-color, $text-color),
(caption-color, $caption-color),
(primary-color, $primary-color),
(success-color, $success-color),
(warning-color, $warning-color),
(danger-color, $danger-color),
(info-color, $info-color),
(border-color, $border-color),
(link-color, $link-color),
(link-color-hover, $link-color-hover),
(table-border-color, $table-border-color),
(table-background, $table-background),
(table-hover-color, $table-hover-color),
(table-stripe-color, $table-stripe-color),
(table-stripe-color-hover, $table-stripe-color-hover),
(facebook-color, $facebook-color),
(foursquare-color, $foursquare-color),
(google-plus-color, $google-plus-color),
(instagram-color, $instagram-color),
(rss-color, $rss-color),
(tumblr-color, $tumblr-color),
(twitter-color, $twitter-color);

@each $name, $bgcolor in $color {
  .#{$name}-bg {
    background-color: $bgcolor;
  }
}

/*
   Component selector
   ========================================================================== */

#component-selector {
  position: fixed;
  backface-visibility: hidden; // fix scroll jank
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5 * gutter();
  width: 100%;
  z-index: 9;
  background: $primary-color;
  @include breakpoint($medium) {
    left: auto;
    width: auto;
  }
}

#component-select {
  margin: 0;
  width: 100%;
  @include breakpoint($medium) {
    width: auto;
  }
  font-family: $alt-font;
}
