/* ==========================================================================
   TILES
   ========================================================================== */

.tile__header {
  margin-top: 2em;
  /* lines in headline */
  display: flex;
  flex-direction: row;
  justify-content: center;
  &:after {
    content: '\a0';
    position: relative;
    top: 0.7em;
    height: 4px;
    flex-grow: 1;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }
  &:after {
    margin-left: 10px;
  }
}

.tiles {
  display: flex;
  margin: 0 -1vw 3em -1vw;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 4px double $light-gray;
  @media (min-width: $small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.tile__item {
  flex: 1;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 2em;
  img {
    width: 100%;
    margin: 0.25em 0;
  }
  @media (min-width: $small) {
    min-width: 25%;
  }
  &:hover {
    img {
      box-shadow: 0 0 10px rgba(#000, 0.2);
    }
  }
}

.tile__category {
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $gray;
  &:before {
    content: '\2192'; // right arrow
    padding-right: 5px;
  }
}

.tile__title {
  margin: 0.25em 0;
  font-weight: normal;
  a {
    &:hover {
      color: #000;
    }
  }
}
