/* ==========================================================================
   POST TILES
   ========================================================================== */

/*
   Tiles content
   ========================================================================== */

.tiles {
  .entry-date {
    margin-top: 0;
    font-family: $alt-font;
    @include font-size(12,no);
    text-transform: uppercase;
    color: mix($white, $caption-color, 20%);
  }

  .post-title {
    @include font-size(18,no);
    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  .post-excerpt {
    @include font-size(14,no,21);
    margin-top: 6px;
  }

  /* Teaser image */

  .post-teaser {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    perspective: 1000px;
    backface-visibility: hidden; // fix flicker on hover
    img {
      position: relative;
      display: block;
      z-index: 1;
      transition: all 0.3s;
      // avoid duplicate images for lazy loading
      &.load {
        display: none;
      }
    }
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100.5%;
    }
    &:before {
      z-index: 2;
      transition: all 0.3s;
    }
    &:after {
      border: 10px solid $white;
      opacity: 0;
      z-index: 3;
      transition: all 0.3s;
    }
    &:hover {
      &:before {
        background: rgba($primary-color,0.5);
      }
      &:after {
        opacity: 0.4;
      }
      img {
        transform: scale(1.25);
      }
    }
  }
}

/* clear float on short table of contents that appear after a set of tiles */
.tiles + .toc-left {
  clear: both;
}


/*
   Individual tile
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: 2 * $gutter;
  @include media($micro-only) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(3);
    @include omega(4n);
  }
}


/*
   Tiles container 3/4 width (used with sidebar layout)
   ========================================================================== */

.tiles-3-4 {
  clear: both;
  @include media($medium) {
    clear: none;
    @include span-columns(8);
    margin-right: 0;
  }
  .entry-date {
    display: none;
  }
}

/*
   Tiles with only an image
   ========================================================================== */

.tile-equal {
  margin-bottom: $gutter;
  @include media($small) {
    margin-bottom: 2.35765%; /* magic number from .tiles-3-4 grid margins */
  }
}


/*
   Tile bottom spacer
   ========================================================================== */

.tile-spacer {
  margin-bottom: 2 * $gutter;
}


/*
   Related posts (show 3 tiles in a row)
   ========================================================================== */

.related-posts {
  .tile {
    opacity: 0.8;
    transition: $sliding-menu-animation;
    &:hover {
      opacity: 1;
    }
  }
  .entry-date {
    display: none;
  }
  h3 {
    margin-top: 0;
  }
}
