/* ==========================================================================
   TILES
   ========================================================================== */

.tile__header {
  margin-top: 3em;
  font-family: $sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  /* lines in headline */
  display: flex;
  flex-direction: row;
  justify-content: center;
  &:after {
    content: '\a0';
    position: relative;
    top: 0.4rem;
    height: 4px;
    background: $gray;
    flex-grow: 1;
  }
  &:after {
    margin-left: 10px;
  }
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 4px solid $gray;
  @media (min-width: $small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.tile__item {
  padding-bottom: 1em;
  img {
    width: 100%;
    margin: 0.25em 0;
    border-radius: $border-radius;
  }
  @media (min-width: $small) {
    flex-basis: 31%;
  }
  &:hover {
    img {
      box-shadow: 0 0 10px rgba(#000, 0.5);
    }
    .tile__title {
      color: #000;
      text-decoration: underline;
    }
  }
}

.tile__category {
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $gray;
  &:before {
    content: '\2192'; // right arrow
    padding-right: 5px;
  }
}

.tile__item-time {
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $gray;
}

.tile__title {
  margin: 0.25em 0 0;
  font-family: $serif;
  font-size: 1.25rem;
}
