/* ==========================================================================
   TILES
   ========================================================================== */

/*
   Tile content
   ========================================================================== */

.tile {
  position: relative;
  float: left;
  width: 100%;
  @include breakpoint($small) {
    width: 50%;
  }
  @include breakpoint($medium) {
    width: 33.33333333333333%;
  }
  &:before {
    content: "";
    display: block;
    padding-top: 75%;
  }

  &.t1 {
    @include breakpoint($medium) {
      width: 66.66666666666667%;
    }
  }
  &.t2,
  &.t3 {
    @include breakpoint($medium) {
      width: 33.33333333333333%;
    }
  }
  &.t4,
  &.t5 {
    @include breakpoint($medium) {
      width: 50%;
    }
  }

  .tile-inner {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tile-cover {
    padding: 2em;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-image: linear-gradient(200deg, rgba($black, 0.0823529) 0%, rgba($black, 0.0823529) 10%, rgba($black, 0.0823529) 20%, rgba($black, 0.0823529) 30%, rgba($black, 0.0901961) 40%, rgba($black, 0.215686) 50%, rgba($black, 0.423529) 60%, rgba($black, 0.631373) 70%, rgba($black, 0.760784) 80%, rgba($black, 0.823529) 90%, rgba($black, 0.847059) 100%);
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    transition: 0.2s ease-out;
    &:hover {
      background-color: rgba($black, 0.4);
      box-shadow: 0 0 10px rgba($black, .20);
      .tile-info {
        padding-bottom: 1.25em;
      }
    }
  }

  .tile-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    width: auto;
    max-width: 20em;
    transition: 0.2s ease-out;
  }

  .tile-meta {
    margin-top: 0;
    font-family: $alt-font;
    @include font-size(14, no);
    color: $white;
  }

  .tile-title {
    font-family: $heading-font-title;
    @include font-size(20, no);
    font-weight: 500;
    margin-top: 0;
    color: $white;
    a {
      text-decoration: none;
      color: $white;
    }
  }

  .tile-excerpt {
    @include font-size(16, no, 24);
    margin-top: 6px;
  }

  /* Teaser image */

  // .post-teaser {
  //   position: relative;
  //   z-index: 1;
  //   display: block;
  //   overflow: hidden;
  //   perspective: 1000px;
  //   backface-visibility: hidden; // fix flicker on hover
  //   img {
  //     position: relative;
  //     display: block;
  //     z-index: 1;
  //     transition: all 0.3s;
  //     // avoid duplicate images for lazy loading
  //     &.load {
  //       display: none;
  //     }
  //   }
  //   &:before,
  //   &:after {
  //     position: absolute;
  //     content: '';
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100.5%;
  //   }
  //   &:before {
  //     z-index: 2;
  //     transition: all 0.3s;
  //   }
  //   &:after {
  //     border: 10px solid $white;
  //     opacity: 0;
  //     z-index: 3;
  //     transition: all 0.3s;
  //   }
  //   &:hover {
  //     &:before {
  //       background: rgba($primary-color, 0.5);
  //     }
  //     &:after {
  //       opacity: 0.4;
  //     }
  //     img {
  //       transform: scale(1.25);
  //     }
  //   }
  //   &:focus {
  //     box-shadow: 10px 10px $link-color;
  //   }
  // }
}

/* clear float on short table of contents that appear after a set of tiles */
.tiles + .toc-left {
  clear: both;
}


/*
   Individual tile
   ========================================================================== */

// .tile {
//   margin-bottom: gutter(4);
//   @include breakpoint(480px) {
//     @include gallery(2 of 4);
//   }
//   @include breakpoint($small) {
//     @include gallery(3 of 6);
//     margin-bottom: gutter(6);
//   }
//   @include breakpoint($medium) {
//     @include gallery(3 of 9);
//     margin-bottom: gutter(9);
//   }
//   @include breakpoint($large) {
//     @include gallery(3 of 12);
//     margin-bottom: gutter(12);
//   }
// }


/*
   Tiles container 3/4 width (used with sidebar layout)
   ========================================================================== */

// .tiles-3-4 {
//   clear: both;
//   @include breakpoint($medium) {
//     clear: none;
//     // @include span-columns(8);
//     margin-right: 0;
//   }
//   .entry-date {
//     display: none;
//   }

//   .post-title {
//     @include font-size(18, no);
//   }

//   .post-excerpt {
//     @include font-size(14, no, 21);
//   }
// }

/*
   Tiles with only an image
   ========================================================================== */

// .tile-equal {
//   // margin-bottom: $gutter;
//   @include breakpoint($small) {
//     // margin-bottom: 2.35765%; /* magic number from .tiles-3-4 grid margins */
//   }
// }


/*
   Tile bottom spacer
   ========================================================================== */

// .tile-spacer {
  // margin-bottom: 2 * $gutter;
// }

/*
   Related posts (show 2 tiles)
   ========================================================================== */

.related-posts {
  @include layout($article);
  @include span(14);
  @include pre(1);
  @include break;
  @include breakpoint($small) {
    @include span(10);
    @include pre(5);
    @include post(1);
    clear: left;
  }
  @include breakpoint($medium) {
    @include pre(4);
    @include post(2);
  }

  .tile {
    @include breakpoint($small) {
      @include gallery(4.5 of 9);
    }
  }

  .post-title {
    text-align: center;
  }

  .post-excerpt,
  .entry-date {
    display: none;
  }

  h3 {
    text-align: center;
    margin-bottom: 0;
  }
}
