/* ==========================================================================
   TABLE OF CONTENTS
   ========================================================================== */

.toc {
  padding: 0 1em 1em;
  border-top: 8px solid #000;
}

.toc__title {
  margin: 1em 0;
  font-size: 1.25rem;
  color: #000;
  text-transform: uppercase;
}

.toc__menu {
  padding-left: 0;
  font-size: 0.8rem;
  ul {
    @include clearfix();
    > li {
      padding: 5px 0;
      font-weight: normal;
      &:before {
        content: "\2192";
        width: 20px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
      }
    }
  }
  li {
    clear: both;
    display: block;
    font-family: $sans-serif;
    font-weight: bold;
    &:before {
      display: block;
      float: left;
      margin-right: 10px;
      margin-bottom: 5px;
      width: 10px;
      font-weight: bold;
    }
    a {
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  > li {
    padding: 5px 0;
    border-top: 2px solid $light-gray;
  }
}
