/* ==========================================================================
   SCSS VARIABLES
   ========================================================================== */

/*
   Typography related variables
   ========================================================================== */

$base-font                    : Georgia, Times, "Times New Roman", serif;
$heading-font                 : Lato, Calibri, Arial, sans-serif;
$caption-font                 : $base-font;
$code-font                    : monospace;
$alt-font                     : $heading-font;

$doc-font-size                : 16;
$doc-line-height              : 24;

$border-radius                : 5px;


/*
   Color variables
   ========================================================================== */

$white                        : #fff;
$black                        : #000;

$background-color             : #ebebeb;
$body-color                   : $white;

$text-color                   : rgba($black, 0.8);
$caption-color                : mix($white, $text-color, 25%);

$base-color                   : #343434;
$comp-color                   : complement($base-color);
$primary-color                : mix($white, $black, 20%);
$success-color                : #2ecc71;
$warning-color                : #f3bc15;
$danger-color                 : #dc081d;
$info-color                   : #3498db;

$border-color                 : #ddd;

$link-color                   : $danger-color;
$link-color-hover             : $danger-color;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $white;
$table-header-color           : $white;
$table-hover-color            : mix($black, $table-background, 5%);
$table-stripe-color           : mix($black, $table-background, 5%);
$table-stripe-color-hover     : mix($black, $table-background, 5%);

$facebook-color               : #3b5998;
$flickr-color                 : #ff0084;
$foursquare-color             : #0cbadf;
$google-plus-color            : #dd4b39;
$instagram-color              : #4e433c;
$linkedin-color               : #4875b4;
$pinterest-color              : #cb2027;
$rss-color                    : #fa9b39;
$tumblr-color                 : #2c4762;
$twitter-color                : #55acee;
$vimeo-color                  : #1ab7ea;
$youtube-color                : #ff3333;

/*
   Form variables
   ========================================================================== */

$form-background              : mix($white, $border-color, 50%);
$form-border-color            : $border-color;
$form-border-color-hover      : mix($black, $border-color, 10%);
$form-border-color-focus      : $primary-color;
$form-border-radius           : $border-radius;
$form-box-shadow              : inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus        : $form-box-shadow, 0 0 5px rgba(mix($black, $form-border-color-focus, 10%), 0.7);
$form-font-family             : $base-font;
$form-font-size               : $doc-font-size;

/*
   Code snippet variables
   ========================================================================== */

$code-background              : mix($white, $border-color, 75%);
$code-border-color            : $border-color;
$code-border-color-hover      : mix($black, $border-color, 10%);
$code-border-radius           : $border-radius;

$inline-code-background       : mix($white, $border-color, 75%);

/*
   Sliding menu variables
   ========================================================================== */

$sliding-menu-border-color    : $black;
$sliding-menu-background      : $black;
$sliding-menu-color           : $white;
$sliding-menu-background-hover: $black;
$sliding-menu-color-hover     : $white;
$sliding-menu-border          : 1px solid $sliding-menu-border-color;
$button-size                  : 30px;
$transition                   : .3s; /* increase this to see the transformations in slow-motion */
$sliding-menu-animation       : all 500ms ease-in-out;


/*
   Masthead variables
   ========================================================================== */

$masthead-height: $button-size * 2;


/*
   Visual sitemap
   ========================================================================== */

$sitemap-primary-color        : mix($white, $base-color, 60%);
$sitemap-sub-color            : mix($white, $base-color, 80%);
$sitemap-sub-sub-color        : mix($white, $base-color, 90%);
