/* ==========================================================================
   SCSS VARIABLES
   ========================================================================== */

/*
   Typography related variables
   ========================================================================== */

$serif                        : "PT Serif", serif;
$sans-serif                   : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$sans-serif-narrow            : "PT Sans Narrow", sans-serif;
$monospace                    : Monaco, Consolas, "Lucida Console", monospace;

$doc-font-size                : 16;
$doc-line-height              : 24;

$border-radius                : 4px;


/*
   Color variables
   ========================================================================== */

$white                        : #fff;
$black                        : #000;

$gray                         : #4c4c4c;
$dark-gray                    : #191413;
$light-gray                   : #e2e2e2;
$lighter-gray                 : #f9f9f9;

$text-color                   : $gray;
$headline-color               : $gray;

$background-color             : $lighter-gray;

$highlighter-color            : #f3bc15;

$primary-color                : mix($black, $gray, 35%);
$success-color                : mix($gray, #2ecc71, 15%);
$warning-color                : mix($gray, #f3bc15, 15%);
$danger-color                 : mix($gray, #dc081d, 15%);
$info-color                   : mix($gray, #427ab8, 15%);

$border-color                 : mix($white, $gray, 80%);

$link-color                   : $text-color;
$link-underline-color         : #a9a9a9;
$link-color-hover             : #000;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $white;
$table-header-color           : $white;
$table-hover-color            : mix($gray, $table-background, 10%);
$table-stripe-color           : mix($gray, $table-background, 10%);
$table-stripe-color-hover     : mix($gray, $table-background, 10%);

$badge-background             : $primary-color;
$badge-dark-color             : $black;
$badge-danger-color           : $danger-color;
$badge-info-color             : $info-color;
$badge-warning-color          : $warning-color;
$badge-success-color          : $success-color;
$badge-font-color             : $white;

$facebook-color               : #3b5998;
$flickr-color                 : #ff0084;
$foursquare-color             : #0cbadf;
$google-plus-color            : #dd4b39;
$instagram-color              : #4e433c;
$linkedin-color               : #4875b4;
$pinterest-color              : #cb2027;
$rss-color                    : #fa9b39;
$tumblr-color                 : #2c4762;
$twitter-color                : #55acee;
$vimeo-color                  : #1ab7ea;
$youtube-color                : #ff3333;
$github-color                 : #333333;
$youtube-color                : #cd201f;


/*
   Masthead
   ========================================================================== */

$masthead-height              : 53px;


/*
   Form variables
   ========================================================================== */

$form-background              : mix($white, $border-color, 50%);
$form-border-color            : $border-color;
$form-border-color-hover      : mix($black, $border-color, 10%);
$form-border-color-focus      : $primary-color;
$form-border-radius           : $border-radius;
$form-box-shadow              : inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus        : $form-box-shadow, 0 0 5px rgba(mix($black, $form-border-color-focus, 10%), 0.7);
$form-font-family             : $sans-serif;
$form-font-size               : $doc-font-size + 0px;

/*
   Code snippet variables
   ========================================================================== */

$code-background              : mix($white, $border-color, 75%);
$code-border-color            : $border-color;
$code-border-color-hover      : mix($black, $border-color, 10%);
$code-border-radius           : $border-radius;

$inline-code-background       : mix($white, $border-color, 75%);


/*
   Breakpoint variables
   ========================================================================== */

$breakpoint-to-ems            : true;

$small                        : 600px;
$medium                       : 768px;
$medium-wide                  : 900px;
$large                        : 1024px;
$x-large                      : 1440px;


/*
   Visual sitemap
   ========================================================================== */

$sitemap-primary-color        : mix($white, $primary-color, 60%);
$sitemap-sub-color            : mix($white, $primary-color, 80%);
$sitemap-sub-sub-color        : mix($white, $primary-color, 90%);
