{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

<hr />
<div class="series">
	<h3>This article is <strong>part {{ idx }}</strong> of a {{ count }} part series.</h3>
	<ul>
	{% assign count = '0' %}
	{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		<li>Part {{ count }} - 
		{% if page.url == post.url %}
			<em>{{ post.title }}</em>
		{% else %}
			<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
		{% endif %}
		</li>
	{% endif %}
	{% endfor %}
	</ul>
</div><!-- /.series -->