<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
  <a href="https://twitter.com/mmistakes" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @mmistakes</a>
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a></p>
</footer>