<!doctype html>

<!-- 
320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
-->

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}
</head>

<body>

<!--[if lt IE 8]><div class="alert alert-info"><strong>Your browser is really old!</strong> <a href="http://browsehappy.com/">Why not upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better enjoy this site?</div><![endif]-->

<nav role="navigation">
    <a href="#" id="branding"><i class="icon-home visible-phone"></i><span class="hidden-phone"> Website Name</span></a>
    {% include nav.html %}
</nav>

<header role="banner">
<div id="branding">
<div id="logo">
<a href="{{ site.base_url }}" title="Made Mistakes">
<img src="{{ site.base_url }}/images/retro-logo.png" alt="Made Mistakes" />
</a>
</object>
</div><!-- /#logo -->	
<hgroup class="visuallyhidden">
<h1><a href="{{ site.base_url }}" title="Home">Made Mistakes</a></h1>
<h2>Design Faux Pas</h2>
</hgroup>
{% include navbar.html %}
</div><!-- /#branding -->
<nav role="navigation">
{% include nav.html %}
</nav>
</header>
	
<article>
<div id="main" role="main">
<header>
<h1 class="postTitle">{{ page.title }}</h1>
</header>
{% for post in site.posts %}
{% unless post.next %}
<ul id="filter">
<li>Filter:</li>
<li class="current"><a href="#">All</a></li>
<li><a href="#">{{ post.date | date: '%Y' }}</a></li>
{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}	
<li><a href="#">{{ post.date | date: '%Y' }}</a></li>
{% endif %}
{% endunless %}	
{% endfor %}
</ul>
{% for post in site.posts %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}
{% endif %}
<article class="{{ post.date | date: "%Y" }}">
<div class="postDate"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></div> 
<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
<p>{{ post.description }}</p>
</article><!-- /.{{ post.date | date: "%Y" }} -->
{% endfor %}
</div><!-- /#main -->
</article>

<footer id="footer">
{% include footer.html %}
</footer>

{% include scripts.html %}
<!-- Begin Filter Script -->
<script>
$(document).ready(function() {
	$('ul#filter a').click(function() {
		$('ul#filter .current').removeClass('current');
		$(this).parent().addClass('current');

		var filterVal = $(this).text().toLowerCase().replace(' ','-');

		if(filterVal == 'all') {
			$('div#main article.hidden').fadeIn('slow').removeClass('hidden');
		} else {
			$('div#main article').each(function() {
				if(!$(this).hasClass(filterVal)) {
					$(this).fadeOut('normal').addClass('hidden');
				} else {
					$(this).fadeIn('slow').removeClass('hidden');
				}
			});
		}

		return false;
	});
});
</script>	        
</body>
</html>