---
layout: default
---

<main id="main" role="main">

  <header class="container post__header">
    <h1 class="post__title">{{ page.title }}</h1>
  </header>

  {% if page.image.feature %}
    {% include page__hero.html %}
  {% endif %}

  <div class="container post__content">

    <div class="post__inner-wrapper">

      <section class="post__body">
        {{ content }}
      </section>

    </div>

    <aside class="post__sidebar">
      {% if page.ads != false %}
      <div class="ad--sidebar">
        <ins class="adsbygoogle adsense--sidebar"
          style="display:inline-block"
          data-ad-client="{{ site.owner.google.ad-client }}"
          data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
        <small class="ad__caption">Advertisement</small>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      {% endif %}
    </aside>

  </div>

</main>
