<!doctype html>

<!-- 
320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
-->

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}
</head>

<body>

<!--[if lt IE 8]><div class="alert alert-info"><strong>Your browser is really old!</strong> <a href="http://browsehappy.com/">Why not upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better enjoy this site?</div><![endif]-->

<nav role="navigation">
    <a href="#" id="branding"><i class="icon-home visible-phone"></i><span class="hidden-phone"> Website Name</span></a>
    {% include nav.html %}
</nav>

<div id="main" role="main" class="clearfix">
    <header role="banner">
        <img src="http://placehold.it/960x300" alt="Marquee image 960 x 300"/>
        <hgroup>
            <div class="header-wrapper">
                <h3 id="responsive-h3"><span>The Latest</span></h3>
                <h1 id="responsive-h1"><a href="#">Short Headline Article Goes Here</a></h1>
                <h2 id="responsive-h2" class="hidden-phone"><span>Sub-headline Could Go Here</span></h2>
            </div><!-- /.header-wrapper -->
        </hgroup>
    </header>
    
    <div class="center">
        <article class="listing clearfix">
            <header>
                <h1>Posts &amp; Diatribes</h1>
            </header>
            <ul class="leaders">
                {% for post in site.posts %}
				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				{% if year != nyear %}
				{% endif %}
                <li><span><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></span><span><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></span></li>
                {% endfor %}
            </ul>
        </article><!-- /.listing -->
    </div><!-- /.center -->
</div><!-- /#main -->

<hr />

<footer>
{% include footer.html %}
</footer>

{% include scripts.html %}
  
</body>
</html>