<!doctype html>

<!-- 
320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
-->

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}
{% if page.css %}<link rel="stylesheet" href="{{ site.base_url }}/css/custom/{{ page.css }}">{% endif %}
</head>

<body>
<!--[if lt IE 8]><div class="alert alert-info"><strong>Your browser is really old!</strong> <a href="http://browsehappy.com/">Why not upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better enjoy this site?</div><![endif]-->

<nav role="navigation">
    {% include nav.html %}
</nav>

<div id="main" role="main" class="clearfix">
	<header role="banner">
        <img src="{{ site.base_url }}/images/{{ page.image }}" alt="{{ page.title }} article image" />
        <hgroup>
            <div class="header-wrapper">
                <h1 id="responsive-h1"><a href="{{ site.base_url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.headline }}</a></h1>
                <h2 id="responsive-h2"><span>{{ page.subheadline }}</span></h2>
            </div><!-- /.header-wrapper -->
        </hgroup>
    </header>
    <div class="center">
       	<div class="credits hidden-phone">
         	<aside id="published">
            	<p>This article was published on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time> by <a href="{{ site.base_url }}/about.html" rel="author" title="About Michael Rose" rel="me">Michael Rose</a>. <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0)" target="_blank">Some Rights Reserved</a>.</p>
             	<ul class="icons unstyled">
                	<li><i class="icon-twitter-sign"></i> <a href="http://twitter.com/mmistakes" title="Michael Rose on Twitter">Twitter</a></li>
                	<li><i class="icon-facebook-sign"></i> <a href="http://facebook.com/michaelrose" title="Michael Rose on Facebook">Facebook</a></li>
                	<li><i class="icon-linkedin-sign"></i> <a href="http://www.linkedin.com/in/michaelrose" title="Michael Rose on LinkedIn">LinkedIn</a></li>
                	<li><i class="icon-google-plus-sign"></i> <a href="https://plus.google.com/u/0/118238196859537351707/about?rel=author" title="Michael Rose on Google+">Google+</a></li>
                	<li><i class="icon-rss"></i> <a href="http://feeds.feedburner.com/MadeMistakes" title="Made Mistakes RSS Feed">RSS</a></li>
                </ul>
            </aside><!-- /#published -->
       	</div><!-- /.credits -->
       	{{ content }}
    </div><!-- /.center -->
</div><!-- /#main -->

<hr />

<footer>
{% include footer.html %}
</footer>	

{% include scripts.html %}	        

</body>
</html>