---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div id="main" role="main">

  <article itemscope itemtype="http://schema.org/Article">

    <meta itemprop="description" content="{{ page.excerpt }}">

    <header class="container post__header">
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
      {% include breadcrumbs.html %}
    </header>

    {% if page.image.feature %}
      {% include page__hero.html %}
    {% endif %}

    {% if page.feature.visible == true %}
      {% include featured.html %}
    {% endif %}

    <div class="container post__content">

      <div class="post__inner-wrapper">

        <section class="post__body">
          {{ content }}
        </section>

        {% if page.tags %}
        <div class="post__taxonomy">
          {% include post__taxonomy.html %}
        </div>
        {% endif %}

        {% if page.comments == true %}
        <section class="post__comments">
          {% include post__comments.html %}
        </section>
        {% endif %}

        {% if page.author != false %}
        <footer class="post__footer">
          {% include post__author.html %}
          {% include post__footer.html %}
        </footer>
        {% endif %}

        {% if page.share != false %}
        <div class="post__social">
          {% include post__social.html %}
        </div>
        {% endif %}

      </div>

      <aside class="post__sidebar">
        <div class="toc--sidebar"></div>
        {% include ad.html %}
      </aside>

    </div>

  </article>

  {% if page.path contains '_posts' and site.related_posts.size >= 3 %}
    {% include related.html %}
  {% endif %}

</div>

{% include colophon.html %}
