---
layout: default
---

<main id="main" role="main">

  <article itemscope itemtype="http://schema.org/Article">
    <meta itemprop="description" content="{{ page.excerpt }}">

    <header class="container post__header">
      <h1 class="post__title" itemprop="name">{{ page.title }}</h1>
    </header>

    {% if page.image.feature %}
      <img class="page__hero" src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}" itemprop="image">
      {% if page.image.credit %}{% include image-credit.html %}{% endif %}
    {% endif %}

    <div class="container post__content">
      <div class="post__inner-wrapper">
        {% if page.external.url %}
        <section class="post__external">
          <a href="{{ page.external.url }}" class="btn btn--block" itemprop="sameAs">Launch Website</a>
        </section>
        {% endif %}

        <section class="post__body">
          {{ content }}
        </section>

        {% if page.comments == true %}
        <section class="post__comments">
          {% include post__comments.html %}
        </section>
        {% endif %}

        <footer class="post__footer">
          {% include post__author.html %}
          {% include post__footer.html %}
        </footer>

        <div class="post__social">
          {% include post__social.html %}
        </div>

        {% if page.tags %}
        <div class="post__taxonomy">
          {% include post__taxonomy.html %}
        </div>
        {% endif %}
      </div>

      <aside class="post__sidebar">
        {% if page.toc != false %}
        <nav class="toc">
          <h4 class="toc__title"><span>Table of Contents</span></h4>
          <ol class="toc__menu"></ol>
        </nav>
        {% endif %}

        {% if page.ads != false %}
        <div class="ad--sidebar">
          <ins class="adsbygoogle adsense--sidebar"
            style="display:inline-block"
            data-ad-client="{{ site.owner.google.ad-client }}"
            data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
          <small class="ad__caption">Advertisement</small>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        {% endif %}
      </aside>
    </div>

  </article>

  {% if page.path contains '_posts' %}
    {% include related.html %}
  {% endif %}

</main>
