---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if page.title %}
      {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
    {% endif %}

    {% if seo_title %}
      {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% if page.excerpt %}
      {% assign seo_description = page.excerpt %}
    {% elsif page.type == 'tag' %}
      {% assign seo_description = page.title | prepend: "An archive of " | append: " posts." | %}
    {% elsif site.description %}
      {% assign seo_description = site.description %}
    {% endif %}

    {% if seo_description %}
      {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% if site.url %}
      {% assign canonical_url = page.url | replace:'index.html','' | prepend: site.url %}
    {% endif %}

    {% if seo_title %}
      <title>{{ seo_title }}</title>
    {% endif %}

    {% if seo_description %}
      <meta name="description" content="{{ seo_description }}" />
    {% endif %}

    {% include sharing-meta.html %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">

    <link href="http://feeds.feedburner.com/MadeMistakes" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Everything">
    <link href="http://feeds.feedburner.com/MadeMistakesArticles" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Articles">
    <link href="http://feeds.feedburner.com/MadeMistakesMasteringPaper" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; Mastering Paper">
    <link href="http://feeds.feedburner.com/MadeMistakesPaperFaces" type="application/atom+xml" rel="alternate" title="{{ site.title }} &#8211; PaperFaces Portraits">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <!-- Webmaster Tools verifications -->
    {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
    {% if site.owner.bing.verify %}<meta name="msvalidate.01" content="{{ site.owner.bing.verify }}">{% endif %}
    {% if site.owner.alexa.verify %}<meta name="alexaVerifyID" content="{{ site.owner.alexa.verify }}">{% endif %}
    {% if site.owner.yandex.verify %}<meta name="yandex-verification" content="{{ site.owner.yandex.verify }}">{% endif %}

    {% if site.owner.google.plus %}<link rel="author" href="{{ site.owner.google.plus }}?rel=author">{% endif %}

    {% unless page.layout == "glitch" %}
      <style>{% asset_source critical.css %}</style>
    {% else %}
      <style>{% asset_source glitch-critical.css %}</style>
    {% endunless %}

    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

    <script>
      {% asset_source vendor/loadCSS.js %}
      loadCSS("{% asset_path non-critical.css %}");
    </script>
    <noscript><link href="{% asset_path non-critical.css %}" rel="stylesheet"></noscript>

    <script>
      document.createElement("picture");
    </script>
    {% javascript vendor/picturefill.min async %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/manifest.json">
    <meta name="msapplication-TileColor" content="#40393e">
    <meta name="msapplication-TileImage" content="{{ site.url }}/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body id="0">

    {% unless page.layout == "glitch" %}
      <section>
        <h2 class="screen-reader-text">Skip links</h2>
        <ul class="skip-link">
          <li><a href="#nav-primary" class="screen-reader-shortcut">Skip to primary navigation</a></li>
          <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
          <li><a href="#colophon" class="screen-reader-shortcut">Skip to footer</a></li>
        </ul>
      </section>
    {% endunless %}

    {{ content }}

    {% unless page.layout == "glitch" %}
      {% include svg-icons.svg %}
      {% javascript main async %}
    {% else %}
      {% javascript glitch async %}
    {% endunless %}

    <!-- Google Universal Analytics -->
    <script async>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.owner.google.analytics }}', 'mademistakes.com');
      ga('send', 'pageview');
    </script>

    {% if page.comments == true %}
      <script async>
        var disqus_shortname = '{{ site.disqus-shortname }}';

        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>
    {% endif %}

    {% if page.ads != false %}
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}

    <!-- QR code -->
    <div id="qr" class="hidden">
      <img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl={{ canonical_url }}&choe=UTF-8" alt="Scan QR code with a smartphone">
      <p><small>{{ canonical_url }}</small></p>
    </div>

  </body>

</html>
