<!doctype html>

<!-- 
320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
-->

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}
{% if page.css %}<link rel="stylesheet" href="{{ site.base_url }}/css/custom/{{ page.css }}">{% endif %}
</head>

<body class="feature">

{% include chrome-frame.html %}
{% include nav.html %}

<div id="main">
    <article class="slides">
        <section class="cover" id="start" data-top-top="opacity:1" data-top-bottom="opacity:0">
          <div class="cover-wrapper"> 
              <div data-picture data-alt="{{ page.title }} article image" data-class="feature-image" class="wrapper-image">
                    <div data-src="{{ site.base_url }}/images/{{ page.image }}-s.jpg"></div>
                    <div data-src="{{ site.base_url }}/images/{{ page.image }}-m.jpg" data-media="(min-width: 768px)"></div>
                    <div data-src="{{ site.base_url }}/images/{{ page.image }}-l.jpg" data-media="(min-width: 1024px)"></div>
                    <div data-src="{{ site.base_url }}/images/{{ page.image }}-xl.jpg" data-media="(min-width: 1280px)"></div>
                    <!--[if (lte IE 8) & (!IEMobile)]>
                        <div data-src="{{ site.base_url }}/images/{{ page.image }}-l.jpg"></div>
                    <![endif]-->
                    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                    <noscript>
                        <img src="{{ site.base_url }}/images/{{ page.image }}-s.jpg" alt="{{ page.title }} article image" class="feature-image">
                    </noscript>
              </div><!-- /.wrapper-image -->
              <hgroup>
                  <h1 data-anchor-target="#start" data-top-top="transform:translate(0px,0px)" data-top-bottom="transform:translate(200px,0px)">{{ page.headline }}</h1>
                  <h2 data-anchor-target="#start" data-top-top="transform:translate(0px,0px)" data-top-bottom="transform:translate(-200px,0px)"><span>{{ page.subheadline }}</span></h2>
              </hgroup>
          </div><!-- /.cover-wrapper -->
        </section>
        {{ content }}
    </article><!-- /.slides -->
</div><!-- /#main -->

<div class="footer-wrapper">
      <footer class="site-footer" role="contentinfo">
        {% include footer.html %}
      </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>