<!doctype html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}
{% if page.css %}<link rel="stylesheet" href="{{ site.url }}/css/custom/{{ page.css }}">{% endif %}
</head>

<body class="feature">

{% include chrome-frame.html %}
{% include nav.html %}

<div id="main">
    <article class="slides">
        <section class="cover" id="start">
          <div class="cover-wrapper"> 
              <div class="wrapper-image">
                    <img src="{{ site.url }}/assets/images/{{ page.image }}-xl.jpg" alt="{{ page.title }} article image" class="feature-image">
              </div><!-- /.wrapper-image -->
              <hgroup>
                  <h1>{{ page.headline }}</h1>
                  <h2><span>{{ page.subheadline }}</span></h2>
              </hgroup>
          </div><!-- /.cover-wrapper -->
        </section>
        {{ content }}
    </article><!-- /.slides -->
</div><!-- /#main -->

<div class="footer-wrapper">
      <footer class="site-footer" role="contentinfo">
        {% include footer.html %}
      </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>