<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

<div class="image-wrap">
  <div class="headline-wrap">
    <h1>{{ page.headline }}</h1>
    <h2>{{ page.subheadline }}</h2>
  </div><!--/ .headline-wrap -->
  <div data-picture data-alt="{{ page.title }} page image">
        <div data-src="{{ site.url }}/images/{{ page.image }}-s.jpg"></div>
        <div data-src="{{ site.url }}/images/{{ page.image }}-m.jpg" data-media="(min-width: 480px)"></div>
        <div data-src="{{ site.url }}/images/{{ page.image }}-l.jpg" data-media="(min-width: 768px)"></div>
        <div data-src="{{ site.url }}/images/{{ page.image }}-xl.jpg" data-media="(min-width: 992px)"></div>
        <!--[if (lt IE 9) & (!IEMobile)]>
          <div data-src="{{ site.url }}/images/{{ page.image }}-l.jpg"></div>
        <![endif]-->
        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
        <noscript>
            <img src="{{ site.url }}/images/{{ page.image }}-m.jpg" alt="{{ page.title }} page image">
        </noscript>
    </div>
</div><!-- /.image-wrap -->

<div class="article-author-top">
  {% include author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <a href="{{ site.url}}/articles/paperfaces-ipad-portrait-project.html" class="btn btn-small pull-right">Learn More</a>
  <h3>PaperFaces iPad Portraits</h3>
  <hr />
  <ul class="recent-grid unstyled-list">
  {% for post in site.categories.paperfaces limit:5 %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.thumb }}" alt="thumb" /></a></li>
  {% endfor %}
  </ul>
  <a href="{{ site.url}}/articles" class="btn btn-small pull-right">View all articles</a>
  <h3>Posts &amp; Diatribes</h3>
  <hr />
  {% for post in site.categories.articles limit:5 %}    
  <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.headline }}</a></h2>
    <p itemprop="text">{{ post.description }}</p>
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>