---
layout: default
---

<div id="main" role="main"> 
  <article class="wrap" itemscope itemtype="http://schema.org/Article">
    <div class="{% if page.image.feature %}page-feature-header{% else %}page-header{% endif %}">
      {% if page.image.feature %}
      <div class="page-image">
        <img src="/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}{% include image-credit.html %}{% endif %}
      </div><!-- /.page-image -->
      {% endif %}
      <div class="page-title">
        <h1><span>{{ page.title }}</span></h1>
        {% if page.tags %}{% include page-meta-header.html %}{% endif %}
      </div><!-- /.page-title -->
    </div><!-- /.page-header -->
    <div class="inner-wrap">
      {% include breadcrumbs.html %}
      <div id="content" class="page-content" itemprop="articleBody">
        {% if page.external.url %}
          <div><a href="{{ page.external.url }}" class="btn" itemprop="sameAs"><i class="fa fa-external-link"></i> Launch Website</a></div>
        {% endif %}
        {{ content }}
        <hr />
        <footer class="page-footer">
          {% include page-meta-footer.html %}
        </footer><!-- /.footer -->
        <aside>
          {% include latest-posts-grid.html %}
        </aside>
      </div><!-- /.content -->
    </div><!-- /.inner-wrap -->
    <div class="sidebar">
      {% if page.sidebar %}
        {% capture sidebar %}{{ page.sidebar }}.html{% endcapture %}
        {% include {{sidebar}} %}
      {% endif %}
      {% if page.ads != false %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
    </div><!-- /.sidebar -->
  </article><!-- /.wrap -->
  {% if page.comments == true %}
  <div class="wrap">
    <aside>{% include comments.html %}</aside>
    {% if page.ads != false %}<div class="sidebar ads">{% include advertising-2.html %}</div><!-- /.ads -->{% endif %}
  </div><!-- /.wrap -->
  {% endif %}
</div><!-- /#main -->