<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="{% if page.tags contains 'feature' %}feature{% else %}page{% endif %}" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}
{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <div class="post-wrap">
    <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="feature" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">{% endif %}
      <header class="headline-wrap">
        <h1 itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.subheadline %}<h2>{{ page.subheadline }}</h2>{% endif %}
      </header><!--/ .headline-wrap -->
      <div class="content-wrap" itemprop="text">
        {{ content }}
      </div><!-- /.content-wrap -->
    </article>
  </div><!-- /.post-wrap -->

</div><!-- /#main -->

<div class="footer-wrap">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}          

</body>
</html>