<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="photo" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}
{% include navigation.html %}
<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="post-wrap">
    <article>
      <img src="{{ site.url }}/images/{{ page.image }}.jpg" alt="{{ page.title }} large image" itemprop="primaryImageOfPage">
      <header class="headline-wrap">
        <h1 itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.subheadline %}<h2>{{ page.subheadline }}</h2>{% endif %}
      </header><!--/ .headline-wrap -->
      <div class="content-wrap" itemprop="text">
        {{ content }}
      </div><!-- /.content-wrap -->
      <footer role="contentinfo">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">work</span></a> by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ site.url }}" property="cc:attributionName" rel="cc:attributionURL">Michael Rose</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
      </footer>
    </article>
    <aside>
      {% include author-bio.html %}
    </aside>
  </div><!-- /.post-wrap -->
  <nav class="pagination" role="navigation">
    {% for post in site.categories.paperfaces %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}
    {% for post in site.categories.paperfaces %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post.url %}
      {% endif %}
    {% endfor %}
    {% if next_post %}
      <a href="{{ next_post }}" class="mfp-arrow mfp-arrow-right hide-text" title="Next image">Next image</a>
    {% endif %}
    {% if prev_post %}
      <a href="{{ prev_post }}" class="mfp-arrow mfp-arrow-left hide-text" title="Previous image">Previous image</a>
    {% endif %}
  </nav><!-- /.pagination -->
</div><!-- /#main -->
<div class="footer-wrap">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}          

</body>
</html>