{% include head.html %}

<body id="post" itemscope itemtype="http://schema.org/WebPage">

{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="entry-header">
      {% if page.image.feature %}<div class="entry-image">
        <img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
      </div><!-- /.entry-image -->{% endif %}
      <h1 class="entry-title" itemprop="name">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    <div class="entry-wrapper">
      <div class="entry-content" itemprop="articleBody">
        {{ content }}
        {% if page.series %}{% include series.html %}{% endif %}
        <hr />
        <div class="entry-meta">
          <a href="{{ site.url }}/about.html"><img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo" width="30" height="30"></a>
          <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">Published by <span itemprop="name" class="fn"><a href="{{ site.url }}/about.html" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a></span> on </span>
          <span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></span>
          {% if page.modified %}<span class="entry-date date updated">(Updated <time datetime="{{ post.modified }}" itemprop="dateModified">{{ post.modified | date: "%m/%d/%Y" }}</time>)</span>{% endif %}
          <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tag/{{ tag | replace:' ','-' | downcase }}" title="{{ tag }}" class="tag" rel="tag">{{ tag }}</a>{% endfor %}</span>
        </div><!-- /.entry-meta -->
      </div><!-- /.entry-content -->
      <div class="ads">
        {% include google-adsense.html %}
      </div><!-- /.ads -->
      <nav class="pagination" role="navigation">
        {% for post in site.categories.articles %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}
        {% for post in site.categories.articles %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
          {% endif %}
        {% endfor %}
        {% if prev_post %}
          <a href="{{ prev_post }}" class="previous-link" title="Previous article"><i class="icon-chevron-left icon-large"></i> <span>Previous</span></a>
        {% endif %}
          <a href="{{ site.url }}/articles/" class="archive-link"><i class="icon-list-ul icon-large"></i> <span>Archive</span></a>
        {% if next_post %}
          <a href="{{ next_post }}" class="next-link" title="Next article"><span>Next</span> <i class="icon-chevron-right icon-large"></i></a>
        {% endif %}
    </nav><!-- /.pagination -->
    {% if page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
