<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="index" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}
{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <div class="intro-wrap">
    <article>
      <header class="headline-wrap">
        <h1 itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.subheadline %}<h2>{{ page.subheadline }}</h2>{% endif %}
      </header><!--/ .headline-wrap -->
      {{ content }}
    </article>
    <aside>
      <figure>
        <img src="{{ site.url }}/images/{{ page.image.main }}" alt="{{ page.title }} main image">
      </figure>
    </aside>
  </div><!-- /.intro-wrap -->
  <nav role="navigation">
    <ol class="index">
      {% for post in site.categories.articles %} 
      <li itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" style="background-image:url({% if post.image.small %}{{ site.url }}/images/{{ post.image.small }}{% else %}{{ site.url }}/images/340x100.gif{% endif %})">
          <article>
            <header>
              <h2 itemprop="headline">{% if post.headline %}{{ post.headline }}{% else %}{{ post.title }}</h2>{% endif %}
              {% if post.subheadline %}<h3>{{ post.subheadline }}</h3>{% endif %}
            </header>
            <blockquote>
              <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </blockquote>
          </article>
        </a>
      </li>
      {% endfor %}
    </ol>
  </nav>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>