---
layout: page
---

<ul class="post-index unstyled-list">
	{% for post in site.posts %}
	{% assign readtime = post.content | number_of_words | divided_by:200 %}
  	{% for tag in post.tags %}
  	{% if tag == page.tag %}
  	<li>
	    <article itemscope itemtype="http://schema.org/BlogPosting">
			<a href="{{ site.url }}{{ post.url }}" itemprop="url">
				{% if post.image.thumb %}<img src="{{ site.url }}/images/{{ post.image.thumb }}" class="preview" alt="preview image" itemprop="image">{% else %}<img src="{{ site.url }}/images/{{ site.logo }}" class="preview" alt="preview image" itemprop="image">{% endif %}
				<h1 itemprop="name">{{ post.title }}</h1>
				<p itemprop="description">{{ post.description }}</p>
				<p class="entry-meta"><i class="icon-time"></i> Reading time ~{% if readtime <= 1 %}1 min{% else %}{{ readtime }} min{% endif %} &#8901; Published <span class="entry-date date published"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span>
				{% if post.modified %}<span class="entry-date date updated">(Updated <time datetime="{{ post.modified }}" itemprop="dateModified">{{ post.modified | date: "%m/%d/%Y" }}</time>)</span>{% endif %}
				</p><!-- /.entry-meta -->
			</a>
	    </article>
		</li>
		{% endif %}
		{% endfor %}
	{% endfor %}
</ul><!-- /.unstyled-list -->