<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" itemscope itemtype="http://schema.org/WebPage">

{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <article class="entry" itemscope>
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="name">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="entry-content" itemprop="articleBody">
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <div class="work-content">
      {% for post in site.categories.work %}
        <div class="project-wrap" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"><a href="{{ site.url }}{{ post.url }}"><figure class="project-tease">
          <img src="{{ site.url }}/images/{{ post.image.thumb }}" alt="{{ post.title }} teaser" border="0" itemprop="image">
          <figcaption>
            <div class="figcaption-wrap">
                <h3 itemprop="name">{% if post.short-title %}{{ post.short-title }}{% else %}{{ post.title }}{% endif %}</h3>
            </div><!-- /.figcaption-wrap -->
          </figcaption>
        </figure></a></div><!-- /.projet-wrap -->
      {% endfor %}
    </div><!-- /.work-content -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>