---
layout: default
---

<div id="main" role="main">
  <div class="wrap">
    <div class="{% if page.image.feature %}page-feature-header overlay{% else %}page-header{% endif %}">
      {% if page.image.feature %}
      <div class="page-image">
        <img src="/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}{% include image-credit.html %}{% endif %}
      </div><!-- /.page-image -->
      {% endif %}
      <div class="page-title">
        {% include breadcrumbs.html %}
        <h1><span>Archive for {{ page.title | date: "%Y" }}</span></h1>
        <h2><span>Posts from the year {{ page.title | date: "%Y" }}.</span></h2>
      </div><!-- /.page-title -->
    </div><!-- /.page-header -->
    <div class="archive-wrap">
      <div class="page-content">
        {% for post in page.posts %}
          {% include post-grid.html %}
        {% endfor %}
      </div><!-- /.page-content -->
    </div><!-- /.archive-wrap -->
  </div><!-- /.wrap -->
</div><!-- /#main -->
