---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div id="main" role="main">

  <header class="container post__header">
    <h1 class="post__title">{{ page.date | date: "%Y" }}</h1>
    <h2 class="post__excerpt">Archive of posts from the year {{ page.date | date: "%Y" }}.</h2>
  </header>

  {% if page.image.feature %}
    {% include page__hero.html %}
  {% endif %}

  {% if page.feature.visible == true %}
    {% include featured.html %}
  {% endif %}

  <div class="container post__content">

    <div class="post__inner-wrapper">

      <section class="post__body">
        {% for post in page.posts %}
          {% include archive__item.html %}
        {% endfor %}
      </section>

    </div>

    <aside class="post__sidebar">
      {% include ad.html %}
    </aside>

  </div>

</div>

{% include colophon.html %}
