/* ==========================================================================
   Alignment
   ========================================================================== */

.align-baseline {
  vertical-align: baseline !important;
} /* Browser default */
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}

/*
   Image Alignment
   ========================================================================== */

.align-center,
div.align-center,
a img.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

figure.align-center {
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  figcaption {
    text-align: center;
  }
}

figure {
  &.half,
  &.third,
  > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > p a,
    > img {
      display: block;
    }
  }

  > p {
    width: 100%;
    margin-bottom: 0;
  }

  &.half {
    > p a,
    > a,
    > img {
      @include breakpoint($small) {
        flex-basis: 49%;
        max-width: 49%;
        height: 0%;
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > p a,
    > a,
    > img {
      @include breakpoint($small) {
        flex-basis: 32%;
        max-width: 32%;
        height: 0%;
      }
    }

    figcaption {
      width: 100%;
    }
  }

  .emoji {
    margin-bottom: 0;
  }
}

.align-right,
a img.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: right;
}

.align-left,
a img.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}

/*
   Sidebar Pusher
   ========================================================================== */

.is--pushed {
  transform: translateX(1 * $sidebar-width) !important;
  transform-origin: right !important;

  @include breakpoint($large) {
    transform: translateX(1.5 * $sidebar-width) !important;
  }
}
