/* ==========================================================================
   Visibility
   ========================================================================== */

/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */
.hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */
.load {
  display: none;
}

.transparent {
  opacity: 0;
}

/* for screen-readers */
.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}
