/* ==========================================================================
   BANNERS
   ========================================================================== */

.ad {
  text-align: center;

  @include breakpoint($small) {
    text-align: left;
  }
}

/*
   Google Adsense
   ========================================================================== */

/* sidebar ad */
.adsense--sidebar {
  width: 320px;
  height: 100px;
  border-bottom: 0 solid transparent;

  @media (min-width: 500px) and (max-width: $medium-wide) {
    width: 468px;
    height: 60px;
  }

  @include breakpoint($medium-wide) {
    width: 120px;
    height: 600px;
  }

  @media (min-width: 1025px) {
    width: 300px;
    height: 250px;
  }
}

/* footer ad */
.adsense--footer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 300px;
  height: 250px;
  text-align: center;
  border-bottom: 0 solid transparent;

  @include breakpoint($small) {
    margin-left: 2em;
    margin-right: 2em;
  }

  @include breakpoint($x-large) {
    margin-left: 3em;
    margin-right: 3em;
  }

  @media (min-width: 500px) and (max-width: $medium-wide) {
    width: 468px;
    height: 60px;
  }

  @include breakpoint($medium-wide) {
    width: 728px;
    height: 90px;
  }
}
