/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  background: $background-color;
  color: $text-color;
  display: flex;
}

blockquote,
q {
  color: tint($text-color, 40%);
  font-style: italic;

  cite {
    font-size: 80%;
    font-style: normal;
    font-weight: bold;

    &::before {
      content: "\2014";
      padding-right: 0.25rem;
    }
  }
}

code,
kbd,
samp,
pre {
  font-family: $monospace-font-family;
}

kbd {
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  text-shadow: 0 1px 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font-family;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 16px);
}

figure {
  margin-left: 0;
  margin-right: 0;

  > p {
    margin-bottom: 0;
    width: 100%;
  }

  > img {
    width: 100%;
  }
}

figcaption {
  font-size: 80%;
  margin: 0.5rem 0;
}

a {
  color: $accent-color;

  &:hover {
    color: shade($accent-color, 25%);
  }

  &:visited {
    color: tint($accent-color, 50%);
  }
}

// *:focus {
//   border-color: rgba($accent-color, 0.5);
//   outline: none;
//   box-shadow: 0 0 10px rgba($accent-color, 0.5);
// }

img {
  /* lazysizes plugin */
  &[data-sizes="auto"] {
    display: block;
    width: 100%;
  }
}

li {
  > img {
    margin: 1rem 0;
  }
}
