/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

* {
  box-sizing: border-box;
}

/*
   Breakpoint-Sass
   ========================================================================== */

@include breakpoint-set('to ems', true);

/*
   Typography
   ========================================================================== */

// modular scale
// 3.052em
// 2.441em
// 1.953em
// 1.563em
// 1.25em
// 1em
// 0.8em
// 0.64em
// 0.512em
// 0.41em
// 0.328em

html {
  font-family: $serif;
  font-size: 100%;
  line-height: 1.625;
  color: #333;

  @include breakpoint($medium) {
    font-size: 115%;
  }

  @include breakpoint($large) {
    font-size: 125%;
  }

  @include breakpoint($x-large) {
    font-size: 135%;
  }
}

body {
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.8em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;

  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */
abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* Blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $highlighter-color;

  a {
    color: inherit;
  }

  cite {
    font-family: $sans-serif;
    font-size: 0.8rem;
    font-style: normal;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;

  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    color: $link-color-hover;
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color-visited;
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
  font-size: 0.8rem;
}

pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}

p code,
li code,
figcaption code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8em;
  background: $inline-code-background;
  border-radius: $border-radius;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; // non-breaking space
  }
}

/* Horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 0.125em solid $border-color;
}

/*
   Media and embeds
   ========================================================================== */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%; /* part 1: Set a maximum relative to the parent*/
  width: auto\9; /* IE7-8 need help adjusting responsive images*/
  height: auto; /* part 2: Scale the height according to the width, otherwise you get stretching*/

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a img {
  border: 0.125em solid #333;
  box-shadow: 0.25em 0.25em #333;

  &:hover {
    // box-shadow: 0 0 10px rgba(#000, 0.5);
    box-shadow: 0.5em 0.5em #333;
  }
}

/* fix IE9 SVG bug */
svg:not(:root) {
  overflow: hidden;
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .palette__swatch {
  transition: $global-transition;
}
