/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  background-color: $accent-color;
  border-radius: $border-radius;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $monospace-font-family;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: tint($accent-color, 20%);
    color: #fff;
  }

  &:visited {
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    background-color: shade($accent-color, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  &--group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include breakpoint($medium) {
      flex-direction: row;
    }

    .btn {
      margin-bottom: 0.25em;
    }

    .btn + .btn {
      @include breakpoint($medium) {
        margin-left: 0.25em;
      }
    }
  }

  /* block button fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 1rem;
    }
  }

  /* for dark backgrounds */
  &--inverse {
    background-color: #fff;
    color: #000 !important;
    outline: 0.125em solid #000;

    &:hover {
      background-color: mix(#000, #fff, 10%);
      outline: 0.125em solid #000;
    }
  }

  /* light outline */
  &--light-outline {
    background-color: transparent;
    border: 1px solid #fff !important; // override
  }

  /* information */
  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */
  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */
  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */
  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */
  &--disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
  }

  /* social buttons */
  $social: (facebook, $facebook-color),  (twitter, $twitter-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }
}
