/* ==========================================================================
   Buttons
   ========================================================================== */

.btn,
[type="submit"] {
  background-color: $text-color;
  border-radius: $border-radius;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $monospace-font;
  font-size: ms(-1);
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: tint($accent-color, 20%);
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  .icon {
    margin-right: 0.5em;
  }
}

.btn--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include breakpoint($md-up) {
    flex-direction: row;
  }

  .btn {
    margin-bottom: 0.25em;
  }

  .btn + .btn {
    @include breakpoint($md-up) {
      margin-left: 0.25em;
    }
  }
}

/* block button fills width of parent container */
.btn--block {
  display: block;
  width: 100%;

  + .btn--block {
    margin-top: 1rem;
  }
}

/* for dark backgrounds */
.btn--inverse {
  background-color: #fff;
  color: $text-color !important;
  outline: 0.125em solid $text-color;

  &:hover {
    background-color: mix($text-color, #fff, 10%);
    outline: 0.125em solid $text-color;
  }
}

/* light outline */
.btn--light-outline {
  background-color: transparent;
  border: 1px solid #fff !important; // override
}

/* information */
.btn--info {
  background-color: $info-color;

  &:hover {
    background-color: mix(#000, $info-color, 20%);
  }
}

/* warning */
.btn--warning {
  background-color: $warning-color;

  &:hover {
    background-color: mix(#000, $warning-color, 20%);
  }
}

/* success */
.btn--success {
  background-color: $success-color;

  &:hover {
    background-color: mix(#000, $success-color, 20%);
  }
}

/* danger */
.btn--danger {
  background-color: $danger-color;

  &:hover {
    background-color: mix(#000, $danger-color, 20%);
  }
}

/* disabled */
.btn--disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

/* social buttons */
$social: (facebook, $facebook-color),  (twitter, $twitter-color);

@each $socialnetwork, $color in $social {
  .btn--#{$socialnetwork} {
    background-color: $color;

    &:hover {
      background-color: mix(#000, $color, 20%);
    }
  }
}
