/* ==========================================================================
   Comments
   ========================================================================== */

.comment {
  display: flex;

  + .comment {
    margin-top: 2em;
  }

  &.child {
    margin-left: 40px;

    @include breakpoint($md-up) {
      margin-left: 80px;
    }
  }
}

.comment__avatar {
  $avatar-size: 30px;

  flex-shrink: 0;
  margin-right: 10px;
  width: $avatar-size;
  height: $avatar-size;
  background-color: #e3e3e3;

  @include breakpoint($md-up) {
    margin-right: 20px;
    width: (2 * $avatar-size);
    height: (2 * $avatar-size);
  }

  img {
    width: $avatar-size;
    height: $avatar-size;

    @include breakpoint($md-up) {
      width: (2 * $avatar-size);
      height: (2 * $avatar-size);
    }
  }
}

.comment__main {
  min-width: calc(100% - 40px); // fix overflowing code blocks (message width - avatar size)

  @include breakpoint($md-up) {
    min-width: calc(100% - 80px); // fix overflowing code blocks (message width - avatar size)
  }
}

.comment__meta {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  font-family: $monospace-font;
  font-size: 0.9em;
  border-bottom: 2px solid;

  a {
    color: inherit;
  }
}

.comment__message {
  font-size: 0.85em;

  > *:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.comment__reply {
  margin-top: 0.5em;
  font-family: $monospace-font;
  font-size: 0.9em;
}

.comment__form {
  margin-bottom: 2em;

  .title {
    margin-top: 1em;
  }
}

#cancel-comment-reply-link {
  margin-left: 1em;
  color: $danger-color;
}
