/* ==========================================================================
   Comments
   ========================================================================== */

.comment {
  display: flex;

  + .comment {
    margin-top: 2em;
  }
}

.comment__avatar {
  flex-shrink: 0;
  margin-right: 10px;

  @include breakpoint($md-up) {
    margin-right: 20px;
  }

  img {
    width: 30px;
    height: 30px;

    @include breakpoint($md-up) {
      width: 60px;
      height: 60px;
    }
  }
}

.comment__main {
  min-width: calc(100% - 40px); // fix overflowing code blocks (message width - avatar size)

  @include breakpoint($md-up) {
    min-width: calc(100% - 80px); // fix overflowing code blocks (message width - avatar size)
  }
}

.comment__meta {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  font-family: $monospace-font;
  font-size: 0.8em;
  border-bottom: 2px solid;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.comment__message {
  font-size: 0.85em;

  > *:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.comment__reply {
  margin-top: 0.5em;
  font-family: $monospace-font;
  font-size: 0.8em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment__form {
  margin-bottom: 2em;

  .title {
    margin-top: 1em;
  }
}

// .comment {
//   font-size: 0.8em;
//   margin-bottom: 4em;
//   padding-left: 4.5em;
//   position: relative;

//   // comment replies
//   &.child {
//     margin-left: 4.5em;
//   }
// }

// .comment-timestamp {
//   font-size: 0.8em;

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// .comment__message {
//   margin-top: 1em;

//   > p,
//   > ul,
//   > ol,
//   > figure,
//   > table {
//     margin-bottom: 1.5em;
//   }

  // ul {
  //   list-style-type: square;
  // }

//   li {
//     margin-bottom: 0.5em;
//   }

//   li > ul,
//   li > ol {
//     margin-top: 0.5em;
//   }

  // img {
  //   max-width: 100%;
  // }

//   .highlighter-rouge {
//     .highlight {
//       margin-left: 0;
//       margin-right: 0;
//     }

//     .highlight code {
//       font-size: 0.8em;
//     }
//   }
// }

// .comment-author-name {
//   display: inline-block;
//   font-size: 1.25em;
//   line-height: 1;
//   margin: 0 0 0.25em;

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// .comment-reply {

//   a {
//     text-decoration: none;

//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }

// .comment-reply-notifications {
//   margin: 1rem 0;
// }

// #cancel-comment-reply-link {
//   margin-left: 1em;
// }

// #comment-form {
//   margin-bottom: 3em;
// }

// /* Site author specific */
// .admin {
//   .comment-author-name {
//     box-shadow: inset 0 -0.25em 0 rgba($warning-color, 0.5);
//   }
// }
