/* ==========================================================================
   Comments
   ========================================================================== */

.comment {
  position: relative;
  margin-bottom: 4em;
  padding-left: 4.25em;
  font-size: 0.8em;
}

.comment__timestamp {
  // display: flex;
  // margin: 0;
  // padding: 0;
  font-family: $sans-serif;
  font-size: 0.8em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

// .comment__meta-wrap {
//   border-bottom: 0.25em solid $border-color;
// }

.comment__content {

  > p, > ul, > ol, > figure, > table {
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  li > ul,
  li > ol {
    margin-top: 0.5em;
  }

  img {
    max-width: 100%;
  }
}

.comment__avatar {
  position: absolute;
  top: 0;
  left: 0;
  // flex: 0 0 3.75em;
  width: 3.25em;
  height: 3.25em;
  // margin-right: 1em;
}

// .comment__author {
//   vertical-align: middle;
// }

.comment__author-name {
  // flex: 1;
  margin: 0 0 0.25em 0;
  font-size: 1.25em;
  line-height: 1;

  a {
    color: inherit;
    text-decoration: none;
  }
}

/* comment form */
.page__comments-form {
  padding: 1em;
  background-color: $lighter-gray;
  transition: $global-transition;
}
