/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  position: relative;
  margin-bottom: 3em;
}

.entry__title {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.25;

  @include breakpoint($md-up) {
    font-size: 1.563em;
  }

  a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.entry__meta {
  @include margin-bottom(0.5);
  font-family: $monospace-font;
  font-size: 0.9em;
  text-transform: uppercase;
}

.entry__image {
  margin-bottom: 1em;
}

.entry__excerpt {
  p::after {
    content: ' […]';
  }
}
