/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  position: relative;
  margin-bottom: 3em;
}

.entry__title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.563em;
  line-height: 1.25;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.entry__meta {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.entry__image {
  margin-bottom: 1em;
}

.entry__excerpt {
  p::after {
    content: ' […]';
  }
}
