/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  color: tint($text-color, 40%);
  font-size: 80%;
  margin-top: 4rem;

  .menu {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25em;

    li {
      flex-basis: 50%;

      @include breakpoint($medium) {
        flex-basis: calc(100% / 3);
      }

      @include breakpoint($large) {
        flex-basis: auto;
      }

      a {
        display: block;
        padding-bottom: 1em;
        padding-right: 2em;

        @include breakpoint($large) {
          padding-bottom: 0.5em;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.copyright {
  font-family: $monospace-font-family;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}
