/* ==========================================================================
   FOOTNOTES
   ========================================================================== */

.footnotes {
  position: relative;
  padding-top: 2em;
  font-family: $sans-serif;
  color: mix(#fff, $text-color, 25%);

  p, li {
    font-size: 0.8rem;
  }

  p {
    margin: 0;
  }

  &:before {
    content: '';
    display: block;
    margin-bottom: 2em;
    height: 1px;
    width: 5em;
    background: $border-color;
  }

  code {
    font-size: 0.8em;
  }
}

.reversefootnote {
  font-weight: bold;
  border-bottom: initial !important;
}
