/* ==========================================================================
   Forms
   ========================================================================== */

input,
label,
select {
  display: block;
}

label {
  font-family: $monospace-font-family;
  font-size: 0.8em;
  margin-bottom: 0.5em;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input,
textarea,
select,
select[multiple="multiple"] {
  background-color: #fff;
  border-color: $form-border-color;
  border-radius: $form-border-radius;
  border-style: solid;
  border-width: 1px 1px 4px 1px;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: 0.25em;
  padding: 0.75em;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5em;
  width: initial;
}

input[type="file"] {
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}

form button,
form .btn,
input[type="submit"] {
  appearance: none;
  cursor: pointer;
  margin: 1em 0;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

form {
  ul,
  ol,
  li {
    list-style-type: none;
    padding-left: 0;
  }
}

.form-group {
  margin-bottom: 0.5rem;
}

/* required */
.req,
.required {
  color: $danger-color !important;
  font-weight: bold;
}

/* instructions */
.instruct {
  font-size: 0.8em;
  font-style: italic;
}
