/* ==========================================================================
   Forms
   ========================================================================== */

form {
  position: relative;
  max-width: 100%;

  [type="submit"] {
    @include margin-top(0.5);
  }
}

label {
  display: block;
  width: 100%;
  margin-top: 0;
  @include margin-bottom(0.5);
  font-family: $monospace-font;
  font-size: ms(-1);
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.75em 0.5em;
  vertical-align: top;
  overflow: visible;
  font-family: $sans-serif-font;
  font-size: ms(0);
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 0.25em;
  -webkit-appearance: none;
}

.form__group {
  @include breakpoint($lg-up) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 -0.5em 1em;

    > * {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    /* fix reCAPTCHA iframe overflow */
    &.g-recaptcha > * {
      margin-left: 0.5em;
      padding: 0;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5em;
  width: initial;
}

input[type="file"] {
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}
