/* ==========================================================================
   FORMS
   ========================================================================== */

fieldset {
  margin-bottom: 0.5em;
  padding: 0;
  border-width: 0;
}

input,
label,
select {
  display: block;
}

label {
  margin-bottom: 0.5em;
  font-family: $monospace;
  font-size: 0.8em;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input,
textarea,
select,
select[multiple=multiple] {
  box-sizing: border-box;
  margin-bottom: 0.25em;
  padding: 0.5em;
  width: 100%;
  font-family: $form-font-family;
  font-size: $form-font-size;
  background-color: $white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  transition: border-color;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5em;
  width: initial;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
}

form button,
form .btn,
input[type="submit"] {
  margin: 1em 0;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

form {

  ul, ol, li {
    padding-left: 0;
    list-style-type: none;
  }
}

/* required */
.req,
.required {
  color: $danger-color !important;
  font-weight: bold;
}

/* instructions */
.instruct {
  font-size: 0.8em;
  font-style: italic;
}
