/* ==========================================================================
   Gallery
   ========================================================================== */

.gallery {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @include breakpoint($large) {
    flex-wrap: wrap;
    overflow-x: inherit;
  }
}

.gallery-img {
  padding: 0 1em 1em 1em;
  max-width: ($small - ($small * 0.25 + 0px));
  flex-shrink: 0;

  @include breakpoint($medium) {
    max-width: ($medium - ($medium * 0.45 + 0px));
  }

  @include breakpoint($large) {
    max-width: ($large - ($large * 0.5 + 0px));
    flex-shrink: 1;
    flex-basis: calc(100% / 3);
  }

  img {
    display: block;
    width: 100%;
  }
}
