/* ==========================================================================
   Gallery
   ========================================================================== */

/* 2 Column Gallery */

.gallery-2-col {
  align-items: stretch;
  display: grid;
  grid-gap: 0.5em;
  justify-items: center;

  @include breakpoint($small) {
    grid-template-columns: repeat(2, 1fr);
  }

  figcaption {
    grid-column: 1 / -1;
    width: 100%;
  }
}

/* 3 Column Gallery */

.gallery-3-col {
  align-items: stretch;
  display: grid;
  grid-gap: 0.5em;
  justify-items: center;

  @include breakpoint($small) {
    grid-template-columns: repeat(3, 1fr);
  }

  figcaption {
    width: 100%;
    grid-column: 1 / -1;
  }
}

/* Vertical Gallery */

.gallery-vertical {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @include breakpoint($large) {
    flex-wrap: wrap;
    overflow-x: inherit;
  }

  .gallery-img {
    flex-shrink: 0;
    max-width: ($small - ($small * 0.25 + 0px));
    padding: 0 1em 1em 1em;

    @include breakpoint($medium) {
      max-width: ($medium - ($medium * 0.45 + 0px));
    }

    @include breakpoint($large) {
      flex-basis: calc(100% / 3);
      flex-shrink: 1;
      max-width: ($large - ($large * 0.5 + 0px));
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

// Thumbnail Gallery

.gallery-thumbnails {
  @include clearfix();
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-left: 0; // reset

  li {
    float: left;
    list-style: none;
    margin: 0.25em;
    width: 100px;

    @supports (display: grid) {
      margin: 0;
    }

    a {
      display: block;
    }

    img {
      border-radius: $border-radius;
      height: auto;
      min-height: 100px;
      width: 100%;
    }
  }
}
