/* ==========================================================================
   Gallery
   ========================================================================== */

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -8px;
  @include margin-bottom(1);
  padding: 0;

  &.columns-3 {
    .gallery-item {
      @include breakpoint($md-up) {
        width: calc(100% / 3 - 16px)
      }
    }
  }
}

.gallery-item {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  width: calc(100% / 2 - 16px);

  figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    height: 100%
  }

  img {
    height: 100%;
    flex: 1;
    object-fit: cover;
  }
}


/* 2 Column Gallery */

.gallery-2-col {
  align-items: stretch;
  display: grid;
  grid-gap: 0.5em;
  justify-items: center;

  @include breakpoint($sm-up) {
    grid-template-columns: repeat(2, 1fr);
  }

  figcaption {
    grid-column: 1 / -1;
    width: 100%;
  }
}

/* 3 Column Gallery */

.gallery-3-col {
  align-items: stretch;
  display: grid;
  grid-gap: 0.5em;
  justify-items: center;

  @include breakpoint($sm-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  figcaption {
    width: 100%;
    grid-column: 1 / -1;
  }
}

// Thumbnail Gallery

.gallery-thumbnails {
  @include clearfix();
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-left: 0; // reset

  li {
    float: left;
    list-style: none;
    margin: 0.25em;
    width: 100px;

    @supports (display: grid) {
      margin: 0;
    }

    a {
      display: block;
    }

    img {
      border-radius: $border-radius;
      height: auto;
      min-height: 100px;
      width: 100%;
    }
  }
}
