/* ==========================================================================
   Site-wide
   ========================================================================== */

.site-title {
  @include fluid-type($min-vw, $max-vw, 20px, 24px);
  font-family: $headline-font-family;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding-right: calc(10vw + (2 * #{$navicon-width})); // make room for toggles
  padding: 1.5rem 5vw;
  text-transform: uppercase;

  a {
    align-items: center;
    color: $text-color;
    display: flex;
    min-height: $site-image-height;
    text-decoration: none;
  }

  span {
    display: none;

    @include breakpoint($medium) {
      display: inline;
    }
  }
}

.site-logo {
  display: inline-block;
  fill: currentColor;
  height: $site-image-height;
  line-height: 1;
  margin-right: 0.5rem;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: $site-image-width;
}

.image-caption {
  bottom: 0;
  color: #fff;
  font-size: 0.6em;
  line-height: 1;
  opacity: 0.9;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  a {
    color: #fff;
    text-decoration: none;
  }
}
