/* ==========================================================================
   GOOGLE SEARCH
   ========================================================================== */

.search-goog {

  form {
    margin-top: 12px;
  }
}

#goog-fixurl {

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  .other-things {
    display: none;
  }
}

// input field
#goog-wm-qt {

  @include breakpoint($medium) {
    display: inline-block;
    width: 70%;
  }
}

// submit button
#goog-wm-sb {
  color: #fff;
  font-weight: 700;
  background-color: #000;

  @include breakpoint($medium) {
    display: inline-block;
    margin-left: 1%;
    width: 29%;
  }
}
