/* ==========================================================================
   Index Archive
   ========================================================================== */

.index {

  @include breakpoint($medium-wide) {
    width: span(10);

    .page__header,
    .tag__list--inline {
      width: span(8 of 10);
    }
  }

  @include breakpoint($x-large) {
    width: span(8);
  }

  .page__cover {
    z-index: -1;

    @include breakpoint($medium-wide) {
      width: span(2);
    }

    @include breakpoint($x-large) {
      width: span(4);
    }
  }
}
