/* ==========================================================================
   Navigation
   ========================================================================== */

.menu {
  @include list-unstyled;

  font-weight: 700;

  &--title {
    font-family: $monospace-font-family;
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

/*
   Skip links
   ========================================================================== */

.skip-links {
  position: absolute;
  width: 100%;

  ul {
    @include list-unstyled;
  }
}

/*
   Paginator
   ========================================================================== */

.pager {
  @include clearfix();
  margin-bottom: 2rem;

  .icon {
    fill: $text-color;
  }

  ul {
    @include list-unstyled;
    display: flex;
    flex-direction: column;

    @include breakpoint($medium) {
      flex-direction: row;
    }

    > li {
      flex: 1;
    }

    li + li {
      margin-top: 0.125em;

      @include breakpoint($medium) {
        margin-top: 0;
        margin-left: 0.125em;
      }
    }
  }

  a {
    display: block;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      .icon {
        fill: $accent-color;
      }
    }

    &.previous {
      text-align: left;
    }

    &.next {
      text-align: right;
    }
  }
}

.pager-label,
.pager-title {
  display: block;
}

.pager-label {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: bold;
}

.pager-title {
  color: tint($text-color, 40%);
  font-size: 0.8em;
}

/*
   Breadcrumbs
   ========================================================================== */

.breadcrumbs {
  @include list-unstyled();
  margin-bottom: 1.5rem;
  padding-right: 5vw;
  padding-left: 5vw;
  font-family: $monospace-font-family;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*
   Popular List
   ========================================================================== */

.popular-list {
  display: none;

  @include breakpoint($medium) {
    display: block;
    flex-shrink: 0;
    order: initial;
    align-self: flex-start;
    margin-right: 5vw;
    padding: 1em;
    background-color: $text-color;
    border-radius: $border-radius;
    color: #fff;
    font-size: 0.8em;
  }

  .menu {
    margin: 0;
  }
}
