/* ==========================================================================
   Navigation
   ========================================================================== */

/*
   Skip links
   ========================================================================== */

.skip-links {
  position: absolute;
  width: 100%;

  ul {
    @include list-unstyled;
  }
}

.back-to-top {
  display: block;
  margins-top: 2em;
  font-family: $monospace-font;
  font-size: 0.9em;
  text-decoration: none;
}
