/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  max-width: 35em;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}
