/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.page {
  @include breakpoint($medium-wide) {
    width: span(8);
  }

  @include breakpoint($x-large) {
    width: span(7);
  }
}

.page__wrap {
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($small) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include breakpoint($x-large) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.page__title {
  margin: 1em 0 0.5em;
  font-weight: 700;
}

.page__header {
  position: relative;
  margin: 2em 0;
  font-family: $sans-serif;
  line-height: 1.25;
  z-index: 1;
}

.page__title {
    font-size: 2.441em;
    text-transform: uppercase;
    font-kerning: normal;
    letter-spacing: -0.03125em;

    @include breakpoint($medium-wide) {
      max-width: span(4.5 of 7);
    }

    @include breakpoint($x-large) {
      max-width: span(5 of 7);
    }
  }

.page__excerpt {
  margin-bottom: 2em;
  font-family: $sans-serif;
  font-size: 1.25em;
  line-height: 1.625;
}

.page__meta {
  font-size: 1em;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
  }

  span {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.5em;
    white-space: nowrap;
  }

  .taxonomy {
    margin-right: 2em;

    a {
      position: relative;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: -0.5em;
        bottom: 0;
        width: calc(100% + 1em);
        height: 0.5em;
        background-color: $highlighter-color;
        z-index: -10;
      }
    }
  }
}

/*
   Cover image
   ========================================================================== */

.page__cover {
  display: none;

  @include breakpoint($medium-wide) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: span(4);
    overflow: hidden;
    height: 100vh;
    background-color: #333;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }

  @include breakpoint($x-large) {
    width: span(5);
  }
}

.page__cover-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  backface-visibility: hidden;
  filter: blur(25px);
  transform: translate3d(0, 0, 0);
}

/*
   Hero image
   ========================================================================== */

.page__hero {
  position: relative;
  margin-bottom: 2em;
  margin-left: -1em;
  margin-right: -1em;

  @include breakpoint($small) {
    margin-left: -2em;
    margin-right: -2em;
  }

  @include breakpoint($medium-wide) {
    margin-bottom: 3em;
    margin-left: initial;
    margin-right: -1 * (span(3 of 7));
  }

  .image {
    width: 100%;
    box-shadow: 2em 2em 0 #fff, 2em -2em #fff;
  }

  .page__hero-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    font-family: $sans-serif;
    font-size: 0.8em;
    text-align: right;
    line-height: 1;

    a {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/*
   Content
   ========================================================================== */

.page__content {
  position: relative;
  margin-bottom: 4em;
  z-index: 1;

  h2, h3, h4, h5, h6 {
    margin: 1.5em 0 1em 0;
    font-family: $sans-serif;
    line-height: 1.25;

    code {
      font-size: 1em;
    }
  }

  > p, > ul, > ol, > figure, > table {
    margin-bottom: 1.5em;
  }

  ul {
    list-style-type: square;
  }

  li {
    margin-bottom: 0.5em;

    img {
      margin: 0.5em 0;
    }
  }

  li > ul,
  li > ol {
    margin-top: 0.5em;
  }

  > p {

    &:first-of-type {
      font-family: $sans-serif;
      font-size: 1.25em;
    }
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    img,
    iframe,
    .fluid-width-video-wrapper {
      margin-bottom: 1em;
    }

    > img {
      width: 100%;
    }

    &.half,
    &.third {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > a,
      > img {
        display: block;
      }
    }

    &.half {
      > a,
      > img {
        @include breakpoint($small) {
          flex-basis: 49%;
          max-width: 49%;
          height: 0%;
        }
      }

      figcaption {
        width: 100%;
      }
    }

    &.third {
      > a,
      > img {
        @include breakpoint($small) {
          flex-basis: 32%;
          max-width: 32%;
          height: 0%;
        }
      }

      figcaption {
        width: 100%;
      }
    }

    .emoji {
      margin-bottom: 0;
    }
  }

  figcaption {
    font-family: $sans-serif;
    font-size: 0.8em;
  }
}

/*
   Sections
   ========================================================================== */

.page__section-label {
  position: relative;
  margin: 0 0 2em;
  padding: 0;
  font-family: $sans-serif;
  font-size: 1.563em;

  &:before {
    position: absolute;
    bottom: -0.5em;
    content: '';
    height: 0.25em;
    width: 3em;
    background-color: #333;
    transition: $global-transition;
  }
}

/* reactions eg. comments */
.page__reactions {
  position: relative;
  margin-bottom: 4em;

  @include breakpoint($x-large) {
    max-width: span(6 of 7);
  }
}

/* related content */
.page__related {
  position: relative;
  color: white;

  .page__section-label {

    &:before {
      background-color: white;
    }
  }

  .teaser {
    background-color: #333;

    @include breakpoint(max-width $small) {

      + .teaser {
        margin-top: 0.5em;
      }
    }

    @include breakpoint($small) {
      max-width: 75vw;
      clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);

      + .teaser {
        text-align: right;
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);

        .page__section-label {

          &:before {
            right: 0;
          }
        }
      }
    }
  }
}

/*
   Page form
   ========================================================================== */

.page__form {
  padding: 1em;
  background-color: $lighter-gray;
  transition: $global-transition;

  ul {
    margin: 0;
  }

  .js-notice {
    margin: 0;
  }
}
