/* ==========================================================================
   Post
   ========================================================================== */

.post {
  @include breakpoint($md-down) {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include breakpoint($md-up) {
    display: grid;
    grid-template-columns: 2% 3% 25% 10% 10% 10% 10% 25% 3% 2%;
    grid-template-rows: 80px 100px auto;
    align-items: end;
  }

  @include breakpoint($lg-up) {
    grid-template-columns: 5% 5% 20% 10% 10% 10% 10% 20% 5% 5%;
  }
}
