/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {

  /* set page margins (use centimeters or inches, not pixels) */
  @page {
    margin: 1cm;
  }

  * {
    color: #000 !important;
  }

  html {
    background: #fff;
  }

  /* reset styles */
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line,
  .dark,
  .btn,
  button {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* increase width and reduce white space */
  body,
  .post__inner-wrapper,
  .post__header,
  .page__hero,
  .container,
  .archive__item {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* widow and orphan adjustments */
  .page__content {

    p {
      widows: 4;
      orphans: 3;
    }
  }

  /* make code blocks readable */
  div.highlighter-rouge .highlight,
  figure.highlight .highlight {
    padding: 0 !important;
    background: transparent;
    white-space: pre-wrap;
  }

  /* reset inline code */
  p code, li code, figcaption code {
    padding: 0 !important;
  }

  /* widen content*/
  .page,
  .index {
    width: 100% !important;
  }

  /* adjust index list*/
  .list article.item a {
    margin-right: 0 !important;
  }

  /* reset buttons */
  .btn,
  button {
    padding: 0 !important;
    text-align: left !important;
  }

  /* hide these */
  .masthead,
  .overlay__menu,
  .page__cover,
  .splash .page__hero,
  .site__footer,
  .page__reactions .page__section-label,
  .page__reactions p.instruct,
  .page__reactions .page__form,
  .page__related,
  .ad,
  nav {
    display: none !important;
  }

  /* reveal URLs in page content links */
  .page__content {
    a[href^="http"]:not([href*="mademistakes.com"]):after {
      content: " (" attr(href) ")";
    }
  }

  /* reveal expansions in abbreviations */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* disable expanded links on anchor elements */
  a[href^="#"]:after {
    content: "";
  }

  /* QR code */
  #qr {
    display: block !important;
    visibility: visible !important;
    padding-top: 0.5em;
    border-top: 1px solid;

    p {
      font-size: 0.8rem;
    }
  }

  /* prevent from being cut-off */
  figure,
  img,
  table,
  ul,
  ol,
  .notice,
  .notice--info,
  .notice--warning ,
  .notice--success,
  .notice--danger,
  .archive__item {
    page-break-inside: avoid;
  }
}
