/* ==========================================================================
   REVIEW BOXES
   ========================================================================== */

.review__wrapper {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 20px;
  border-radius: $border-radius;
  background-color: #000;
  color: #fff;

  a {
    color: $text-color;
  }
}

h5.review__title {
  margin: 0;
  color: #fff;
  font-size: 1.563rem;
  font-weight: bold;
}

.review__title-summary {
  font-size: 1.25rem;
  font-weight: bold;
}

.review__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    list-style: none;
  }
}

.review__description {
  a {
    color: #fff;
  }
}
