/* ==========================================================================
   SEARCH
   ========================================================================== */

.search-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: none;
  transition: 0.2s;

  .icon {
    @include fluid-type($min-vw, $max-vw, 20px, 24px);
    fill: $navicon-content-bg;
    top: 0;
  }
}

.search-content {
  opacity: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  transition: visibility 0s linear 0.5s, opacity 0.5s;
  visibility: hidden;

  &.is--visible {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;

    .inner {
      display: block;
    }
  }

  .inner {
    display: none;
    padding: 0 0.5rem;

    @include breakpoint($small) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include breakpoint($medium) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include breakpoint($large) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include breakpoint($xlarge) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .entry-excerpt {
    p {
      margin-bottom: 0;
    }
  }

  .search-input {
    @include fluid-type($min-vw, $max-vw, 24px, 32px);
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: block;
    margin-bottom: 0;
    outline: none;
    padding: 0;
  }

  &.is--visible::after {
    content: "";
    display: block;
  }

  .results-found {
    margin-top: 0.5em;
  }
}

/* Algolia search */

.ais-hits {
  .entry {
    border-bottom: 1px solid $border-color;
  }
}

.ais-search-box {
  margin-bottom: 2em;
  max-width: 100% !important;
}

.entry-title .ais-Highlight {
  color: $accent-color;
  font-style: normal;
  text-decoration: underline;
}

.entry-excerpt .ais-Highlight {
  color: $accent-color;
  font-style: normal;
  font-weight: bold;
}
