/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  font-family: $headline-font-family;
  height: 100%;
  left: 0;
  max-width: $sidebar-width;
  position: fixed;
  top: 0;
  transition: visibility 0s 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 50;

  @include breakpoint($large) {
    max-width: (1.5 * $sidebar-width);
  }

  &.is--visible {
    transition: visibility 0s 0s;
    visibility: visible;
  }

  li {
    opacity: 0;
    transform: translateX(-1rem);
    transition: all 0.5s;

    &.is--moved {
      opacity: 1;
      transform: translateX(0);
    }

    /* line hover effect */
    a {
      color: mix($base-color, #fff, 40%);
      position: relative;

      &::before {
        background-color: #fff;
        content: "";
        display: block;
        height: 1px;
        left: -3rem;
        position: absolute;
        top: 50%;
        transition: width 0.3s cubic-bezier(0, 0, 0.3, 1);
        width: 0;
      }

      &:hover {
        color: #fff;
      }

      &:hover::before {
        width: 2.5rem;
      }
    }
  }

  > .inner {
    background-color: $sidebar-background-color;
    box-shadow: inset -1em 0 5em 0 rgba(0, 0, 0, 0.125);
    height: 100%;
    overflow-x: hidden;
    padding: 1.5em;
    width: 100%;

    @include breakpoint($medium) {
      padding: 3rem;
    }
  }

  .menu {
    @include fluid-type($min-vw, $max-vw, 20px, 32px);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    position: relative;

    a {
      display: block;
    }

    /* divider line */
    &::after {
      background-color: mix($base-color, #fff, 40%);
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 1.5em;
    }

    li {
      margin-bottom: 1.5rem;
    }
  }

  .contact-list {
    @include fluid-type($min-vw, $max-vw, 16px, 20px);
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    a {
      color: mix($base-color, #fff, 40%);
      display: block;
      text-decoration: none;
    }
  }
}

.sidebar-toggle-wrapper {
  align-items: center;
  background-color: $background-color;
  cursor: pointer;
  display: flex;
  margin: 1rem 0;
  padding: 0.5rem 5vw 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;

  @include breakpoint($medium) {
    padding-right: 0;
    right: 5vw;
  }

  .toggle-inner {
    align-items: center;
    display: flex;
  }
}

.sidebar-toggle-label {
  color: $text-color;
  font-family: $monospace-font-family;
  font-weight: bold;
  margin-left: 0.5rem;
}
