/* ==========================================================================
   WEBSITE STYLE GUIDE
   ========================================================================== */

.component {
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  margin-bottom: 1em;
  padding: 1em;

  div.highlighter-rouge,
  figure.highlight {
    margin: 0;
    padding: 1em;
  }
}

.component__header {
  h3 {
    margin-top: 0 !important;
  }

  p {
    font-size: ms(-1);
    margin-top: 0;

    a {
      border-bottom-width: 0;
    }

    &.entry--last {
      margin-bottom: 1em;
    }
  }
}

.component__rendered {
  &--color {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($md-up) {
      flex-wrap: nowrap;
    }
  }
}

.component__code {
  clear: both;
  padding-top: 3em;
  position: relative;

  &:before {
    content: "HTML";
    font-size: ms(-1);
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
    top: 1.5em;
  }
}

/*
   Color swatches
   ========================================================================== */

.color__tile {
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
  width: 98%;
}

.color__name {
  background-color: #e3e3e3;
  color: $text-color;
  font-size: ms(-2);
  margin: 0 2px;
  padding: 0 5px;
  white-space: normal;
  white-space: nowrap;
}

/*
   Background colors
   ========================================================================== */

$color: (white-bg, #fff),  (black-bg, #000),  (background, $background-color),
   (text, $text-color),  (accent, $accent-color),  (primary, $primary-color),
   (success, $success-color),  (warning, $warning-color),
   (danger, $danger-color),  (info, $info-color),  (border, $border-color),
   (facebook, $facebook-color),  (flickr, $flickr-color),
   (github, $github-color),  (google-plus, $google-plus-color),
   (instagram, $instagram-color),  (rss, $rss-color),  (twitter, $twitter-color),
   (youtube, $youtube-color);

@each $name, $bgcolor in $color {
  .color__tile--#{$name} {
    background-color: $bgcolor;
  }
}
