/* ==========================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  width: 100%;
  font-size: ms(-1);
  /* For Firefox to horizontally scroll wider tables */
  // scss-lint:disable DuplicateProperty
  word-break: normal;
  word-break: keep-all;

  code {
    word-break: break-all;
  }
}

tr th {
  border-bottom: 1px solid $border-color;
}

tr:not(:last-child) {
  td {
    border-bottom: 1px solid $border-color;
  }
}

th {
  font-weight: bold;
  padding: 0.5em;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr,
td,
th {
  vertical-align: middle;
}
