/* ==========================================================================
   THUMBNAIL GRIDS
   ========================================================================== */

/* Thumbnail image grid (default content width) */

/**
 *
 * Example usage:
 *  <ul class="gallery-thumbnails">
 *    <li><a href="#"><img src="image.jpg" alt=""></a></li>
 *    <li><a href="#"><img src="image.jpg" alt=""></a></li>
 *    <li><a href="#"><img src="image.jpg" alt=""></a></li>
 *  </ul>
 *
 */


// .th-grid {
//   @include clearfix();
//   padding-left: 0; // reset

//   @supports (display: flex) {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   li {
//     float: left;
//     flex: auto;
//     margin: 0.25em;
//     width: 100px;
//     max-width: 150px;
//     list-style: none;

//     @supports (display: flex) {
//       float: none;
//     }

//     a {
//       display: block;
//     }
//   }

//   img {
//     width: 100%;
//     height: auto;
//     border-radius: $border-radius;
//   }
// }

/* list override */
.list .th-grid a {
  margin-right: initial;
}
