/* ==========================================================================
   TABLE OF CONTENTS
   ========================================================================== */

.toc {
  margin: 2em 0 1.5em 0;
  font-family: $monospace-font-family;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: inline-block;
    position: relative;
    padding: 1em 1em 1em 2.5em;
    transition: 0.2s ease-out;
    border: 0.125em solid #ccc;
    border-radius: $border-radius;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    z-index: 6;

    &::before,
    &::after {
      position: absolute;
      top: 1.375em;
      left: 1em;
      width: 0.75em;
      height: 0.125em;
      transition: $global-transition;
      background-color: #333;
      line-height: 1;
      content: "";
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      border-color: #333;
    }
  }

  // selected
  input:checked + label {
    background-color: #000;
    color: #fff;

    &::before,
    &::after {
      background-color: #fff;
    }
  }

  // on hover show expand
  label:hover::after {
    transform: rotate(90deg);
  }

  input:checked + label:hover::after {
    transform: rotate(0);
  }
}

.toc__menu > ul {
  padding: 0;
  list-style-type: none;
  counter-reset: section;

  li {
    display: block;
    font-weight: normal;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > li {
    padding-top: 1em;
    counter-increment: section;
    font-weight: 700;

    &::before {
      content: counter(section) ". ";
    }

    &:not(:last-child) {
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
    }

    > ul {
      padding-top: 1em;
      padding-left: 1em;
    }
  }

  ul {
    list-style-type: none;
    counter-reset: subsection;

    > li {
      counter-increment: subsection;

      &::before {
        content: counter(section) "." counter(subsection) ". ";
      }
    }
  }
}

.toc .toc__menu {
  position: relative;
  max-height: 0;
  margin: 0;
  transform: translate(0, 10%);
  transition: 0.3s ease-in-out;
  font-size: 0.8em;
  opacity: 0;
  overflow: hidden;
  z-index: 5;
}

.toc input:checked ~ .toc__menu {
  max-height: 100vh;
  margin-top: 1em;
  transform: translate(0, 0);
  transition: 0.5s ease-in-out;
  opacity: 1;
}
