/* ==========================================================================
   Variables
   ========================================================================== */

/* Breakpoint widths */
$sm-up: 576px;
$md-up: 768px;
$lg-up: 992px;
$xl-up: 1200px;

$sm-down: max-width 575.98px;
$md-down: max-width 767.98px;
$lg-down: max-width 991.98px;
$xl-down: max-width 1199.98px;

$xs-only: max-width 575.98px;
$sm-only: 576px 767.98px;
$md-only: 768px 991.98px;
$lg-only: 992px 1199.98px;
$xl-only: 1200px;

/* Typography */
$modularscale: (
  base: 1em,
  ratio: 1.2,
  h: (
    ratio: 1.125
  )
);

$base-font-size: 112.5;
$line-height: 1.45;

$sans-serif-font: Helvetica, Arial, sans-serif;
$serif-font: "Spectral", Georgia, serif;
$monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
$alternate-font: "Alegreya", serif;

/* Colors */
$base-color: #393e46;
$text-color: #111;
$accent-color: #00638a;
$background-color: #fff;
$code-background-color: tint($base-color, 95%);
$border-color: mix(#fff, $base-color, 80%);
$overlay-color: $base-color;
$section-bg-color: mix($base-color, #fff, 10%);
$section-dark-bg-color: mix(#000, $base-color, 50%);
$section-about-bg-color: mix(#000, #2a201b, 50%);
$section-work-bg-color: mix(#000, #6e2364, 50%);

$primary-color: #1c76d6;
$success-color: #1a882e;
$warning-color: #92710c;
$danger-color: #b11313;
$info-color: #1c7cd6;

/* Syntax highlighting (base16) colors */
$base00: #f2f2f2;
$base01: #e3e3e3;
$base02: #b9b9b9;
$base03: #ababab;
$base04: #525252;
$base05: #464646;
$base06: #252525;
$base07: #101010;
$base08: #7c7c7c;
$base09: #999999;
$base0a: #a0a0a0;
$base0b: #8e8e8e;
$base0c: #868686;
$base0d: #686868;
$base0e: #747474;
$base0f: #5e5e5e;

$facebook-color: #3b5998;
$flickr-color: #0063dc;
$github-color: #181717;
$google-plus-color: #dc4e41;
$instagram-color: #e4405f;
$rss-color: #ffa500;
$twitter-color: #1da1f2;
$youtube-color: #cd201f;

/* Bigfoot.js */
$button-color: #000;
$button-standard-opacity: 0.1;
$button-hovered-opacity: 0.5;

/* Border radius */
$border-radius: 0.125em;

/* Global transition */
$global-transition: all 0.4s ease;

/* Navicon */
$navicon-width: 1.75em;
$navicon-height: 0.25em;
$navicon-duration: 0.5s;
$navicon-toggled-size: 1;
$navicon-content-bg: $text-color;
$navicon-focus-color: rgba($text-color, 0.25);

/* Site image */
$site-image-width: 25px;
$site-image-height: 25px;
