/* ==========================================================================
   SCSS VARIABLES
   ========================================================================== */

/*
   Typography related variables
   ========================================================================== */

$serif                        : "PT Serif", serif;
$sans-serif                   : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$monospace                    : Menlo, Consolas, Monaco, "Courier New", Courier, monospace;

$doc-font-size                : 16;
$doc-line-height              : 24;

$border-radius                : 4px;

/*
   Color variables
   ========================================================================== */

$white                        : #fff;
$black                        : #000;

$gray                         : #4c4c4c;
$dark-gray                    : #191413;
$light-gray                   : #e2e2e2;
$lighter-gray                 : #f9f9f9;

$text-color                   : $gray;
$headline-color               : $gray;

$background-color             : $lighter-gray;
$splash-background-color      : $black;

$highlighter-color            : #ffd43b;

$primary-color                : mix($black, $gray, 35%);
$success-color                : mix($gray, #40c057, 15%);
$warning-color                : mix($gray, #fcc419, 15%);
$danger-color                 : mix($gray, #f03e3e, 15%);
$info-color                   : mix($gray, #1c7cd6, 15%);

$border-color                 : mix($white, $gray, 80%);

$link-color                   : $info-color;
$link-underline-color         : #a9a9a9;
$link-color-hover             : mix($gray, #1862ab, 15%);
$link-color-visited           : mix($gray, #91a7ff, 35%);

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $white;
$table-header-color           : $white;
$table-hover-color            : mix($gray, $table-background, 10%);
$table-stripe-color           : mix($gray, $table-background, 10%);
$table-stripe-color-hover     : mix($gray, $table-background, 10%);

$badge-background             : $primary-color;
$badge-dark-color             : $black;
$badge-danger-color           : $danger-color;
$badge-info-color             : $info-color;
$badge-warning-color          : $warning-color;
$badge-success-color          : $success-color;
$badge-font-color             : $white;

$facebook-color               : #3b5998;
$flickr-color                 : #ff0084;
$foursquare-color             : #0cbadf;
$google-plus-color            : #dd4b39;
$instagram-color              : #4e433c;
$linkedin-color               : #4875b4;
$pinterest-color              : #cb2027;
$rss-color                    : #fa9b39;
$tumblr-color                 : #2c4762;
$twitter-color                : #55acee;
$vimeo-color                  : #1ab7ea;
$youtube-color                : #ff3333;
$github-color                 : #333333;
$youtube-color                : #cd201f;

/*
   Form variables
   ========================================================================== */

$form-background              : mix($white, $border-color, 50%);
$form-border-color            : $border-color;
$form-border-color-hover      : mix($black, $border-color, 10%);
$form-border-color-focus      : $primary-color;
$form-border-radius           : $border-radius;
$form-box-shadow              : inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus        : $form-box-shadow, 0 0 5px rgba(mix($black, $form-border-color-focus, 10%), 0.7);
$form-font-family             : $sans-serif;
$form-font-size               : $doc-font-size + 0px;

/*
   Code snippet variables
   ========================================================================== */

$code-background              : mix($white, $border-color, 75%);
$inline-code-background       : mix($white, $border-color, 75%);

/*
   Screen sizes
   ========================================================================== */

$small                        : 600px;
$medium                       : 768px;
$medium-wide                  : 900px;
$large                        : 1024px;
$x-large                      : 1440px;

/*
   Visual sitemap
   ========================================================================== */

$sitemap-primary-color        : mix($white, $primary-color, 60%);
$sitemap-sub-color            : mix($white, $primary-color, 80%);
$sitemap-sub-sub-color        : mix($white, $primary-color, 90%);

/*
   Bigfoot.js
   ========================================================================== */

$button-color                 : $gray;
$button-hovered-color         : $button-color;
$button-activating-color      : $button-color;
$button-active-color          : $button-color;
$button-standard-opacity      : 0.2;
$button-hovered-opacity       : 0.5;
$button-active-opacity        : 1;

/*
   Animation
   ========================================================================== */

$global-transition            : all 0.3s ease-in-out;
