/* ==========================================================================
   Variables
   ========================================================================== */

/* Breakpoint widths */
$sm-up: 576px;
$md-up: 768px;
$lg-up: 992px;
$xl-up: 1200px;

$sm-down: max-width 575.98px;
$md-down: max-width 767.98px;
$lg-down: max-width 991.98px;
$xl-down: max-width 1199.98px;

$xs-only: max-width 575.98px;
$sm-only: 576px 767.98px;
$md-only: 768px 991.98px;
$lg-only: 992px 1199.98px;
$xl-only: 1200px;

/* Typography */
$base-font-size: 112.5;
$line-height: 1.45;

$sans-serif-font: Helvetica, Arial, sans-serif;
$serif-font: Georgia, serif;
$monospace-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$alternate-font: "Alegreya", serif;

/* Colors */
$base-color: #393e46;
$text-color: #111;
$accent-color: #00638a;
$background-color: #fff;
$code-background-color: tint($base-color, 95%);
$border-color: mix(#fff, $base-color, 80%);
$overlay-color: $base-color;
$section-bg-color: mix($base-color, #fff, 10%);
$section-dark-bg-color: mix(#000, $base-color, 50%);
$section-about-bg-color: mix(#000, #2a201b, 50%);
$section-work-bg-color: mix(#000, #6e2364, 50%);

$primary-color: #1c76d6;
$success-color: #1a882e;
$warning-color: #92710c;
$danger-color: #b11313;
$info-color: #1c7cd6;

/* Syntax highlighting (base16) colors */
$base00: #fafafa;
$base01: #073642;
$base02: #586e75;
$base03: #657b83;
$base04: #839496;
$base05: #586e75;
$base06: #eee8d5;
$base07: #fdf6e3;
$base08: #dc322f;
$base09: #cb4b16;
$base0a: #b58900;
$base0b: #859900;
$base0c: #2aa198;
$base0d: #268bd2;
$base0e: #6c71c4;
$base0f: #d33682;

$facebook-color: #3b5998;
$flickr-color: #0063dc;
$github-color: #181717;
$google-plus-color: #dc4e41;
$instagram-color: #e4405f;
$rss-color: #ffa500;
$twitter-color: #1da1f2;
$youtube-color: #cd201f;

/* Bigfoot.js */
$button-color: #000;
$button-standard-opacity: 0.1;
$button-hovered-opacity: 0.5;

// /* Max-width of the main content */
// $main-max-width: $xlarge;

// /* Width of the sidebar */
// $sidebar-width: $small;

// /* Background color of the sidebar */
// $sidebar-background-color: $base-color;

/* Border radius */
$border-radius: 0.125em;

// /* Forms */
// $form-background: mix(#fff, $border-color, 50%);
// $form-border-color: $border-color;
// $form-border-color-hover: mix(#000, $border-color, 10%);
// $form-border-color-focus: $base-color;
// $form-border-radius: $border-radius;
// $form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
// $form-box-shadow-focus: $form-box-shadow,
//   0 0 5px rgba(mix(#000, $form-border-color-focus, 10%), 0.7);
// $form-font-family: $base-font-family;
// $form-font-size: $base-font-size;

/* Global transition */
$global-transition: all 0.4s ease;

/* Navicon */
$navicon-width: 1.75em;
$navicon-height: 0.25em;
$navicon-duration: 0.5s;
$navicon-toggled-size: 1;
$navicon-nav-bg-close: #fff;
$navicon-nav-bg-open: #fff;
$navicon-content-bg: $text-color;
$navicon-focus-color: rgba($text-color, 0.25);

/* Site image */
$site-image-width: 25px;
$site-image-height: 25px;

// /* Susy grid settings */
// $susy: (columns: 16, gutters: 0, math: fluid, output: float);
