/* ==========================================================================
   Work/Portfolio Post or Page
   ========================================================================== */

.work {

  @include breakpoint($medium-wide) {
    width: span(8);
  }

  .page__cover {

    @include breakpoint($medium-wide) {
      width: span(4);
    }
  }

  .page__content {
    position: initial;
  }
}

.work__hero {
  margin-left: -1em;
  margin-right: -1em;

  @include breakpoint($small) {
    margin-left: -2em;
    margin-right: -2em;
  }

  @include breakpoint($medium-wide) {
    margin-left: initial;
    margin-right: initial;
    margin-bottom: 3em;
  }

  img {
    width: 100%;
  }
}

.work__gallery {

  @include breakpoint(max-width $medium-wide) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include breakpoint($medium-wide) {
    position: absolute;
    top: 8em;
    right: 0;
    width: span(4);
    height: 100%;
  }

  @include breakpoint($x-large) {
    width: span(4);
  }
}

.work__gallery-img {
  display: block;
  width: calc(50% - 2em);
  padding: 0.5em;

  @include breakpoint($small) {
    padding: 1em;
  }

  @include breakpoint($medium-wide) {
    width: 100%;
    padding: 0 span(1) span(1);
    transform: translateX(-3em);

    &:first-child {
      padding-top: 2em;
    }
  }

  img {
    display: block;
    width: 100%;
    background: #fff;
  }
}
