/* ==========================================================================
   MADEMISTAKES
   ========================================================================== */

@import "variables";

/*
   Vendor
   ========================================================================== */

@import "vendor/breakpoint/breakpoint"; // media query mixins

/* Susy grid */
@import "vendor/susy/susy";
$susy: (
  columns                     : 12,
  gutters                     : 1/4,
  math                        : fluid,
  output                      : float,
  gutter-position             : after,
  global-box-sizing           : border-box,
  // debug: (
  //   image                  : show,
  //   color                  : blue,
  //   output                 : overlay,
  //   toggle                 : top right,
  // ),
);

@import "mixins";
@import "base";
@import "animations";
@import "utilities";
@import "buttons";

@import "site";
@import "page"; // page-post
@import "work"; // work-portfolio
@import "index"; // archive listing
@import "toc"; // table of contents
@import "splash"; // splash page

@import "tables";
@import "notices";
@import "thumbnail-grids";
@import "forms";
@import "teasers";
@import "lists";
@import "google-search"; // Google search form box
@import "syntax-highlighting";
@import "paper-color-swatches"; // color swatches for Paper by FiftyThree posts
@import "comments";
@import "review-box";
@import "banners"; // banner advertisements
@import "footnotes";
@import "style-guide";
@import "vendor/lity/lity";
@import "vendor/bigfoot/bigfoot-number";
@import "print"
